.intro-1 {
  
    font-size: 17px !important;
    text-align: justify !important;
    color: #000 !important; 
    line-height: 30px; 
    font-family: inter,sans-serif;            
}
.intor-text{
    font-family: inter,sans-serif; 
    font-size: 18px;
    background-color: #fff; 
    color: #000;
    border:none;
  }