<div class="flex flex-col max-w-600 md:min-w-160 max-h-screen -m-6">




    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary" style="background-color: #FCB713 !important;">

              <div class="text-lg font-medium">Product Barcode</div>

              <button

              mat-icon-button

              (click)="onClose()"

              [tabIndex]="-1">

              <mat-icon

                  class="text-current"

                  [svgIcon]="'heroicons_outline:x'"></mat-icon>

          </button>

             

          </div>

     

              <form

              class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"

              [formGroup]="BarcodeForm">

       
              <div class="flex flex-col md:flex-row gap-4">

                <!-- Name -->

                <mat-form-field class="flex flex-col flex-auto">

                    <mat-label>WareHouse</mat-label>
        
                    <mat-select matInput [formControlName]="'WareHouseId'" (selectionChange)="OnWarehouseChange($event)">
        
                        <mat-option *ngFor="let w of Warehousedetails" [value]="w.Id">{{w.Name}}</mat-option>
        
                    </mat-select>
        
                </mat-form-field>

                <mat-form-field class="flex flex-col flex-auto">
    
                    <mat-label>Flock</mat-label>
        
                    <mat-select matInput [formControlName]="'FlockId'">
        
                        <mat-option *ngFor="let f of flockdetails" [value]="f.Id">{{f.Name}}</mat-option>
        
                    </mat-select>
        
                </mat-form-field>
               
                <mat-form-field class="flex flex-col flex-auto">

                    <mat-label>Batch Id</mat-label>
        
                    <input
        
                        matInput readonly
        
                        [formControlName]="'BatchId'">
                       
        
                </mat-form-field>
            
                
                 </div>

          <div class="flex flex-col md:flex-row gap-4">
          
            <mat-form-field class="flex flex-col flex-auto">

                <mat-label>Stack</mat-label>

                <mat-select matInput [formControlName]="'StackId'">
    
                    <mat-option *ngFor="let w of StackData" [value]="w.Id">{{w.Name}}</mat-option>
    
                </mat-select>

            </mat-form-field>


            <mat-form-field class="flex flex-col flex-auto">

                <mat-label>Product</mat-label>
    
            <mat-select matInput [formControlName]="'ProductId'" (selectionChange)="OnProductChange($event)">
    
                <mat-option *ngFor="let p of productdetails" [value]="p.Id">{{p.Name}}</mat-option>
    
            </mat-select>
    
            </mat-form-field>
            <mat-form-field class="flex flex-col flex-auto">

                <mat-label>SKU</mat-label>
    
                <mat-select matInput [formControlName]="'SkuId'" disabled="">
    
                    <mat-option *ngFor="let s of skudetails" [value]="s.Id">{{s.Name}}</mat-option>
    
                </mat-select>
    
            </mat-form-field>
       
    
    
            </div>

            <div class="flex flex-col md:flex-row gap-4">
             
               
             

          </div>
          


          <div class="flex flex-col md:flex-row gap-4">

            <mat-form-field class="flex flex-col flex-auto" >

                <mat-label>Packing Date</mat-label>

                <input id="DateYear"  [max]="maxDate"   [formControlName]="'PackedDate'"  matInput [matDatepicker]="picker">

                <mat-hint>MM/DD/YYYY</mat-hint>

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>

                <mat-datepicker #picker></mat-datepicker>

               </mat-form-field>
               <mat-form-field class="flex flex-col flex-auto" >

                <mat-label>Egg Lay Date</mat-label>

                <input id="DateYear"   [max]="maxDate"  [formControlName]="'EggLayDate'"  matInput [matDatepicker]="EggLayDate">

                <mat-hint>MM/DD/YYYY</mat-hint>

                <mat-datepicker-toggle matIconSuffix   [for]="EggLayDate"></mat-datepicker-toggle>

                <mat-datepicker    #EggLayDate></mat-datepicker>

               </mat-form-field>
               <mat-form-field class="flex flex-col flex-auto">

                <mat-label>Days To Expiry </mat-label>

                <input

                    matInput type="number"

                    [formControlName]="'ToExpireNoOfDays'">
                    <mat-error *ngIf="pb.ToExpireNoOfDays.touched && pb.ToExpireNoOfDays.invalid">
                        <p *ngIf="pb.ToExpireNoOfDays.errors?.required">To Expiry Days</p>
                        <!-- <p *ngIf="pb.NoOfQuantity.errors?.pattern">alphabets are not allowed</p>    -->
                      </mat-error>

            </mat-form-field>

          
            <mat-form-field class="flex flex-col flex-auto">

                <mat-label>No of Quantity</mat-label>

                <input

                    matInput type="number"

                    [formControlName]="'NoOfQuantity'">
                    <mat-error *ngIf="pb.NoOfQuantity.touched && pb.NoOfQuantity.invalid">
                        <p *ngIf="pb.NoOfQuantity.errors?.required">No Of Quantity is required</p>
                        <!-- <p *ngIf="pb.NoOfQuantity.errors?.pattern">alphabets are not allowed</p>    -->
                      </mat-error>

            </mat-form-field> 
         

    </div>

    <!-- <div class="flex flex-col md:flex-row gap-4">
        <h3>Is Repacking </h3>
       
        <mat-radio-group   (click)="selectPartialCheckbox()" aria-label="Select an option" [formControlName]="'IsRepacking'">
           
            <mat-radio-button [value]=true fxLayout="row">Yes</mat-radio-button> &nbsp;
            <mat-radio-button [value]=false fxLayout="row">No</mat-radio-button>
      
          </mat-radio-group>
     
    </div> -->

    <div class="flex flex-col md:flex-row gap-4" *ngIf="!IsRepacking">
        <!-- <mat-form-field class="flex flex-col flex-auto">
        <mat-label>Re-Packing BatchId</mat-label>

        <input    [formControlName]="'RePackingBatchId'"  matInput>
    </mat-form-field> -->
    <mat-form-field class="flex flex-col flex-auto">
        <mat-label>Re-Packing BatchId (Old)</mat-label>
		<input
        placeholder="Search BatchId"
        [value]="orgname1"
        matInput
        [matAutocomplete]="auto"
        [formControlName]="'RePackingBatchId'"  
        [(ngModel)]="selectedUser"
        (input) = "filterUsers()"
        
     
         
          
          
           >
            
		<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"  (optionSelected)='onBatchChange($event.option.value)'>
			<mat-option *ngFor="let customer of filterdOptions" [value]="customer.BatchId" [displayWith]="getTitle.bind(this)" >
				{{customer.BatchId}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>


    <mat-form-field class="flex flex-col flex-auto">
        <mat-label>Re-Packing SKU (Old)</mat-label>

        <input    [formControlName]="'RePackingSKUId'"  matInput>
    </mat-form-field>
    <mat-form-field class="flex flex-col flex-auto">
        <mat-label>Re-Packing Qty (Old)</mat-label>

        <input    [formControlName]="'RePackingQty'"  matInput>
    </mat-form-field>
  
    </div>


       

      

       

              <button

              class="sm:mx-3 " style="width:100px;margin-left: 520px !important;"

              mat-stroked-button

              mat-dialog-close=false

              (click)="onCancel()">

              <span>Cancel</span>

          </button>

          <!-- Send -->

          <button

              class="order-first sm:order-last"

              mat-flat-button

              [color]="'primary'" style="background-color: #FCB713 !important; width: 200px; margin-left: 650px; margin-top: -35px;"

              [disabled]="BarcodeForm.invalid"

              (click)="onSave()"

              >

              <span *ngIf="!BarcodeForm.disabled">

               Generate BarCode

   

              </span>

             

           

          </button>

          </form>

          </div>
          
   

   

   

          <!-- <div class ="row"  >

           <canvas style="  margin-left: 0px;margin-top :0px;width:170px;height: 75px;" id="barcode" >

         

           </canvas>

         

        </div>

                        <button type="button" class="btn btn-primary; "style="background-color:#FCB713;margin-left: 300px;width:30%;margin-top:-5%;" >Generation of Barcode</button> -->



                        