<div class="flex flex-col max-w-600 md:min-w-160 max-h-screen -m-6">
  
  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
      style="background-color: #8cc540 !important;">
      <div class="text-lg " style="font-weight: 900;">Scope 2: Location based</div>
      <button mat-icon-button (click)="onClose()" [tabIndex]="-1">
          <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
      </button>
  </div>
  <form class="flex flex-col flex-auto p-6 sm:p-8" [formGroup]="electtricform">
    <div class="flex flex-col md:flex-row gap-4" >
      <mat-form-field class="flex flex-col flex-auto" >
        <mat-label>Choose Calculator</mat-label>
        <mat-select matInput [formControlName]="'DataType'" (selectionChange)="DataTypeChange($event.value)" >
          <mat-option value="electric" style="color: #1978ac !important;">Electricity</mat-option>
          <mat-option value="heat" style="color: #1978ac !important;">Steam and Heat</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

<div class="col-xl-12 in-top overflow-y-auto"  *ngIf="electric" >
  

      <div class="flex flex-col md:flex-row gap-4">
          <mat-form-field class="flex flex-col flex-auto">
              <mat-label>Building Name</mat-label>
              <input matInput [formControlName]="'BuildingName'">
          </mat-form-field>

          <mat-form-field class="flex flex-col flex-auto">
            <mat-label>Building address</mat-label>
            <textarea matInput [formControlName]="'Buildingaddress'"></textarea>
          </mat-form-field>

      </div>
      <div class="flex flex-col md:flex-row gap-4">

            <mat-form-field class="flex flex-col flex-auto">
              <mat-label>Landmark</mat-label>
              <input matInput [formControlName]="'Landmark'">
          </mat-form-field>

          <mat-form-field class="flex flex-col flex-auto">
              <mat-label>Country</mat-label>
              <!-- <mat-select matInput [formControlName]="'Country'">
                  <mat-option *ngFor="let c of country" [value]="c.Id">{{c.Country}}</mat-option>
              </mat-select> -->

              <!---->

              <mat-select
              [formControlName]="'Country'"
              >
              <input matInput
                  placeholder="Search"
                  (input)="onInputChangecountry1($event.target.value)"
                  [matAutocomplete]="auto">

              <mat-option
                  *ngFor="let item of filteredList7"
                  [value]="item.Id">
                  <mat-autocomplete
                      #auto
                     >

                  </mat-autocomplete>
                  {{item.Country}}
              </mat-option>

          </mat-select>

          </mat-form-field>

      </div>
      <div class="text-lg " style="font-weight: 900;">Electricity Details</div>
      <br>
      <div class="flex flex-col md:flex-row gap-4">

        <mat-form-field class="flex flex-col flex-auto">
          <mat-label>Volume</mat-label>
          <input matInput inputWithComma [formControlName]="'Volume'">
      </mat-form-field>

      <mat-form-field class="flex flex-col flex-auto">
          <mat-label>Unit</mat-label>
          <mat-select matInput [formControlName]="'Units'">
              <mat-option *ngFor="let u of units" [value]="u.Name">{{u.Name}}</mat-option>
          </mat-select>
      </mat-form-field>

  </div>
  <div class="col-xl-12 in-top overflow-y-auto">
      <div class="box-body table-responsive">

          <table id="datatable" class="table table-striped table-bordered " style="width:100%; border: 2px solid #1978ac;">
              <thead class="tableheader">
                  <tr>
                      <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                      padding: 0.75rem 5.6rem;     border: 1px solid var(--border-color);">Building Name</th>
                      <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                      padding: 0.75rem 5.6rem;     border: 1px solid var(--border-color);">Building address</th>
                      <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                      padding: 0.75rem 5.6rem;     border: 1px solid var(--border-color);">Landmark</th>
                      <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                      padding: 0.75rem 4rem;     border: 1px solid var(--border-color);">Country</th>
                      <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                      padding: 0.75rem 2.6rem;     border: 1px solid var(--border-color);">Volume</th>
                      <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                      padding: 0.75rem 2.6rem;     border: 1px solid var(--border-color);">Unit</th>
                      <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                      padding: 0.75rem 5.6rem;     border: 1px solid var(--border-color);">tCO2e</th>
              </thead>
              <tbody>
                  <tr *ngFor="let tpt  of lookupdtl; let i=index">
                      <td>
                          <input id="BuildingName{{i}}" class="form-control" [value]="tpt.BuildingName" readonly>
                      </td>
                      <td>
                          <input id="Buildingaddress{{i}}" class="form-control" [value]="tpt.Buildingaddress" readonly>
                      </td>

                      <td>
                          <input id="Landmark{{i}}" class="form-control" [value]="tpt.Landmark" readonly>
                      </td>
                      <td>
                          <input id="Country{{i}}" class="form-control" [value]="tpt.Country" readonly>
                      </td>
                      <td>
                          <input id="Volume{{i}}" inputWithComma class="form-control" [value]="tpt.Volume" readonly style="text-align: right;">
                      </td>
                      <td>
                        <input id="Units{{i}}" class="form-control" [value]="tpt.Units" readonly>
                    </td>
                    <td>
                      <input id="tC02e{{i}}" class="form-control" [value]="tpt.tC02e" readonly style="text-align: right;">
                  </td>
                      <td>
                          <button style="padding-top:17px" id="delete{{i}}" type="button" (click)="deleteQ102a(i)"><i
                                  style="color:red" class="fa fa-trash" aria-hidden="true"></i></button>
                      </td>
                  </tr>
                  <tr *ngIf="lookupdtl.length>0">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><b>Total Sum:</b></td>
                      <td style="text-align: right;">{{sumtotal| number: '1.0-2'}}</td>
                  </tr>
              </tbody>
          </table>
          
      </div>

      <div class="d-flex align-items-start gap-3 mt-4">
        <button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab"
            data-nexttab="pills-experience-tab"   (click)="addFieldValue()" id="disableButton" style="padding-left: 2.9rem;
            padding-right: 45px;
        "> Add</button>
    
    </div>
    
  </div>
  <div >
  
      Note:<br>
      1. Scope 2 emissions are indirect emissions from the generation of purchased energy, from a utility provider.<br>
      2. Emission factors are sourced from the latest EPA eGrid (31 January 2023).

      Additionally, country-specific sources such as Australian National Greenhouse Accounts Factors (February 2023), Canada's Official Greenhouse Gas Inventory (April 2023),Hong Kong Electric Company (2022),UK Government GHG Conversion Factors for Company Reporting (2023), Association of Issuing Bodies (AIB) 2023, etc.
    </div>


  
  <div class="flex flex-col sm:flex-row justify-end p-6 sm:p-8">
    <div class="flex items-center mt-4 sm:mt-0" style="margin: auto;">

       
        <button class="esg-back-btn btn dash-btn-1 btn-label order-first sm:order-last" mat-flat-button [color]="'primary'"
          style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important; background-color: #fff !important; border-radius: 0px !important; border-radius: 5px !important;"  (click)="onSave()">
            Submit
        </button>
    </div>
</div>
</div></form>
<div class="col-xl-12 in-top overflow-y-auto" *ngIf="heat">
  <div class="box-body table-responsive">
    <table id="datatable" class="table table-striped table-bordered" style="width:100%; border: 2px solid #1978ac; margin-top: 35px;">
      <thead class="tableheader">
        <tr>
          <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
          padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Building Name</th>
           <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
           padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Country</th>
          <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
          padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">No. of mmBtu</th>
          <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
          padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">GWP</th>
             <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
             padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">EF kgCO2e/mmBtu</th>
          <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
          padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">User based EF</th>
          <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
          padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Total Emissions <br>(tCO2e)</th>
          <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
          padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tpt of lookupdtl1; let i=index">
          <td>
            <input id="uno8{{i}}"  class="form-control" [(ngModel)]="tpt.uno8" style="height: 48px; border: 1px solid #1c75bc; ">
          </td>
          <td>
            <mat-form-field class="flex flex-col min-w-50">                                                                         
              <!-- <mat-select  >
                <mat-option *ngFor="let c of country" [value]="c.Id">{{c.Country}}</mat-option>
              </mat-select> -->
              <!---->
              <mat-select
              id="uno9{{i}}"   (selectionChange)="OnChangeType2(i,$event)" [value]="tpt.uno9">
              <input matInput placeholder="Search"(input)="onInputChangecountry1($event.target.value)"[matAutocomplete]="auto">

              <mat-option *ngFor="let item of filteredList7" [value]="item.Country">
                  <mat-autocomplete  #auto (optionSelected)="onOptionSelectedrelatab2($event,i)"    >

                  </mat-autocomplete>
                  
                  {{item.Country}}
              </mat-option>

          </mat-select>
            </mat-form-field>  
          </td>
          <td>
            <input id="uno{{i}}"  class="form-control" [(ngModel)]="tpt.uno" style="height: 48px; border: 1px solid #1c75bc; " inputWithComma>
          </td>
          <td> 
            <mat-form-field class="flex flex-col min-w-50">
              <mat-select id="uno1{{i}}" (selectionChange)="fueldrop($event.value, i)" [value]="tpt.uno1" [disabled]="tpt.gwpSelected">
                <mat-option *ngFor="let c of rental" [value]="c.Id">
                  {{ c.GWP }}
                </mat-option>
              </mat-select>
            </mat-form-field>
                     
          </td>
          <td>
            <input id="uno2{{i}}" class="form-control" [value]="tpt.uno2" readonly style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
          </td>
          <td>
            <input id="uno3{{i}}" class="form-control" [value]="tpt.uno3" (keyup)="uu(i, $event)" (keyup)="uuxff($event)" style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
          </td>
          <td>
            <input id="uno4{{i}}" class="form-control" [value]="tpt.uno4"   inputWithComma style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
          </td>
          <td>
            <button style="padding-top:17px" id="delete{{i}}" type="button" (click)="deleteQ102a3(i)"><i
                    style="color:red" class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
        </tr>
        <tr *ngIf="lookupdtl1.length>0">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><b>Total Emission:</b></td>
          <td style="text-align: right;">{{sumtotal1 | number: '1.0-2'}} tCO2e</td>
      </tr>
      </tbody>
      
    </table>

    <style>
      .table-bordered > :not(caption) >    {
border-width: 0 0px;
}
    </style>


</div>

<div class="d-flex align-items-start gap-3 mt-4">
<button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab"
  data-nexttab="pills-experience-tab" (click)="addFieldValue1()" id="disableButton" style="padding-left: 2.9rem;
  padding-right: 45px;
"> Add</button>

</div>
<div >
  
  Note:<br>
  1. Scope 2 emissions are indirect emissions from the generation of purchased energy, from a utility provider.<br>
  2. Emission factors are sourced from the latest EPA eGrid (31 January 2023).

  Additionally, country-specific sources such as Australian National Greenhouse Accounts Factors (February 2023), Canada's Official Greenhouse Gas Inventory (April 2023),Hong Kong Electric Company (2022),UK Government GHG Conversion Factors for Company Reporting (2023), Association of Issuing Bodies (AIB) 2023, etc.
</div>
<div class="flex flex-col sm:flex-row justify-end p-6 sm:p-8">
  <div class="flex items-center mt-4 sm:mt-0" style="margin: auto;">

     
      <button class="esg-back-btn btn dash-btn-1 btn-label order-first sm:order-last" mat-flat-button [color]="'primary'"
        style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important; background-color: #fff !important; border-radius: 0px !important; border-radius: 5px !important;"  (click)="onSave()">
          Submit
      </button>
  </div>
</div>
</div>
</div>