    
<div aria-label1="pdf-page-2" *ngIf="(qaaobject[7]['PolicyQuestion1'] !=undefined)">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
        <div class="card">

          <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;">
          <div class="card-img-overlay p-0 d-flex flex-column">

            <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">
              <span class="float-end">{{reportname}}</span>
            </div>
            {{hello1(0,1)}}
         

            <div class="row"  *ngIf="qaaobject[7]['PolicyQuestion1'] !=undefined">
              <h3 class="brsr-title-sub2 brsrtext02 "><b >SECTION B: MANAGEMENT AND PROCESS DISCLOSURES </b></h3>
            </div>

            <div class="row"  *ngIf="qaaobject[7]['PolicyQuestion1'] !=undefined">
              <h3 class="brsr-title-sub2 brsrtext02 "><b >Policy and management processes </b></h3>
            </div>


           
              <div class="row"  *ngIf="qaaobject[7]['PolicyQuestion1'] !=undefined">
                <h3 class="brsr-title-sub2 "><b >1. This section is aimed at helping businesses demonstrate the structures, policies and processes put in place towards adopting the NGRBC Principles and Core Elements. </b></h3>
              </div>
           



            <div class="box-body table-responsive freport01" *ngIf="qaaobject[7]['PolicyQuestion1'] !=undefined">

            <table id="datatable"  
            class="table table-striped table-bordered "
            style="width:100%;   margin-top: 15px;">
            <thead>
               
     
                  <tr colspan="1">
                    <td  class="trp1"></td>
                    <td class="trp1">P1</td>
                    <td class="trp1">P2</td>
                    <td class="trp1">P3</td>
                    <td class="trp1">P4</td>
                    <td class="trp1">P5</td>
                    <td class="trp1">P6</td>
                    <td class="trp1">P7</td>
                    <td class="trp1">P8</td>
                    <td class="trp1">P9</td>
                  </tr>
                
                  
                   
                

                <tr>
                  
                  <td style="text-align: center; font-weight: bold; width: 10%;"
                      colspan="12">
                      Policy and management processes
                  </td>
              </tr>

              <tr>
                <td  colspan="1" class="hello-babys sec-text">Disclosures</td>
                <td class="fptable sec-text"
                    style="writing-mode: tb;transform: rotate(180deg); ">
                    Ethics &amp; Transparency</td>
                <td class="fptable sec-text"
                    style="writing-mode: tb;transform: rotate(180deg);">
                    Product Responsibility</td>
                <td class="fptable sec-text"
                    style="writing-mode: tb;transform: rotate(180deg);">
                    Human Resources</td>
                <td class="fptable sec-text"
                    style="writing-mode: tb;transform: rotate(180deg);">
                    Stakeholders Engagement</td>
                <td class="fptable sec-text"
                    style="writing-mode: tb;transform: rotate(180deg);">
                    Respect for Human Rights</td>
                <td class="fptable sec-text"
                    style="writing-mode: tb;transform: rotate(180deg);">
                    Responsible manufacturing</td>
                <td class="fptable sec-text"
                    style="writing-mode: tb;transform: rotate(180deg);">
                    Public Policy Advocacy</td>
                <td class="fptable sec-text"
                    style="writing-mode: tb;transform: rotate(180deg);">
                    Inclusive Growth</td>
                <td class="fptable sec-text"
                    style="writing-mode: tb;transform: rotate(180deg);">
                    Customer Engagement</td>
            </tr>


            <tr>
              <td class="sec-text" style="text-align: justify;">1a. Whether your entity’s policy/policies
                  cover each principle and its core
                  elements of the NGRBCs. (Yes/No)</td>
              <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion1'] }} </td>
              <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion2'] }}</td>
              <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion3'] }}</td>
              <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion4'] }}</td>
              <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion5']}}</td>
              <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion6'] }}</td>
              <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion7'] }}</td>
              <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion8'] }}</td>
              <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion9'] }}</td>
               
          </tr>


          <tr>
            <td class="sec-text" style="text-align: justify;">1b. Has the policy been approved by the
                Board? (Yes/No)</td>


                <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion10']}} </td>
                <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion11'] }}</td>
                <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion12'] }}</td>
                <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion13'] }}</td>
                <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion14']}}</td>
                <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion15']}}</td>
                <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion16'] }}</td>
                <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion17'] }}</td>
                <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion18'] }}</td>


        </tr>

        <tr >
          <td class="sec-text" colspan="1">1 c. Web Link of the Policies, if
              available</td>
         <td colspan="10">
         <h6 class="trp4 sec-text0">{{ qaaobject[7]['PolicyQuestion40'] }}</h6>
         <h6 class="trp4 sec-text0">{{ qaaobject[7]['PolicyQuestion41'] }}</h6>
         <h6 class="trp4 sec-text0"> {{ qaaobject[7]['PolicyQuestion42'] }}</h6>
         <h6 class="trp4 sec-text0">{{ qaaobject[7]['PolicyQuestion43'] }}</h6>
         <h6 class="trp4 sec-text0">{{ qaaobject[7]['PolicyQuestion44'] }}</h6>
         <h6 class="trp4 sec-text0">{{ qaaobject[7]['PolicyQuestion45'] }}</h6>
         <h6 class="trp4 sec-text0">{{ qaaobject[7]['PolicyQuestion46'] }}</h6>
         <h6 class="trp4 sec-text0">{{ qaaobject[7]['PolicyQuestion47'] }}</h6>
         <h6 class="trp4 sec-text0">{{ qaaobject[7]['PolicyQuestion48'] }}</h6>
         </td>
     
      </tr>

      <tr>
        <td class="sec-text" style="text-align: justify;">2.Whether the Company has translated the
            policy into procedures. (Yes/No)</td>

            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion19'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion20'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion21'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion22'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion23'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion24'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion25'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion26'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion27'] }} </td>
    </tr>

    <tr>
      <td class="sec-text" style="text-align: justify;">3.Do the enlisted policies extend to the
          Company’s value chain partners? (Yes/No)
      </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion28'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion29'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion30'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion31'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion32'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion33'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion34'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion35'] }} </td>
            <td class="tpr3 sec-text">{{ qaaobject[7]['PolicyQuestion36'] }} </td>
  </tr>

  <tr>
    <td class="sec-text"colspan="1" style="text-align: justify;">4.Name of the national and
        international codes/ certifications/
        labels/ standards (e.g. Forest
        Stewardship Council, Fairtrade,
        Rainforest Alliance, Trustea) standards
        (e.g. SA 8000, OHSAS, ISO, BIS) adopted
        by the Company and mapped to each
        principle.</td>
    <td colspan="10">
      <div >
        <h6 class="card-title mb-0 blockquote sec-text">{{ qaaobject[7]['PolicyQuestion37'] }}</h6>
      </div>
    </td>
</tr>
<tr>
    <td  class="sec-text" colspan="1" style="text-align: justify;">5.Specific commitments, goals
        and targets set by the Company with
        defined timelines, if any.</td>
    <td colspan="10">
      <div >
        <h6 class="card-title mb-0 blockquote sec-text">{{ qaaobject[7]['PolicyQuestion38'] }}</h6>
      </div>
      
    </td>
</tr>
<tr>
    <td  class="sec-text" colspan="1" style="text-align: justify;">6.Performance of the Company
        against the specific commitments, goals
        and targets along with reasons, in case
        the same are not met.</td>
    <td colspan="10">
      <div >
        <h6 class="card-title mb-0 blockquote sec-text">{{ qaaobject[7]['PolicyQuestion39']  }}</h6>
      </div>
    </td>
</tr>




            


            </thead>
          
        </table>

            </div>

      </div>
      <footer class="footer sun col-xxl-12">
        <div class="container-fluid">
          <div class="row">
            <div class="">
              <div class=" align-items-center d-flex">

                <a style="display:flex;"><span class="mypower"
                    style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"
                    src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
                    <h3  style="color: #000;
                    margin-top: 0px;     margin-left: 50px;font-size: medium;">{{tsarray1[0]}}</h3>
             
              </div>
            </div>
          </div>
        </div>
      </footer>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-before:always">&nbsp;</div>
</div>


<div aria-label1="pdf-page-9" *ngIf="((qaaobject[8]['Question1']!='') || (qaaobject[8]['Question2']!=undefined) || (qaaobject[8]['Question6']!='') || (qaaobject[8]['ten1']!=undefined))">
  {{hello1(1,1)}}
  <div class="container-fluid">

    <div class="row justify-content-center">

      <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">

        <div class="card">

 

          <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;">

          <div class="card-img-overlay p-0 d-flex flex-column">

 

            <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">

              <span class="float-end">{{reportname}}</span>

            </div>

 

            <div class="row">

              <h3 class="brsr-title-sub2 brsrtext02 "><b >Govenance, leadership and oversight </b></h3>

            </div>

 

           

   

 

            <div class="box-body table-responsive freport01" *ngIf="qaaobject[8]['Question1']!=''">

                                   

              <table id="datatable" class="table table-striped table-bordered " style="width:100%;       margin-top: 15px;">

                  <thead class="tableheader">

                      <tr>

                        <th class="trp1" colspan="3"></th>

                          <th class="trp1">P1</th>

                          <th class="trp1">P2</th>

                          <th class="trp1">P3</th>

                          <th class="trp1">P4</th>

                          <th class="trp1">P5</th>

                          <th class="trp1">P6</th>

                          <th class="trp1">P7</th>

                          <th class="trp1">P8</th>

                          <th class="trp1">P9</th>

                  </tr>

 

 

                  <tr>

                    <td  colspan="3" class="hello-babys sec-text">Disclosures</td>

                    <td class="fptable sec-text"

                        style="writing-mode: tb;transform: rotate(180deg); ">

                        Ethics and Transparency</td>

                    <td class="fptable sec-text"

                        style="writing-mode: tb;transform: rotate(180deg);">

                        Product Responsibility</td>

                    <td class="fptable sec-text"

                        style="writing-mode: tb;transform: rotate(180deg);">

                        Human Resources</td>

                    <td class="fptable sec-text"

                        style="writing-mode: tb;transform: rotate(180deg);">

                        Stakeholders Engagement</td>

                    <td class="fptable sec-text"

                        style="writing-mode: tb;transform: rotate(180deg);">

                        Respect for Human Rights</td>

                    <td class="fptable sec-text"

                        style="writing-mode: tb;transform: rotate(180deg);">

                        Responsible manufacturing</td>

                    <td class="fptable sec-text"

                        style="writing-mode: tb;transform: rotate(180deg);">

                        Public Policy Advocacy</td>

                    <td class="fptable sec-text"

                        style="writing-mode: tb;transform: rotate(180deg);">

                        Inclusive Growth</td>

                    <td class="fptable sec-text"

                        style="writing-mode: tb;transform: rotate(180deg);">

                        Customer Engagement</td>

                </tr>

 

               

 

                  </thead>

 

                  <tbody>

 

                    <tr >

                      <td  class="sec-text" colspan="1" style="text-align: justify;">

                        7.Statement by director responsible for the business responsibility report, highlighting ESG related challenges, targets and achievements (listed entity has flexibility regarding the placement of this disclosure)</td>

                      <td colspan="12">

                        <div >

                          <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['Question1']}}</h6>

                        </div>

                      </td>

                  </tr>

 

               

                 

               

                  </tbody>

              </table>

             

            </div>

 

 

 

 

            <div class="box-body table-responsive freport01" *ngIf="qaaobject[8]['Question2']!=undefined">

                                   

              <table id="datatable" class="table table-striped table-bordered " style="width:100%;       margin-top: 15px;">

                  <thead class="tableheader">

                      <tr>

                        <th class="trp1" colspan="3"></th>

                          <th class="trp1">P1</th>

                          <th class="trp1">P2</th>

                          <th class="trp1">P3</th>

                          <th class="trp1">P4</th>

                          <th class="trp1">P5</th>

                          <th class="trp1">P6</th>

                          <th class="trp1">P7</th>

                          <th class="trp1">P8</th>

                          <th class="trp1">P9</th>

                  </tr>

                  </thead>

 

               

                  <tbody>

 

                    <tr >

                      <td  class="sec-text" colspan="1" style="text-align: justify;">

                        8.Details of the highest authority responsible for implementation and oversight of the Business Responsibility policy (ies).</td>

                      <td colspan="12">

                        <div >

                          <h6 class="card-title mb-0 blockquote sec-text">Name: {{qaaobject[8]['Question2']}} &nbsp;{{qaaobject[8]['Question3']}}</h6>

                        </div>

 

                        <div>

                          <h6 class="card-title mb-0 blockquote sec-text">Designation: &nbsp;{{qaaobject[8]['Question4']}} </h6>  

                    </div>

                   

                    <div  >

                      <h6 class="card-title mb-0 blockquote sec-text">DIN: &nbsp;{{qaaobject[8]['Question5']}} </h6>

                   </div>

 

 

                      </td>

                  </tr>

 

               

                 

               

                  </tbody>

              </table>

             

            </div>

 

 

 

            <div class="box-body table-responsive freport01" *ngIf="qaaobject[8]['Question6']!=''">

                                   

              <table id="datatable" class="table table-striped table-bordered " style="width:100%;       margin-top: 15px;">

                  <thead class="tableheader">

                      <tr>

                        <th class="trp1" colspan="3"></th>

                          <th class="trp1">P1</th>

                          <th class="trp1">P2</th>

                          <th class="trp1">P3</th>

                          <th class="trp1">P4</th>

                          <th class="trp1">P5</th>

                          <th class="trp1">P6</th>

                          <th class="trp1">P7</th>

                          <th class="trp1">P8</th>

                          <th class="trp1">P9</th>

                  </tr>

 

 

               

 

               

 

                  </thead>

 

 

             

               

                  <tbody>

 

                    <tr >

                      <td  class="sec-text" colspan="1" style="text-align: justify;">

                        9. Does the entity have a specified Committee of the Board/ Director responsible for decision making on sustainability related issues? (Yes / No). If yes, provide details.</td>

                      <td colspan="12">

                        <div >

                          <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['Question6']}}</h6>

                        </div>

 

 

                      </td>

                  </tr>

 

               

                 

               

                  </tbody>

              </table>

             

            </div>

 

 

 

 

          <div class="row" *ngIf="qaaobject[8]['ten1']!=undefined">

            <h3 class="brsr-title-sub2 brsrtext02 "><b > 10. a) Performance against above policies and follow up action b) Compliance with statutory requirements of relevance to the principles, and, rectification of any non-compliances. </b></h3>

          </div>

         

            <div class="box-body table-responsive freport01" *ngIf="qaaobject[8]['ten1']!=undefined">

               

                <table id="datatable" class="table table-striped table-bordered " style="width:100%;     margin-top: 15px;">

             

                 

                 

                 

                    <tbody >

                     

                      <tr>

           

                        <td>

                          Subject for Review

                        </td>

                        <td colspan="9">

                          <div >

                            <h6 class="card-title mb-0 blockquote sec-text"> Indicate whether review was undertaken by Director/Committe of the Board/Any other Committee</h6>

                          </div>

                            </td>

                            <td colspan="9">

                              <div >

                                <h6 class="card-title mb-0 blockquote sec-text "> Frequency(Annually/Half yearly/Quaterly/Any other-please specify)</h6>

                              </div>

                            </td>

                        </tr>

                  </tbody>

 

 

               

 

 

 

                  <tbody >

                     

                    <tr>

         

                      <td colspan="1">

                        Subject for Review

                      </td>

 

 

                     

                       

                        <td class="trp1">P1</td>

                        <td class="trp1">P2</td>

                        <td class="trp1">P3</td>

                        <td class="trp1">P4</td>

                        <td class="trp1">P5</td>

                        <td class="trp1">P6</td>

                        <td class="trp1">P7</td>

                        <td class="trp1">P8</td>

                        <td class="trp1">P9</td>

 

                       

                        <td class="trp1">P1</td>

                        <td class="trp1">P2</td>

                        <td class="trp1">P3</td>

                        <td class="trp1">P4</td>

                        <td class="trp1">P5</td>

                        <td class="trp1">P6</td>

                        <td class="trp1">P7</td>

                        <td class="trp1">P8</td>

                        <td class="trp1">P9</td>

 

 

                     

                   

                     

                      </tr>

 

                     

           

                </tbody>

                    <tbody *ngFor="let question of questionValues8.slice(0, 1); let i = index">

                     

                        <tr>

             

                          <td>

                            Performance against above policies and follow up action

                          </td>

                     

                          <td colspan="9">

                            <div >

                              <h6 class="card-title mb-0 blockquote sec-text" style="text-align: center;"> {{qaaobject[8]['ten1']}} </h6>

                            </div>

                              </td>

                              <td colspan="9">

                                <div >

                                  <h6 class="card-title mb-0 blockquote sec-text" style="text-align: center;"> {{ qaaobject[8]['ten2'] }}</h6>

                                </div>

                              </td>

                          </tr>

                    </tbody>

                    <tbody>

                     

                      <tr>

           

                        <td>

                          Compliance with statutory requirements of relevance to the principles, and, rectification of any non-compliances

                        </td>

                        <td colspan="9">

                          <div >

                            <h6 class="card-title mb-0 blockquote sec-text" style="text-align: center;"> {{ qaaobject[8]['ten3'] }}</h6>

                          </div>

                            </td>

                            <td colspan="9">

                              <div >

                                <h6 class="card-title mb-0 blockquote sec-text"style="text-align: center;"> {{ qaaobject[8]['ten4'] }}</h6>

                              </div>

                            </td>

                        </tr>

                  </tbody>

                </table>

               

              </div>

           

      </div>

      <footer class="footer sun col-xxl-12">

        <div class="container-fluid">

          <div class="row">

            <div class="">

              <div class=" align-items-center d-flex">

 

                <a style="display:flex;"><span class="mypower"

                    style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"

                    src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
                    <h3  style="color: #000;
                    margin-top: 0px;     margin-left: 50px;font-size: medium;">{{tsarray1[1]}}</h3>
 

             

              </div>

            </div>

          </div>

        </div>

      </footer>

        </div>

      </div>

    </div>

  </div>

  <div style="page-break-before:always">&nbsp;</div>

</div>

 

 

 

<div aria-label1="pdf-page-4" *ngIf="((qaaobject[8]['eleven1']!=undefined) || (qaaobject[8]['twelve1']!=undefined))">
  {{hello1(2,1)}}
  <div class="container-fluid">

    <div class="row justify-content-center">

      <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">

        <div class="card">

 

          <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;">

          <div class="card-img-overlay p-0 d-flex flex-column">

 

            <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">

              <span class="float-end">{{reportname}}</span>

            </div>

 

            <div class="row">

              <h3 class="brsr-title-sub2 brsrtext02 "><b >Govenance, leadership and oversight </b></h3>

            </div>

 

 

 

 

 

 

           

              <div class="box-body table-responsive freport01" *ngIf="qaaobject[8]['eleven1']!=undefined">

                 

                  <table id="datatable" class="table table-striped table-bordered " style="width:100%;   margin-top: 15px;">

                      <thead class="tableheader">

                       

                          <tr>

                            <th class="fptable" colspan="4"></th>

                         

                            <th class="trp1">P1</th>

                            <th class="trp1">P2</th>

                            <th class="trp1">P3</th>

                            <th class="trp1">P4</th>

                            <th class="trp1">P5</th>

                            <th class="trp1">P6</th>

                            <th class="trp1">P7</th>

                            <th class="trp1">P8</th>

                            <th class="trp1">P9</th>

                             

                      </tr>

 

 

                      <tr>

                        <td  colspan="4" class="hello-babys sec-text"> 11.  Has the entity carried out independent assessment/ evaluation of the working of its policies by an external agency? (Yes/No). If yes, provide name of the agency. :</td>

                       

                        <td class="fptable sec-text" >

                          <div class="flex flex-col md:flex-row gap-4" >

                            <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['eleven1']}} </h6>

                          </div>

                        </td>

                        <td class="fptable sec-text" >

                          <div class="flex flex-col md:flex-row gap-4" >

                            <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['eleven2']}} </h6>

                          </div>

                        </td>

                        <td class="fptable sec-text" >

                          <div class="flex flex-col md:flex-row gap-4" >

                            <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['eleven3']}} </h6>

                          </div>

                        </td>

                        <td class="fptable sec-text" >

                          <div class="flex flex-col md:flex-row gap-4" >

                            <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['eleven4']}} </h6>

                          </div>

                        </td>

                        <td class="fptable sec-text" >

                          <div class="flex flex-col md:flex-row gap-4" >

                            <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['eleven5']}} </h6>

                          </div>

                        </td>

                        <td class="fptable sec-text" >

                          <div class="flex flex-col md:flex-row gap-4" >

                            <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['eleven6']}} </h6>

                          </div>

                        </td>

                        <td class="fptable sec-text" >

                          <div class="flex flex-col md:flex-row gap-4" >

                            <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['eleven7']}} </h6>

                          </div>

                        </td>

                        <td class="fptable sec-text" >

                          <div class="flex flex-col md:flex-row gap-4" >

                            <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['eleven8']}} </h6>

                          </div>

                        </td>

                        <td class="fptable sec-text" >

                          <div class="flex flex-col md:flex-row gap-4" >

                            <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['eleven9']}} </h6>

                          </div>

                        </td>

                       

                    </tr>

   

                     

                      </thead>

                   

                  </table>

                 

              </div>

 

               

              <div class="box-body table-responsive freport01" *ngIf="qaaobject[8]['twelve1']!=undefined">

                 

                <table id="datatable" class="table table-striped table-bordered " style="width:100%;   margin-top: 15px;">

                    <thead class="tableheader">

                     

                        <tr>

                          <th class="fptable" colspan="4"></th>

                       

                          <th class="trp1">P1</th>

                          <th class="trp1">P2</th>

                          <th class="trp1">P3</th>

                          <th class="trp1">P4</th>

                          <th class="trp1">P5</th>

                          <th class="trp1">P6</th>

                          <th class="trp1">P7</th>

                          <th class="trp1">P8</th>

                          <th class="trp1">P9</th>

                           

                    </tr>

 

 

                    <tr colspan="9" >

       

                      <td>

                        The entity does not consider the Principles material to its business (Yes/No)

                      </td>

                 

                        <td colspan="12">

                          <div class="flex flex-col md:flex-row gap-4" >

                            <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['twelve1']}} </h6>

                          </div>

                     

                        </td>

                                               

                    </tr>

                      <tr colspan="9" >

         

                        <td>

                          The entity is not at a stage where it is in a position to formulate and implement the policies on specified principles (Yes/No)

                        </td>

                   

                          <td colspan="12">

                            <div class="flex flex-col md:flex-row gap-4" >

                              <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['twelve2']}} </h6>

                            </div>

                       

                          </td>

                                                 

                        </tr>

                        <tr colspan="9" >

         

                          <td>

                            The entity does not have the financial or/human and technical resources available for the task (Yes/No)

                          </td>

                     

                            <td colspan="12">

                              <div class="flex flex-col md:flex-row gap-4" >

                                <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['twelve3']}} </h6>

                              </div>

                         

                            </td>

                                                   

                          </tr>

                          <tr colspan="9" >

         

                            <td>

                              It is planned to be done in the next financial year (Yes/No)

                            </td>

                       

                              <td colspan="12">

                                <div class="flex flex-col md:flex-row gap-4" >

                                  <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['twelve4']}} </h6>

                                </div>

                           

                              </td>

                                                     

                            </tr>

                            <tr colspan="9" >

         

                              <td>

                                Any other reason (please specify)

                              </td>

                         

                                <td colspan="12">

                                  <div class="flex flex-col md:flex-row gap-4" >

                                    <h6 class="card-title mb-0 blockquote sec-text">{{qaaobject[8]['twelve5']}} </h6>

                                  </div>

                             

                                </td>

                                                       

                              </tr>

 

                 

 

                   

                    </thead>

                 

                </table>

               

            </div>

               

         

       

      </div>

      <footer class="footer sun col-xxl-12">

        <div class="container-fluid">

          <div class="row">

            <div class="">

              <div class=" align-items-center d-flex">

 

                <a style="display:flex;"><span class="mypower"

                    style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"

                    src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>

                    <h3  style="color: #000;
                          margin-top: 0px;     margin-left: 50px;font-size: medium;">{{tsarray1[2]}}</h3>

 

             

              </div>

            </div>

          </div>

        </div>

      </footer>

        </div>

      </div>

    </div>

  </div>

  <div style="page-break-before:always">&nbsp;</div>

</div>