.content{
    width: 100%;
    margin-top: 10px;
}

.thead {
    color:black !important;
    background-color:#FCB713  !important;
    text-align: left;
  }

  th{
    color:black !important;
    background-color:#FCB713  !important;

    text-align: center;
  }
  td{
    padding: 10px;
    text-align: center;
  }
 .search{
  border-radius: 20px;
 }

 .WareHouse{
    margin-left: 80%;
    border-radius:25px;
    
    width:250px;
    overflow:hidden;
    background:#cccccc;
    
    }

    .selectpicker{
        margin-left: 0% !important;
        border-radius:25px;
        width:180px;
        border: 1px solid black !important;
        height:40px;
      
        font-size: 16px;
        outline:none;
        }