<div class="">
  
  <div class="row sticky-content " *ngIf="princi3l" #scroll>
    <div class="col-xl-12">
        <div class="d-flex align-items-center justify-content-between" style="margin-right: 20px;">
           

            <h4 style="text-align: left; color: #1076bc;"> PRINCIPLE 3<b></b></h4>

            
            <div class="d-flex align-items-start gap-3 ">
              <!-- <button type="button"
              class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
              style="font-size: 13px; float: right"
             >
              Back
              
          </button> -->
          <button type="button"
          class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
          style="font-size: 13px; float: right" (click)="onSave()" 
         >
          Save
          
      </button>

      <!-- <button type="button"
      class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab evidence-btn"
      style="font-size: 13px; float: right"
     >
      Next
      
  </button> -->
      
            </div>
       

        </div>
    </div>
</div>


<div class="" *ngIf="princi3l">
  <form [formGroup]="principalform">
    <div class="col-xxl-12">
        <div class="card" style="box-shadow: 0 8px 20px -2px rgb(158 152 153 / 0%);">
            <div class="card-body">
                <div id="contact-existing-list" >
                    <div class="row mb-2" >
                        <div class="card-footer">
                            <div class="row">
                             
                              <h4 style="text-align: center;"><b>Businesses should respect and promote the well-being of all employees, including those in their value chains (Leadership Indicators)</b></h4>
                                
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="d-flex align-items-center justify-content-between">
                                      <p class="org-in-text text-muted mb-0">
                                        <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">1</button>Does the entity extend any life insurance or any compensatory package in the event of  death of (A) Employees (Y/N) (B) Workers (Y/N):
                                      </p>
                                      <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                        (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Does the entity extend any life insurance or any compensatory package in the event of  death of (A) Employees (Y/N) (B) Workers (Y/N):')">
                                        Evidence
                                        <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-12">
                                  <p class="org-in-text text-muted mb-0">(A) Employees (Y/N)</p>
                              </div>
                                <div class="col-xl-12">
                                  <div class="flex flex-col md:flex-row gap-4">
                                      <mat-form-field class="flex flex-col flex-auto">       
                                  <mat-select  [formControlName]="'eueu1a'" (selectionChange)="Changeeueu1a($event)">
                                      <mat-option *ngFor="let c of YesorNo" [value]="c.Name">
                                          {{c.Name}}
                                      </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                    </div>
                              </div>
  
                              <div class="row">
                             
                                <div class="col-xl-12" *ngIf="eueu1aexplainyesclicked">
                                
                                  <div class="flex flex-col md:flex-row gap-4">
                                      <input formControlName="eueu1ayes" class="form-control  fpinput-01"> </div>
                                    
                                </div>
                                </div>
  
                              <div class="col-xl-12">
                                <p class="org-in-text text-muted mb-0">(B) Workers (Y/N):</p>
                            </div>
                              <div class="col-xl-12">
                                <div class="flex flex-col md:flex-row gap-4">
                                    <mat-form-field class="flex flex-col flex-auto">       
                                <mat-select [formControlName]="'eueu1b'" (selectionChange)="Changeeueu1b($event)">
                                    <mat-option *ngFor="let c of YesorNo" [value]="c.Name">
                                        {{c.Name}}
                                    </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                            </div>
  
                            <div class="row">
                             
                              <div class="col-xl-12" *ngIf="eueu1bexplainyesclicked">
                              
                                <div class="flex flex-col md:flex-row gap-4">
                                    <input formControlName="eueu1byes" class="form-control  fpinput-01"> </div>
                                  
                              </div>
                          </div>
  
                                
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="d-flex align-items-center justify-content-between">
                                      <p class="org-in-text text-muted mb-0">
                                        <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">2</button>Provide the measures undertaken by the entity to ensure that statutory dues have been deducted and deposited by the value chain partners:
                                      </p>
                                      <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                        (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Provide the measures undertaken by the entity to ensure that statutory dues have been deducted and deposited by the value chain partners:')">
                                        Evidence
                                        <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-12">
                                     <input  class="new-control form-control"
                                        id="meassageInput"
                              style="  height: auto;
                              resize: vertical;"         placeholder="" formControlName="eueu2" > 
                                </div>
                                
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="d-flex align-items-center justify-content-between">
                                      <p class="org-in-text text-muted mb-0">
                                        <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">3</button>Provide the number of employees / workers having suffered high consequence work related injury / ill-health / fatalities (as reported in Q11 of Essential Indicators above), who have been are rehabilitated and placed in suitable employment or whose family members have been placed in suitable employment.
                                      </p>
                                      <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                        (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Provide the number of employees / workers having suffered high consequence work related injury / ill-health / fatalities (as reported in Q11 of Essential Indicators above), who have been are rehabilitated and placed in suitable employment or whose family members have been placed in suitable employment.')">
                                        Evidence
                                        <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              
                                <div class="col-xl-12">
                                  <!-- <div class="box-body table-responsive">
                                      <table id="datatable" class="table table-striped table-bordered " style="width:100%;  border: 2px solid #1c75bc; margin-top: 15px;">
                                          <thead class="tableheader">
                                              <tr>
                                                <th class="fptable"></th>
                                                  <th class="fptable" style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; white-space: nowrap; padding: 0.75rem 1.6rem; border: 1px solid var(--border-color);" colspan="2">Total no. of affected employees/ workers</th>
                                                  <th class="fptable-1" style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; white-space: nowrap; padding: 0.75rem 1.6rem; border: 1px solid var(--border-color);" colspan="2">No. of employees/workers that are rehabilitated and placed in suitable employment or whose family members have been placed in suitable employment</th>
                                               
                                                 
                                              </tr>
                                             <tr>
                                              <th class="fptable"></th>
                                                <td>"FY _____ 
                                                  (Current Financial Year)"
                                                  </td>
                                                <td >"FY _____
                                                  (Previous Financial Year)" </td>
                                                <td>"FY _____ 
                                                  (Current Financial Year)"
                                                  </td>
                                                <td>"FY _____
                                                  (Previous Financial Year)"</td>
                                             </tr>
                                           </thead>
                                           <tbody>
                                          
                                            <tr>
                                            <td style="background-color: #fbfbfb !important;">
                                             Employees
                                                    </td>
                    
                                                      
                                                        <td>
                                                          <input class="form-control fpinput-01" appIndiansystem formControlName="principle61"> 
                                                        </td>
                                                    <td>
                                                          <input class="form-control fpinput-01"  formControlName="principle62"> 
                                                        </td>
                                                      
                                                        <td>
                                                          <input class="form-control fpinput-01" appIndiansystem  formControlName="principle63"> 
                                                        </td>
                                                    <td>
                                                          <input class="form-control fpinput-01"  formControlName="principle64"> 
                                                        </td>
                                              
                                                  
                                              </tr>
                                              <tr>
                                                <td style="background-color: #fbfbfb !important;">
                                                  Workers
                                                        </td>
                                                            <td>
                                                              <input class="form-control fpinput-01" appIndiansystem formControlName="principle65"> 
                                                            </td>
                                                        <td>
                                                              <input class="form-control fpinput-01"  formControlName="principle66"> 
                                                            </td>
                                                           <td>
                                                              <input class="form-control fpinput-01" appIndiansystem formControlName="principle67"> 
                                                            </td>
                                                        <td>
                                                              <input class="form-control fpinput-01"  formControlName="principle68"> 
                                                            </td>
                                                          
                                                  </tr>
                                                 
                                          </tbody>
                                      </table>
                                  </div> -->
                                 
                                  <div class="box-body table-responsive">
                                    <table id="datatable" class="table table-striped table-bordered " style="width:100%;  border: 2px solid #1c75bc; margin-top: 15px;">
                                        <thead class="tableheader">
                                            <tr>
                                                <th class="fptable"></th>
                                                <th class="fptable-1" colspan="2">Total no. of affected employees/ workers</th>
                                                <th class="fptable" colspan="2">No. of employees/workers that are rehabilitated and placed in suitable employment or whose family members have been placed in suitable employment</th>
                                               
                                            </tr>
                                            <tr>
                                              <th class="fptable"></th>
                                              <th class="fptable">Current Financial Year ({{currentYear}}-{{NextYear}})</th>
                                              <th class="fptable">Previous Financial Year ({{PreviousYear}}-{{currentYear}})</th>
                                              <th class="fptable">Current Financial Year ({{currentYear}}-{{NextYear}})</th>
                                              <th class="fptable">Previous Financial Year ({{PreviousYear}}-{{currentYear}})</th>
                                             </tr>
                                         </thead>
                                         <tbody>
                                          <tr>
                                          <td style="background-color: #fbfbfb !important;">
                                            Employees
                                                  </td>
                                                  <td style="background-color: #fbfbfb !important;">
                                                    <input class="form-control fpinput-01" appIndiansystem style="text-align:right;"  formControlName="eueu3a" > 
                                                  </td>
                                                  <td style="background-color: #fbfbfb !important;">
                                                 
                                                    <input class="form-control fpinput-01" appIndiansystem style="text-align:right;" formControlName="eueu3b"> 
                                                  
                                                  </td>
                                                  <td style="background-color: #fbfbfb !important;">
                                                    <div style="display: flex;">
                                                      <input class="form-control fpinput-01" appIndiansystem  formControlName="eueu3c" style="width: 80%;text-align:right">
                                                    </div>
                                                  </td>
                                                  <td style="background-color: #fbfbfb !important;">
                                                 
                                                    <input class="form-control fpinput-01" appIndiansystem style="text-align:right;" formControlName="eueu3d"> 
                                                  
                                                  </td>
                                            </tr>
                                            <tr>
                                              <td style="background-color: #fbfbfb !important;">
                                                Workers
                                                      </td>
                                                      <td style="background-color: #fbfbfb !important;">
                                                        <input class="form-control fpinput-01" appIndiansystem style="text-align:right;" formControlName="eueu3e"  > 
                                                      </td>
                                                      <td style="background-color: #fbfbfb !important;">
                                                       
                                                        <input class="form-control fpinput-01" appIndiansystem style="text-align:right;" formControlName="eueu3f" > 
                                                        
                                                      </td>
                                                      <td style="background-color: #fbfbfb !important;">
                                                        <div style="display: flex;">
                                                        <input class="form-control fpinput-01" appIndiansystem  formControlName="eueu3g"  style="width: 80%;text-align:right"> 
                                                      </div>
                                                      </td>
                                                      <td style="background-color: #fbfbfb !important;">
                                                 
                                                        <input class="form-control fpinput-01" appIndiansystem style="text-align:right;" formControlName="eueu3h"> 
                                                      
                                                      </td>
                                                </tr>
                                              
                                                   
                                        </tbody>
                                    </table>
                                </div>
  
                              </div>
  
  
  
                                
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="d-flex align-items-center justify-content-between">
                                      <p class="org-in-text text-muted mb-0">
                                        <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">4</button>Does the entity provide transition assistance programs to facilitate continued employability and the management of career endings resulting from retirement or termination of employment?
                                      </p>
                                      <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                        (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Does the entity provide transition assistance programs to facilitate continued employability and the management of career endings resulting from retirement or termination of employment?')">
                                        Evidence
                                        <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-12">
                                  <div class="flex flex-col md:flex-row gap-4">
                                      <mat-form-field class="flex flex-col flex-auto">       
                                  <mat-select  formControlName="eueu4" (selectionChange)="Changeeueu4($event)">
                                      <mat-option *ngFor="let c of YesorNo" [value]="c.Name">
                                          {{c.Name}}
                                      </mat-option>
                                      </mat-select></mat-form-field></div>
                              </div>
  
                              <div class="row">
                             
                                <div class="col-xl-12" *ngIf="eueu4explainyesclicked">
                                
                                  <div class="flex flex-col md:flex-row gap-4">
                                      <input formControlName="eueu4yes" class="form-control  fpinput-01"> </div>
                                    
                                </div>
                             
                               
                            </div>
  
  
                                
                              <div class="row">
                                <div class="col-xl-12">
                                  <div class="d-flex align-items-center justify-content-between">
                                    <p class="org-in-text text-muted mb-0">
                                      <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">5</button>Details on assessment of value chain partners
                                    </p>
                                    <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                      (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Details on assessment of value chain partners')">
                                      Evidence
                                      <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                             
                              <div class="col-xl-12">
                                <div class="box-body table-responsive">
                                    <table id="datatable" class="table table-striped table-bordered " style="width:100%;  border: 2px solid #1c75bc; margin-top: 15px;">
                                        <thead class="tableheader">
                                            <tr>
                                                <th class="fptable"></th>
                                                <th class="fptable-1">Percentage of value chain partners (by value of business done with such partners) that were assessed (%)</th>
                                            </tr>
                                         </thead>
                                         <tbody>
                                          <tr>
                                                  <td style="background-color: #fbfbfb !important;">
                                                    Health and safety practices
                                                   </td>
                                                  
                                                  <td style="background-color: #fbfbfb !important;">
                                                  
                                                    <input class="form-control fpinput-01"  formControlName="eueu5a" appPercentageDirective style="text-align:right;"> 
                                                  
                                                  </td>
                                            </tr>
                                            <tr>
                                              <td style="background-color: #fbfbfb !important;">
                                                Working Conditions
                                               </td>
                                              
                                              <td style="background-color: #fbfbfb !important;">
                                              
                                                <input class="form-control fpinput-01"  formControlName="eueu5b" appPercentageDirective style="text-align:right;"> 
                                              
                                              </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                               
                            </div>
  
                              
                            <div class="row">
                              <div class="col-xl-12">
                                <div class="d-flex align-items-center justify-content-between">
                                  <p class="org-in-text text-muted mb-0">
                                    <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">6</button>Provide details of any corrective actions taken or underway to address significant risks / concerns arising from assessments of health and safety practices and working conditions of value chain partners.
                                  </p>
                                  <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                    (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Provide details of any corrective actions taken or underway to address significant risks / concerns arising from assessments of health and safety practices and working conditions of value chain partners.')">
                                    Evidence
                                    <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-12">
                                 <input  class="new-control form-control"
                                    id="meassageInput"
                          style="  height: auto;
                          resize: vertical;"         placeholder="" formControlName="eueu6" > 
                            </div>
                            </div>
                        </div>
                        <div>
                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

</div>







