<div class="container-fluid h-100 align-items-center align-middle d-flex justify-content-center">
    <div class="row">
        <div class="hello row dash-nft h-100 ">
            <div class="col-xl-12 mx-auto mt-5">
                <div class=" b-card frame-card-1 card" style="padding: 40px 40px;">
                    <div class="d-flex mb-4 align-items-center">
                        <div class="get-text-1  gri-auto mx-auto  ">
                            <h4 style="text-align: center;" class="card-title mb-0">Get Started<i
                                    class="get-arrow ri-arrow-right-line"></i> </h4>
                        </div>
                    </div>
                    <div class="d-flex mb-4 align-items-center">
                        <div class="gri-auto mx-auto  ">
                            <div class="frame-card d-flex mb-4 align-items-center">
                                <div class="frame-img flex-shrink-0">
                                    <img src="assets/img/framework.png" alt="" class="avatar-sm " />
                                </div>
                                <div class="get-text-2 flex-grow-1 ms-2">
                                    <h5 class="card-title mb-1">Use an existing reporting framework</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="card-text text-muted" style="text-align: center;">Browse through our library of
                        frameworks</p>
                        <form [formGroup]="frameworkForm"  style="margin-right: -50px !important
                        ;">
                    <mat-form-field class="mate-class" >
                        <mat-select placeholder="Select Here" formControlName="select"  style="margin-right: 0px !important;  " (selectionChange)="drof($event.value)">
                        
                            <mat-option *ngFor="let food of foods1" [value]="food.FrameworkName" style="    height: 5em;"  >
                                <ul>
                                    <li style="list-style:none ;">
                                        <div class="uncompleted-card row g-0" >
                                            <div class="get-drop-1 report-img avatar-xs rounded-circle col-md-6">
                                                <img src={{food.Logo}} class="img-fluid rounded-start"
                                                    alt="...">
                                            </div>
                                            <div class="col-md-6" >
                                                <div class="get-text-3 card-body" >
                                                    <h4>{{food.FrameworkName}} </h4>
                                                </div>
                                            </div>
                                        </div>
                                </ul>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    </form>
                 
                </div>
            </div>
        </div>


    </div>
    

</div>



<div class="col-xl-12 copyrt" style="z-index: 99; text-align: center;    padding-left: 50px;

    padding-right: 50px;

    padding-bottom: 50px; font-size: 16px;  

    border-top: 1px solid #e6e8f2;

    ">

 

 

  <div class="d-flex align-items-start gap-3 mt-4">

    <button type="button" class="esg-prev-btn btn dash-btn-1 btn-label previestab"(click)="back()" data-previous="steparrow-gen-info-tab"><i class=" ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Back </button>

    <button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab" [disabled]="frameworkForm.invalid" (click)="next()" data-nexttab="pills-experience-tab"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Next</button>

   

</div>

 

     </div>
