
<div class="container-fluid">
  <div style="padding-left:30px; padding-right: 30px; " >
  <div class="row"> 
      <div class="col-xl-12" >
          <div class="card" style="margin-top: 20px; margin-bottom: 10px !important;">
              <div class="card-body">
                  <div class="" style="text-align: center;">
                      <h3 style="    color:#1c75bc;
                          font-size: 25px; ">Remarks for your Report
                      </h3>
                   
                  </div>
              </div>
          </div>              
      </div>
  </div>
  </div>
  <div style="padding-left:30px; padding-right: 30px; padding-bottom: 30px;">

      <div class="card" style="margin-top: 20px; margin-bottom: 10px !important;">
          <div class="card-body t-published" >
             
      <table  id="example" class="display" style="width:100%;">
          <thead>
              <tr style="background-color: #8cc540;">
                  <th style="color: #fff;">Report Name</th>
                  <th style="color: #fff;">Remark By</th>
                  <th style="color: #fff;">Remarks</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let o of reportres">
      
                  <td>{{reportbyid[0].ReportName}}</td>
                  <td>{{o.FirstName}}</td>
                  <td>   <a   class="esg-back-btn btn dash-btn-1 btn dash-btn-5"(click)="navigatetoselect(reportrep[0].ReportId,o.Id)" >Remarks</a></td>
              </tr>
              </tbody>
      </table>
          </div>
      </div> 

      
  </div>
</div>




