<div class="">
  
  <div class="row sticky-content " *ngIf="princi4l" #scroll>
    <div class="col-xl-12">
        <div class="d-flex align-items-center justify-content-between" style="margin-right: 20px;">
           

            <h4 style="text-align: left; color: #1076bc;"> PRINCIPLE 4<b></b></h4>

            
            <div class="d-flex align-items-start gap-3 ">
              <!-- <button type="button"
              class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
              style="font-size: 13px; float: right"
             >
              Back
              
          </button> -->
          <button type="button"
          class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
          style="font-size: 13px; float: right" (click)="onSave()" 
         >
          Save
          
      </button>

      <!-- <button type="button"
      class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab evidence-btn"
      style="font-size: 13px; float: right"
     >
      Next
      
  </button> -->
      
            </div>
       

        </div>
    </div>
</div>


<div class="" *ngIf="princi4l">
  <form [formGroup]="principalform">
    <div class="col-xxl-12">
        <div class="card" style="box-shadow: 0 8px 20px -2px rgb(158 152 153 / 0%);">
            <div class="card-body">
                <div id="contact-existing-list" >
                    <div class="row mb-2" >
                        <div class="card-footer">
                            <div class="row">
                              
                              <h4 style="text-align: center;"><b>Businesses should respect the interests of and be responsive to all its stakeholders <br>(Leadership indicators)</b></h4>
                                
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="d-flex align-items-center justify-content-between">
                                      <p class="org-in-text text-muted mb-0">
                                        <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">1</button>Provide the processes for consultation between stakeholders and the Board on economic, environmental, and social topics or if consultation is delegated, how is feedback from such consultations provided to the Board:
                                      </p>
                                      <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                        (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Provide the processes for consultation between stakeholders and the Board on economic, environmental, and social topics or if consultation is delegated, how is feedback from such consultations provided to the Board:')">
                                        Evidence
                                        <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-12">
                                     <input class="new-control form-control"
                                        id="meassageInput"
                              style="  height: auto;
                              resize: vertical;"         placeholder="" formControlName="shie1" > 
                                </div>
                               
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="d-flex align-items-center justify-content-between">
                                      <p class="org-in-text text-muted mb-0">
                                        <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">2</button>Whether stakeholder consultation is used to support the identification and management of environmental, and social topics:
                                      </p>
                                      <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                        (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Whether stakeholder consultation is used to support the identification and management of environmental, and social topics:')">
                                        Evidence
                                        <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="flex flex-col md:flex-row gap-4">
                                  <mat-form-field class="flex flex-col flex-auto">       
                              <mat-select matInput [formControlName]="'shie2'" (selectionChange)="Changeshie2($event)">
                                  <mat-option *ngFor="let c of YesorNo" [value]="c.Name">
                                      {{c.Name}}
                                  </mat-option>
                                  </mat-select>
                              </mat-form-field>
                              </div>
  
                             
  
  
  
                              <div class="col-xl-12" *ngIf="answrdrp=='Yes'">
                                  <div class="col-xl-12">
                                  <p class="org-in-text text-muted mb-0">If so, provide details of instances as to how the inputs received from stakeholders on these topics were incorporated into policies and activities of the entity.</p>
                              </div>
                              <div class="col-xl-12">
                                  <input  class="new-control form-control"
                                  id="getval"
                                  placeholder="" formControlName="IfShie2">
                                  
                              </div>
                              </div>
  
  
                                
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="d-flex align-items-center justify-content-between">
                                      <p class="org-in-text text-muted mb-0">
                                        <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">3</button>Provide details of instances of engagement with, and actions taken to, address the concerns of vulnerable/ marginalized stakeholder groups.
                                      </p>
                                      <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                        (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Provide details of instances of engagement with, and actions taken to, address the concerns of vulnerable/ marginalized stakeholder groups.')">
                                        Evidence
                                        <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-12">
                                     <input class="new-control form-control"
                                        id="meassageInput"
                              style=" height: auto;
                              resize: vertical;"         placeholder="" formControlName="shie3" > 
                                </div>
                            </div>
                        </div>
                        <div>
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

</div>


