<div class="flex flex-col max-w-600 md:min-w-160 max-h-screen -m-6">
  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
      style="background-color: #8cc540 !important;">
      <div class="text-lg " style="font-weight: 900;">Category 2- Capital Goods</div>
      <button mat-icon-button (click)="onClose()" [tabIndex]="-1">
          <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
      </button>
  </div>
  <form class="flex flex-col flex-auto p-6 sm:p-8" [formGroup]="scope3form">
      <div class="flex flex-col md:flex-row gap-4">
        <mat-form-field class="flex flex-col flex-auto">
          <mat-label>Choose Calculator</mat-label>
          <mat-select matInput [formControlName]="'DataType'" (selectionChange)="DataTypeChange($event.value)">
            <mat-option value="Shift-based" style="color: #1978ac !important;">Shift-based</mat-option>
            <mat-option value="spend-based" style="color: #1978ac !important;">Spend based</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>

      <div class="col-xl-12 in-top overflow-y-auto" *ngIf="shiftb">
        <div class="col-xl-12 in-top overflow-y-auto" style="overflow-x: auto;">
          <div class="box-body table-responsive">
            <table id="datatable" class="table table-striped table-bordered" style="width:100%; border: 2px solid #1978ac;">
              <thead class="tableheader">
                <tr style="background-color: rgb(236 230 230);">
                  <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                  padding: 0.75rem 5.6rem;     border: 1px solid var(--border-color);" >Machinery type</th>
                  <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                  padding: 0.75rem 6.6rem;     border: 1px solid var(--border-color);" colspan="3">Energy Consumption per shift</th>
                  <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                  padding: 0.75rem 5.6rem;     border: 1px solid var(--border-color);">Shifts</th>
                  <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                  padding: 0.75rem 0.6rem;     border: 1px solid var(--border-color);">Standard EF (tCO2e/per Shift)</th>
                  <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                  padding: 0.75rem 0.6rem;     border: 1px solid var(--border-color);">User based EF (tCO2e/per Shift)</th>
                  <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                  padding: 0.75rem 0.6rem;     border: 1px solid var(--border-color);">Total Emissions (tCO2e)</th>
                   <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                   padding: 0.75rem 0.6rem;     border: 1px solid var(--border-color);"></th>
                </tr>
                <tr>
                  <th></th>
                  <th style="  text-align: center;  padding: 0px 0px 20px 10px;">Gasoline (L)</th>
                  <th style="  text-align: center;  padding: 0px 0px 20px 10px;">Diesel Fuel (L)</th>
                  <th style="  text-align: center;  padding: 0px 0px 20px 10px;">Electricity (kWh)</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>                
              </thead>
              <tbody>
                <tr *ngFor="let tpt of lookupdtl; let i=index">
                  <td>
                    <mat-form-field class="flex flex-col min-w-80">                                                                        
                      <mat-select  id="machinerytype{{i}}" (selectionChange)="machineselect($event.value, i)" [(ngModel)]="tpt.machinerytype" >
                          <input matInput placeholder="Search" (input)="machineselectfilter($event.target.value)" [matAutocomplete]="auto">
                        <mat-option *ngFor="let c of filteredList1" [value]="c.Id">
                          <mat-autocomplete #auto (optionSelected)="onOptionSelected($event,i)">
                      </mat-autocomplete>
                      {{c.MachineryType}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>                    
                  </td>
                  <td>
                    <input id="gasoline{{i}}" class="form-control" [value]="tpt.gasoline" readonly style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                  </td>
                  <td>
                    <input id="diesel{{i}}" class="form-control" [value]="tpt.diesel" readonly style="height: 48px; border: 1px solid #1c75bc;background-color: #fff;text-align: right;">
                  </td>
                  <td>
                    <input id="elec{{i}}" class="form-control" [value]="tpt.elec" readonly style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                  </td>
                  <td>
                    <input id="shifts{{i}}" class="form-control" [(ngModel)]="tpt.shifts" (keyup)="shiftinput(i, $event)" inputWithComma style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;">
                  </td>
                  <td>
                    <input id="co2shift{{i}}" class="form-control" [value]="tpt.co2shift" readonly style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                  </td>
                  <td>
                    <input id="userbased{{i}}" class="form-control" [(ngModel)]="tpt.userbased" (keyup)="userinput(i, $event)" (keyup)="uuxff($event)" inputWithComma style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;">
                  </td>
                  <td>
                    <input id="tco2e{{i}}" class="form-control" [value]="tpt.tco2e| number: '1.0-2'" readonly style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                  </td>
                  <td>
                    <button style="padding-top:17px" id="delete{{i}}" type="button" (click)="deleteQ102a(i)"><i
                            style="color:red" class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
                </tr>
                <tr *ngIf="lookupdtl.length>0">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><b>Total Emission:</b></td>
                  <td style="text-align: right;">{{sumtotal| number: '1.0-2'}} tCO2e</td>
              </tr>
              </tbody>
              
            </table>

    </div>

    <div class="d-flex align-items-start gap-3 mt-4">
      <button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab"
          data-nexttab="pills-experience-tab"   (click)="addFieldValue()" id="disableButton" style="padding-left: 2.9rem;
          padding-right: 45px;
      "> Add</button>
  
  </div>

    <div>
      Note:<br>
      1.	This method estimates emissions for the capital goods that are used at specific time periods (shifts) in a day and multiplying it by relevant emission factors.<br>
      2.	The shift-based emission factor (EF) is sourced from the International Journal of Environmental Research and Public Health.
    </div>
    </div></div>
    <div class="col-xl-12 in-top overflow-y-auto" *ngIf="averagedata">
      <div class="col-xl-12 in-top overflow-y-auto">
        <div class="box-body table-responsive">
          <table id="datatable" class="table table-striped table-bordered" style="width:100%; border: 2px solid #1978ac;">
            <thead class="tableheader">
              <tr>
                <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 5.6rem;     border: 1px solid var(--border-color);">Commodity</th>
                
                <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 2.6rem;     border: 1px solid var(--border-color);">Value</th>
                <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 5.6rem;     border: 1px solid var(--border-color);">Currency Type</th>
                <!-- <th>Exchange rate</th> -->
                <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 0.6rem;     border: 1px solid var(--border-color);">Standard EF (tCO2e/USD)</th>
                <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 0.6rem;     border: 1px solid var(--border-color);">User based EF (tCO2e/USD)</th>
                <th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 0.6rem;     border: 1px solid var(--border-color);">Total Emissions (tCO2e)</th>

<th style="text-align: center; font-size: 15px;  background-color: #1978ac; color: #fff;          white-space: nowrap;
padding: 0.75rem 0.6rem;     border: 1px solid var(--border-color);"></th>
              </tr>
              
            </thead>
            <tbody>
              <tr *ngFor="let tpt of lookupdtl1; let i=index">
                <td>
                  <mat-form-field class="flex flex-col flex-auto">                                                                         
                    <mat-select  id="Commodity{{i}}" (selectionChange)="modity($event.value, i)" [(ngModel)]="tpt.Commodity">
                        <input matInput placeholder="Search" (input)="modityselectfilter($event.target.value)" [matAutocomplete]="auto">
                      <mat-option *ngFor="let c of filteredList2" [value]="c.Id">
                        <mat-autocomplete #auto (optionSelected)="onOptionSelected($event,i)">
                    </mat-autocomplete>
                    {{c.CommodityCodeName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>   
                </td>
                <td>
                  <input id="curr{{i}}" class="form-control" [(ngModel)]="tpt.curr" inputWithComma  style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;">                   
                </td>
                <td>
                  <mat-form-field class="flex flex-col flex-auto">                                                                         
                    <mat-select  id="currtype{{i}}" (selectionChange)="coomo($event.value, i)" [(ngModel)]="tpt.currtype">
                        <input matInput placeholder="Search" (input)="coomofilter($event.target.value)" [matAutocomplete]="auto">
                      <mat-option *ngFor="let c of filteredList3" [value]="c.Id">
                        <mat-autocomplete #auto (optionSelected)="onOptionSelected($event,i)">
                    </mat-autocomplete>
                    {{c.Currency}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> 
                </td>
                <!-- <td>
                  <input id="Exchangerate{{i}}" class="form-control" [value]="tpt.Exchangerate">
                </td> -->
                <td>
                  <input id="ef{{i}}" class="form-control" [value]="tpt.ef" readonly  style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">  
                </td>
                <td>
                  <input id="userbased3{{i}}" class="form-control" [(ngModel)]="tpt.userbased3" (keyup)="userbased3(i, $event)" (keyup)="uuxff($event)" inputWithComma  style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;">  
                </td>
                <td>
                  <input id="emis3{{i}}" class="form-control" [value]="tpt.emis3| number: '1.0-2'" readonly  style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                </td>
                <td>
                  <button style="padding-top:17px" id="delete{{i}}" type="button" (click)="delete3rd(i)"><i
                          style="color:red" class="fa fa-trash" aria-hidden="true"></i></button>
              </td>
              </tr>
              <tr *ngIf="lookupdtl1.length>0">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total Emission:</b></td>
                <td style="text-align: right;">{{sumtotal1| number: '1.0-2'}} tCO2e</td>
            </tr>
            </tbody>
            
          </table>

          <style>
            .table-bordered > :not(caption) >    {
border-width: 0 0px;
}
          </style>


  </div>

  <div class="d-flex align-items-start gap-3 mt-4">
    <button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab"
        data-nexttab="pills-experience-tab"  (click)="addFieldValue1()" id="disableButton" style="padding-left: 2.9rem;
        padding-right: 45px;
    "> Add</button>

</div>

  
  <div>
    
    Note:<br>
    1. This method estimates emissions for goods and services by collecting data on the economic value of goods and services purchased and multiplying it by relevant industry-based emission factors.<br>
    2. The spend-based emission factor (EF) is sourced from the Supply Chain Greenhouse Gas Emission Factors for US Industries and Commodities.
  </div>
  </div></div>



  <div class="flex flex-col sm:flex-row justify-end p-6 sm:p-8">
    <div class="flex items-center mt-4 sm:mt-0" style="margin: auto;">

       
        <button class="esg-back-btn btn dash-btn-1 btn-label order-first sm:order-last" mat-flat-button [color]="'primary'"
          style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important; background-color: #fff !important; border-radius: 0px !important; border-radius: 5px !important;"  (click)="onSave()">
            Submit
        </button>
    </div>
</div>


</div>