.input-gasoline {
    width: 10%;
  }
  
  .input-diesel {
    width: 10%;
  }
  
  .input-elec {
    width: 10%;
  }
  
  .input-shifts {
    width: 10%;
  }
  
  .input-co2shift {
    width: 15%;
  }
  
  .input-userbased {
    width: 15%;
  }
  
  .input-tco2e {
    width: 15%;
  }
  