.content{
    width: 100%;
    margin-top: 10px;
}

.thead {
    color:black !important;
    background-color:#FCB713  !important;
  }

  th{
    color:black !important;
    background-color:#FCB713  !important;
    padding: 10px;
    text-align: center;
  }
  td{
    padding: 10px;
    text-align: center;
  }
 .search{
  border-radius: 20px;
 }
 .sticky-header {
  position: sticky !important;
  top: 0;
  z-index: 1;
  background-color: #FCB713;
}

