.trst{

    height: 100% !important;
    width: 14%;
}
.forgot-pass-card {
    height: 80%;
}
.forgot-lock h3 i {
    margin-top: 50px !important;
}

.dash-btn-1:hover {
    background-image: linear-gradient( 88deg , #166b5a, #164c54);
    color: #fff !important;
    font-size: 16px;
}
.forgot-pass-card {
    margin-bottom: 18px;
    padding: 40px 40px;
    border: 3px solid black;
    border-image: linear-gradient(-45deg, #1c5258 0%, #04c7a9 25%, #164e55 50%, #04c7a9 100%);
    border-image-slice: 1;
    border-width: 3px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);   
}
/* .forgot-card-1 {
    margin-bottom: 18px;
    padding: 40px 40px;
    border: 3px solid black !important;
    border-image: linear-gradient(-45deg, #1c5258 0%, #04c7a9 25%, #164e55 50%, #04c7a9 100%) !important;
    border-image-slice: 1;
    border-width: 3px !important;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
} */

.for-card {
    margin-bottom: 18px;
                              border: 3px solid black;
                              border-image: linear-gradient(-45deg, #1c5258 0%, #04c7a9 25%, #164e55 50%, #04c7a9 100%);
                              border-image-slice: 1;
                              border-width: 3px;
                              background-color: #fff;
                              box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
}
/* .con-forgot {
    height: 85% !important;
} */


@media only screen and (max-width: 475px){
    .trst{

        height: 100% !important;
        width: 35%;
    }
    .hello {
        margin-left: 0px !important;
    }
    .cardStyle {
        width: 330px;
      } 
}

@media only screen and (max-width: 425px){
    .trst {
        height: 85% !important;
        width: 35%;
    }
}

@media only screen and (max-width: 320px){
    .trst{

        height: 80% !important;
        width: 35%;
    }
    .hello {
        margin-left: 0px !important;
    }
}