<style>
  .wrapper{
   width: 100%;
   height: 796px;
   position: fixed;
   overflow-x: hidden;
   overflow-y: hidden;
   background: linear-gradient(0deg, #8cc540, #1c75bc);
 background-size:cover;
 background-repeat: no-repeat;
 background-position: center center;
  }
       
</style>
<div class="wrapper">
  <ng-particles
  [id]="id"
  [options]="particlesOptions"
  (particlesLoaded)="particlesLoaded($event)"
  (particlesInit)="particlesInit($event)"
></ng-particles>

<!-- or -->

<ng-particles
  [id]="id"
  [url]="particlesUrl"
  (particlesLoaded)="particlesLoaded($event)"
  (particlesInit)="particlesInit($event)"
></ng-particles>
</div>
   <div class="container-fluid ">
     <div class="row "> 

                         <div class="col-md-12 col-lg-16 col-xl-4 pt-5 mt-5 mx-auto ">
                           <div class="card" style="margin-bottom: 18px;
                           background-color: #fff;
                           border-radius:20px;
                           box-shadow: 0 8px 20px -2px rgb(158 152 153 / 50%)">
                         
                               <div class="card-body p-5">
                                   <div class="text-center mt-2">
                                     <h3><i class="fa fa-lock fa-4x clock-forgot" ></i></h3>
                                       <h5 class="text-primary">Forgot Password?</h5>
                                       <p class="text-muted">You can reset your password here.</p>
   
                                       
   
                                   </div>
   
                                   <div class="p-2">
 
                                     
                                       <form [formGroup]="forgotform"  role="form" autocomplete="off" class="form" method="post">
 
                                         <div class="mb-4">
                                           <label class="form-label">Email</label>
                                           <input id="email" name="email" placeholder="Enter Email " class="form-control" formControlName="email" type="email" style="border: 1px solid black;">
                                       </div>
 
                                            <div class="text-center mt-4 form-group">
                                           <input name="recover-submit " class="btn dash-btn-1 " value="Reset Password" type="submit"(click)="EmailValidate()" data-toggle="modal" data-target="#forgotModal" [disabled]="!forgotform.valid">
                                         </div>
                                         
                                      
 
                   
 
 
                                       
                                           
                                           <div class="text-center mt-4">
                                             <input type="hidden" class="hide" name="token" id="token" value=""> 
                                             <a [routerLink]="['/sign-in'] " style="font-size: 14px; color: #0094db;"> Already have login and password? <strong><u>Login here</u> </strong> </a>
                                         </div>
                                          
                                       </form><!-- end form -->
                                   </div>
                               </div>
                               <!-- end card body -->
                           </div>
                           <!-- end card -->
   
                           
   
                       </div>
                 
 
 
     </div>
 </div>
 
 
 
 
             <!-- auth page content -->
         
           <!-- end auth page content -->
 
 
 
   
 
   
   
   
   <div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content" style="margin-bottom: 182px;">
      
         <div class="card-body p-4 text-center" style="margin-top: -14px;">
           <div class="avatar-lg mx-auto mt-2">
               <div class="avatar-title bg-light text-success display-3 rounded-circle">
                   <i class="ri-checkbox-circle-fill-2"></i>
               </div>
           </div>
           <div class="mt-4 pt-2">
               <h4>Successfully !</h4>
               <p class="text-muted mx-4">Verification Code has been sent to your Mail.</p>
               <div class="mt-4">
                 <a type="button" class="btn btn-success" >Ok</a>
               </div>
           </div>
       </div>
       
       </div>
     </div>
   </div>
   
   