
// Do not add padding-left to the first column
.mat-column-Edit {
    width: 6%;
    padding-right: 5px !important;
}

.mat-column-Role {
    width: 12%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}

.mat-column-ParentMenu {
    width: 12%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}

.mat-column-Menu {
    width: 12%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}

.mat-column-AddYN {
    width: 6%;
    padding: 0px 5px !important;
}

.mat-column-EditYN {
    width: 6%;
    padding: 0px 5px !important;
}

.mat-column-ViewYN {
    width: 6%;
    padding: 0px 5px !important;
}

.mat-column-CreatedDate {
    width: 8%;
    padding: 0px 5px !important;
}

.mat-column-CreatedByUser {
    width: 12%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}

.mat-column-UpdatedDate {
    width: 8%;
    padding: 0px 5px !important;
}

// Do not add padding-right to the last column
.mat-column-UpdatedByUser {
    width: 12%;
    padding-left: 5px !important;
    word-wrap: break-word;
}
th.mat-header-cell {
    color:black !important;
    background-color:#FCB713  !important;
  }