
// Do not add padding-left to the first column


.mat-column-Edit {

  width: 14%;

}
.mat-column-Name {

  width: 14%;

}
.mat-column-Location {

  width: 14%;

}
.mat-column-Area {

  width: 14%;

}
.mat-column-IsActive {

  width: 14%;

}
.mat-column-UpdatedDate {

  width: 14%;

}

.mat-column-WareHouseId {

  width: 14%;

}
th.mat-header-cell {
  color:black !important;
  background-color:#FCB713  !important;
}


