<div class="">
  
    <div class="row sticky-content " *ngIf="pamp" #scroll>
      <div class="col-xl-12">
          <div class="d-flex align-items-center justify-content-between" style="margin-right: 20px;">
             
  
              <h4 style="text-align: left; color: #1076bc;"> SECTION B: MANAGEMENT AND PROCESS DISCLOSURES<b></b></h4>
  
              
              <div class="d-flex align-items-start gap-3 ">
                <!-- <button type="button"
                class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                style="font-size: 13px; float: right"
               >
                Back
                
            </button> -->
            <button type="button"
            class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
            style="font-size: 13px; float: right" (click)="onSave()" 
           >
            Save
            
        </button>
  
        <!-- <button type="button"
        class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab evidence-btn"
        style="font-size: 13px; float: right"
       >
        Next
        
    </button> -->
        
              </div>
         
  
          </div>
      </div>
  </div>
  
  
  <div class="" *ngIf="pamp">
  
    <form [formGroup]="managementform">
        <div class="col-xxl-12">
            <div class="card" style=" box-shadow: 0 8px 20px -2px rgb(158 152 153 / 0%);">
                <div class="">
                    <div id="contact-existing-list">
                        <div class="row mb-2">
                            <div class="card-footer">
                                <div class="row">
                                  
                                    
        <div class="row">
            <div class="col-xl-12">
                <div class="d-flex align-items-center justify-content-between">
                    <p
                        class="org-in-text text-muted mb-0">
                        This section is aimed at helping businesses demonstrate the
                        structures, policies and processes put in place towards
                        adopting the NGRBC Principles and Core Elements.
                    </p>
                   
                    <button type="button"
                    class="btn btn-sm btn-outline"
                    style="font-size: 13px; float: right"
                    (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'MANAGEMENT AND PROCESS DISCLOSURES')">
                    Evidence
                    <i class="ri-file-upload-line"
                        style="font-size: 12px"></i>
                </button>
                </div>
            </div>
        </div>

                                 
                                    <div class="col-xl-12">
                                        <div class="box-body table-responsive">
                                            <table id="datatable"
                                                class="table table-striped table-bordered "
                                                style="width:100%;  border: 2px solid #1c75bc; margin-top: 15px;">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th style="    padding: 0.5rem; width: 0% !important;">P1</th>
                                                        <th style="    padding: 0.5rem; width: 0%;">P2</th>
                                                        <th style="    padding: 0.5rem; width: 0%;">P3</th>
                                                        <th style="    padding: 0.5rem; width: 0% !important;">P4</th>
                                                        <th style="    padding: 0.5rem; width: 0% !important;">P5</th>
                                                        <th style="    padding: 0.5rem; width: 0% !important;">P6</th>
                                                        <th style="    padding: 0.5rem; width: 0% !important;">P7</th>
                                                        <th style="    padding: 0.5rem; width: 0% !important;">P8</th>
                                                        <th style="    padding: 0.5rem; width: 1% !important;">P9</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td style="background-color: #fbfbfb !important;text-align: center; font-weight: bold; width: 10%;"
                                                            colspan="9">
                                                            Policy and management processes
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 20px; width: 10%;">Disclosures</td>
                                                        <td class="fptable"
                                                            style="writing-mode: tb;transform: rotate(180deg); ">
                                                            Ethics &amp; Transparency</td>
                                                        <td class="fptable"
                                                            style="writing-mode: tb;transform: rotate(180deg);">
                                                            Product Responsibility</td>
                                                        <td class="fptable"
                                                            style="writing-mode: tb;transform: rotate(180deg);">
                                                            Human Resources</td>
                                                        <td class="fptable"
                                                            style="writing-mode: tb;transform: rotate(180deg);">
                                                            Stakeholders Engagement</td>
                                                        <td class="fptable"
                                                            style="writing-mode: tb;transform: rotate(180deg);">
                                                            Respect for Human Rights</td>
                                                        <td class="fptable"
                                                            style="writing-mode: tb;transform: rotate(180deg);">
                                                            Responsible manufacturing</td>
                                                        <td class="fptable"
                                                            style="writing-mode: tb;transform: rotate(180deg);">
                                                            Public Policy Advocacy</td>
                                                        <td class="fptable"
                                                            style="writing-mode: tb;transform: rotate(180deg);">
                                                            Inclusive Growth</td>
                                                        <td class="fptable"
                                                            style="writing-mode: tb;transform: rotate(180deg);">
                                                            Customer Engagement</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: justify;">1a. Whether your entity’s policy/policies
                                                            cover each principle and its core
                                                            elements of the NGRBCs. (Yes/No)</td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'one'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'two'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'three'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'four'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'five'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'six'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'seven'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'eight'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'nine'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: justify;">1b. Has the policy been approved by the
                                                            Board? (Yes/No)</td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'ten'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'eleven'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'twelve'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'thirteen'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'fourteen'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'fifteen'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'sixteen'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'seventeen'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'eighteen'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1 c. Web Link of the Policies, if
                                                            available</td>
                                                        <td> <input  class="new-control form-control" id="meassageInput" style="height: auto;resize: vertical;text-decoration: underline;color: darkblue;"placeholder="" formControlName="link1"> </td>
                                                        <td> <input  class="new-control form-control" id="meassageInput" style="height: auto;resize: vertical;text-decoration: underline;color: darkblue;"placeholder="" formControlName="link2"> </td>
                                                        <td> <input  class="new-control form-control" id="meassageInput" style="height: auto;resize: vertical;text-decoration: underline;color: darkblue;"placeholder="" formControlName="link3"> </td>
                                                        <td> <input  class="new-control form-control" id="meassageInput" style="height: auto;resize: vertical;text-decoration: underline;color: darkblue;"placeholder="" formControlName="link4"> </td>
                                                        <td> <input  class="new-control form-control" id="meassageInput" style="height: auto;resize: vertical;text-decoration: underline;color: darkblue;"placeholder="" formControlName="link5"> </td>
                                                        <td> <input  class="new-control form-control" id="meassageInput" style="height: auto;resize: vertical;text-decoration: underline;color: darkblue;"placeholder="" formControlName="link6"> </td>
                                                        <td> <input  class="new-control form-control" id="meassageInput" style="height: auto;resize: vertical;text-decoration: underline;color: darkblue;"placeholder="" formControlName="link7"> </td>
                                                        <td> <input  class="new-control form-control" id="meassageInput" style="height: auto;resize: vertical;text-decoration: underline;color: darkblue;"placeholder="" formControlName="link8"> </td>
                                                        <td> <input  class="new-control form-control" id="meassageInput" style="height: auto;resize: vertical;text-decoration: underline;color: darkblue;"placeholder="" formControlName="link9"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: justify;">2.Whether the Company has translated the
                                                            policy into procedures. (Yes/No)</td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'nineteen'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'twenty'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'twentyone'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'twentytwo'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'twentythree'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'twentyfour'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'twentyfive'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'twentysix'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'twentyseven'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: justify;">3.Do the enlisted policies extend to the
                                                            Company’s value chain partners? (Yes/No)
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'twentyeight'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'twentynine'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'thirty'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'thirtyone'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'thirtytwo'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'thirtythree'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'thirtyfour'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'thirtyfive'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                                                <mat-select matInput
                                                                    [formControlName]="'thirtysix'">
                                                                    <mat-option
                                                                        *ngFor="let food of foods"
                                                                        [value]="food.Name">
                                                                        {{food.Name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" style="text-align: justify;">4.Name of the national and
                                                            international codes/ certifications/
                                                            labels/ standards (e.g. Forest
                                                            Stewardship Council, Fairtrade,
                                                            Rainforest Alliance, Trustea) standards
                                                            (e.g. SA 8000, OHSAS, ISO, BIS) adopted
                                                            by the Company and mapped to each
                                                            principle.</td>
                                                        <td colspan="6">
                                                            <div class="col-xl-4">
                                                                <input
                                                                    class="new-control form-control"
                                                                    id="meassageInput" style="  height: auto; width: 350% !important;
                               resize: vertical;width:600px" formControlName="qual1">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" style="text-align: justify;">5.Specific commitments, goals
                                                            and targets set by the Company with
                                                            defined timelines, if any.</td>
                                                        <td colspan="6">
                                                            <div class="col-xl-4">
                                                                <input
                                                                    class="new-control form-control"
                                                                    id="meassageInput" style="  height: auto; width: 350% !important;
                               resize: vertical;width:600px" formControlName="qual2">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" style="text-align: justify;">6.Performance of the Company
                                                            against the specific commitments, goals
                                                            and targets along with reasons, in case
                                                            the same are not met.</td>
                                                        <td colspan="6">
                                                            <div class="col-xl-4">
                                                                <input
                                                                    class="new-control form-control"
                                                                    id="meassageInput" style="  height: auto; width: 350% !important;
                               resize: vertical;width:600px" formControlName="qual3">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
  </div>
  
  </div>
  





<div class="mx-n3">
    <div data-simplebar data-simplebar-auto-hide="false" data-simplebar-track="success" style="max-height: 500ox;"
        #scroll>
        <ul class="list-group list-group-flush">
            <li class="hero-line list-group-item py-3">
                <div class="row">
                    <div class="row" >
                       
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>