<div class="page-content" style="padding: 30px 0px 0px 10px;">
    
    <div class="container-fluid">
  
       
  
        <div class="row">
          
  
  
      <div class="row"> 
          <div class="col-xl-12" >
              <div class="card">
                  <div class="card-body">
                      <div class="" style="text-align: left;">
                          <h4 style=" color: #00276d;
                              font-size: 20px; ">    {{msg}} {{name}} !
                          </h4>
                        
                      </div>
                  </div>
              </div>              
          </div>
      </div>
  
  
  
      <div class="row">
          <div class="col-12">
            
              <div class="row">
  
                  <div class="col-xxl-4 col-lg-4">
                      <div class="col-xxl-12">
                          <div class="card">
  
  
                              <div class="card-body" style="padding: 50px;">
  
                                  <div class="text-center">
                                      <div class="profile-user position-relative d-inline-block mx-auto  " style="    margin-bottom: 0.5rem !important;
                                  ">
                                          <img src="assets/img/img-156.png" class="avatar-xl  user-profile-image" alt="user-profile-image">
                                         
                                      </div>
                                      <h5 class="fs-16 mb-1" style=" margin-bottom: 20px !important; color: #00276d;">{{orgname}}</h5>
                                      <p class="text-muted mb-0" style="color: #00276d;">{{desg}}</p>
                                  </div>
  
  
                                  
                            
  
  
                                  <!-- end dropzon-preview -->
                              </div>
                              <!-- end card body -->
                          </div>
  
                          <div class="card">
  
  
                              <div class="card-body" style="padding: 33px;">
                                  <button mat-menu-item   (click)="Save(idsearch)" style="text-align: center;">
                                      <i class="mdi mdi-lock" style="    font-size: 20px;
                                      margin: 10px; color: #00276d;"></i>
                                    
                                  
                                      <span style="font-size: 20px;color: #00276d;">Change Password</span>
                                  </button>
                                 
                                  <!-- end dropzon-preview -->
                              </div>
                              <!-- end card body -->
                          </div>
                          <!-- end card -->
                      </div>
                  </div><!-- end col -->
                  <div class="col-xxl-8 col-lg-8">
                      <div class="col-xxl-12">
                          <div class="card">
  
  
                              <div class="card-body" style="padding: 60px;">
  
                                  <div class="tab-content">
                                      <div class="tab-pane active show" id="personalDetails" role="tabpanel">
                                          <form [formGroup]="profileform">
                                              <div class="row">
                                                  <div class="col-lg-4">
                                                      <div class="" style="margin-bottom: 2rem !important;">
                                                          <label for="firstnameInput" class="form-label" style="font-size: 17px;">Organization Name</label>
                                                          <input type="text" class="form-control" id="firstnameInput" readonly formControlName="OrganizationName" placeholder="{{orgname}}">
                                                      </div>
                                                  </div>
                                                  <!--end col-->
                                                  <div class="col-lg-4">
                                                      <div class="" style="margin-bottom: 2rem !important;">
                                                          <label for="lastnameInput" class="form-label" style="font-size: 17px;">Organization Type</label>
                                                          <input type="text" class="form-control" id="lastnameInput" formControlName="OrganizationType" value="{{orgtype}}">
                                                      </div>
                                                  </div>
            
                                                  <div class="col-lg-4">
                                                      <div class="" style="margin-bottom: 2rem !important;">
                                                          <label for="firstnameInput" class="form-label" style="font-size: 17px;">Head Office</label>
                                                          <input type="text" class="form-control" id="firstnameInput" formControlName="HeadOffice" value="{{hdoff}}">
                                                      </div>
                                                  </div>
                                                  <!--end col-->
                                                  <div class="col-lg-4">
                                                      <div class="" style="margin-bottom: 2rem !important;">
                                                          <label for="countryInput" class="form-label" style="font-size: 17px;">Country</label>
                                                          <input type="text" class="form-control" id="countryInput" formControlName="Country" value="{{country}}">
                                                      </div>
                                                  </div>
            
                                                  <div class="col-lg-4">
                                                      <div class="" style="margin-bottom: 2rem !important;">
                                                          <label for="zipcodeInput" class="form-label"style="font-size: 17px;">Pin Code</label>
                                                          <input type="text" class="form-control" minlength="5" maxlength="6" id="zipcodeInput" formControlName="Pincode" value="{{pin}}">
                                                      </div>
                                                  </div>
            
                                                  <!--end col-->
                                                 
            
                                                  <div class="col-lg-4">
                                                      <div class="" style="margin-bottom: 2rem !important;">
                                                          <label for="firstnameInput" class="form-label" style="font-size: 17px;">Contact Name</label>
                                                          <input type="text" class="form-control" id="firstnameInput" formControlName="ContactName" value="{{name}}">
                                                      </div>
                                                  </div>
            
                                                  <!--end col-->
                                                  <div class="col-lg-4">
                                                      <div class="" style="margin-bottom: 2rem !important;">
                                                          <label for="emailInput" class="form-label" style="font-size: 17px;">Email </label>
                                                          <input type="email" class="form-control" id="emailInput" formControlName="EmailId" value="{{email}}">
                                                      </div>
                                                  </div>
                                                  <!--end col-->
            
                                                  <div class="col-lg-4">
                                                      <div class="" style="margin-bottom: 2rem !important;">
                                                          <label for="phonenumberInput" class="form-label" style="font-size: 17px;">Phone Number</label>
                                                          <input type="text" class="form-control" id="phonenumberInput" formControlName="ContactNumber" value="{{no}}">
                                                      </div>
                                                  </div>
                                                
                                                 
                                              
                                                  <div class="col-lg-4">
                                                      <div class="" style="margin-bottom: 2rem !important;">
                                                          <label for="designationInput" class="form-label" style="font-size: 17px;">Designation</label>
                                                          <input type="text" class="form-control" id="designationInput" formControlName="Designation" value="{{desg}}"> 
                                                      </div>
                                                  </div>
                                                  <!--end col-->
                                             
                                               
                                                  <div class="col-lg-12" style="padding-top: 20px;">
                                                      <div class="hstack gap justify-content-end">
                                                          <!-- <button type="submit" class="btn btn-primary"(click)="Save()">Update</button> -->
                                                          <!-- <button type="button" class="btn btn-soft-success">Cancel</button> -->
                                                      </div>
                                                  </div>
                                                  <!--end col-->
                                              </div>
                                              <!--end row-->
                                          </form>
                                      </div>
                                      <!--end tab-pane-->
                                   
                                     
                                  </div>
  
                                  <!-- end dropzon-preview -->
                              </div>
                              <!-- end card body -->
                          </div>
                          <!-- end card -->
                      </div>
                  </div><!-- end col -->
              </div><!-- end row -->
          </div><!-- end col -->
      </div>
  
        
        </div>
        <!--end row-->
  
    </div>
    <!-- container-fluid -->
  </div>
  
  
  <div class="col-xl-12 copyrt" style="z-index: 99; text-align: center;    padding-left: 50px;
  
    padding-right: 50px;
  
    padding-bottom: 50px; font-size: 16px;  
  
    border-top: 1px solid #e6e8f2;
  
    ">
  
  
  
  
  
  <div class="d-flex align-items-start gap-3 mt-4">
  
    <button type="button" class="esg-prev-btn btn dash-btn-1 btn-label previestab"(click)="back()" data-previous="steparrow-gen-info-tab"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Back </button>
  
    <!-- <button type="button" class="btn dash-btn-1 btn-label right ms-auto nexttab nexttab"(click)="Save()" data-nexttab="pills-experience-tab"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Next</button> -->
  
  
   
  
  </div>
  
  
  
     </div>
  