

.mat-column-Edit {

    width: 20%;
}


.mat-column-UserName {
       width: 20%;
}

.mat-column-RoleName {
       width: 20%;
}

.mat-column-FirstName {
       width: 20%;
}



.mat-column-MobileNumber {
       width: 20%;
}
.edit-icon1  {
       background-color: #1c75bc !important;
}
.edit-icon1-2 {
       color: #fff;
}
.edit-icon1:hover {
       background-color: #0094db !important;
}



.t-published {
       overflow-y: auto;
       height: 440px;
   }
   
   @media (max-width: 1399px) {
       .t-published {
           overflow-y: auto;
           height: 300px;
       }
    }
   
