th.mat-header-cell {
    color:black !important;
    background-color:#FCB713  !important;
  }
  .content{
    width: 100%;
    margin-top: 10px;
}

  .mat-column-Edit {

    width: 12.5%;

}

.mat-column-AvailableStock {

    width: 12.5%;

}

.mat-column-Name{

    width: 12.5%;

}

.mat-column-IsActive {

    width: 12.5%;

}

.mat-column-UpdatedDate {

    width: 12.5%;

}
.mat-column-Units {

    width: 12.5%;

}

.mat-column-Type {

    width: 12.5%;

}
.mat-column-WareHouseId {

    width: 12.5%;

}


  