<div class="placeholder-content">
  <section class="sticky-content">
    <header id="header_main" class="header_1 js-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div id="site-header-inner">
              <div class="wrap-box relative">
                <div id="site-logo" class="clearfix">
                  <div id="site-logo-inner">
                    <a href="#" rel="home" class="main-logo">
                      <img
                        id="logo_header"
                        src="./assets/img/new-logo.png"
                        alt="img"
                        width="129"
                        height="32"
                      />
                    </a>
                  </div>
                </div>
                <div class="mobile-button"><span></span></div>
          
                <div class="flat-button-top flex">
               
                  <div class="sc-btn-top" id="site-header">
                    
                    <div class="buttons nft-button " (click)="gotohome()">
                      <a class="as-btn nts style3 shadow-none m-3" >
                        Home
                       
                      </a>
                      <a class=" nts style3 shadow-none m-4" >
                      
                      </a>
                      <br />
                    </div>
                  </div>
                </div>
  
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </section>


  <div class="bdt-position-cover bdt-animation-kenburns bdt-transform-origin-center-left">
    <img _ngcontent-rxj-c53="" src="./assets/img/faq3.jpg" alt="" class="w-30 img-fluid frame-image" style="    width: 100% !important;
    height: 450px;
    object-fit: cover;">
     <h4 class="display-6 coming-soon-text centered">Frequently asked questions</h4>
     
					
   		
  </div>



  <section >
    <div class="container">
      <div class="row" >
        <div class="col-md-12" style="padding-bottom: 80px;">
          <h1 class="faq-text" style="    color: #8dc645;">
            About Footprint by TRST01
          </h1>

          <div class="col-lg-11" style="margin: auto;">
            <P class="faq-text1">
              The Footprint ESG Scorecard by TRST01 is an essential tool that provides users with clear, concise and comprehensive information about ESG assessment. Using data science and machine learning, it evaluates a company’s digital readiness and ethical technology use, making it an advanced and unique tool. The FAQs serve as a crucial resource for businesses, investors, and stakeholders to gain a better understanding of the tool’s application and usefulness. By utilizing the FAQs, accurate and up-to-date ESG performance assessment is made easier.
            </P>

          </div>

          <div class="col-lg-11" style="margin: auto;">
            <div id="faq">
           
              <ul>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>What is Footprint by TRST01?</h2>
                  <p>Footprint by TRST01 is an innovative solution that utilizes AI and blockchain technology to revolutionize ESG (Environmental, Social, and Governance) tracking, measurement, and reporting.</p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>How does Footprint by TRST01 adhere to global ESG standards?</h2>
                  <p>Footprint by TRST01 is designed to comply with the 2021 standards of global ESG frameworks such as the Global Reporting Initiative (GRI), Sustainability Accounting Standards Board (SASB), Task Force on Climate-related Financial Disclosures (TCFD), and Carbon Disclosure Project (CDP). This ensures that businesses can create credible and comparable ESG disclosures on a global scale.</p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>Can Footprint by TRST01 help in aligning operations with the UNSDGs?</h2>
                  <p>Yes, Footprint by TRST01 integrates the United Nations Sustainable Development Goals (UNSDGs) into the ESG reporting framework, allowing businesses to track their contributions to these globally recognized targets.</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>Does Footprint by TRST01 offer industry-specific solutions?</h2>
                  <p>Yes, Footprint by TRST01 offers tailored content that caters to the unique ESG needs and concerns of each industry. This allows companies to focus on the most relevant ESG issues pertaining to their operations.</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>How can businesses benefit from TRST01's solutions ?</h2>
                  <p>Businesses can benefit from TRST01’s solutions by gaining transparency and traceability in their supply chains, automating ESG reporting processes, and accessing reliable data for informed decision-making. These solutions promote sustainability, trust, and accountability in business operations.</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>How does Footprint by TRST01 handle supply chain management reporting?</h2>
                  <p>Footprint by TRST01 uses blockchain technology, a decentralized and immutable system, to guarantee that all ESG data recorded is accurate and has not been tampered with. This enhances the reliability and transparency of ESG data.</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>How does blockchain technology enhance the reliability of Footprint by TRST01?</h2>
                  <p>Footprint by TRST01 uses blockchain technology, a decentralized and immutable system, to guarantee that all ESG data recorded is accurate and has not been tampered with. This enhances the reliability and transparency of ESG data.</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>How does Footprint by TRST01 assist with India's BRSR reporting requirements?</h2>
                  <p>Footprint by TRST01 provides an automated and standardized process for Business Responsibility and Sustainability Reporting (BRSR) in India. It enables companies to efficiently collect, analyze, and report ESG data in compliance with the new ESG reporting requirements set by the Securities and Exchange Board of India (SEBI).</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>How can Footprint by TRST01 contribute to a more sustainable future?</h2>
                  <p>By providing an industry-specific, customizable solution that prioritizes transparency and trust, Footprint by TRST01 can help companies take a holistic view of their operations, enhance their reputation, gain stakeholder trust, and ultimately contribute to a more sustainable future for all.</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>What is the ESG Scorecard Model?</h2>
                  <p>The ESG Scorecard Model is a tool designed to assess an organization’s performance based on environmental, social, and governance parameters. It helps in identifying potential ESG risks and is a robust performance indicator.</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>What are the benefits of using the ESG Scorecard Model?</h2>
                  <p>The ESG Scorecard Model helps in identifying potential environmental, social, and governance risks that could affect a company’s financial performance or reputation. It serves as a performance indicator, helps in communicating a company’s dedication to sustainability, and shows compliance with stricter ESG regulations.</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>How does the ESG Scorecard Model differ from ESG Ratings?</h2>
                  <p>The Scorecard Model provides a detailed quantitative analysis of a company’s ESG performance, utilizing specific metrics, while ESG Ratings provide a more generalized, qualitative assessment of a company’s ESG practices.</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>What are some limitations of the ESG Scorecard Model?</h2>
                  <p>Lack of standardization and possible subjectivity in evaluations can lead to biases and discrepancies in ESG Scorecard Models. Also, high scores do not always indicate a positive impact as self-reported ESG data can be inconsistent or inaccurate.</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>What role does industry-specific and country-specific risk play in ESG Scorecard Modelling?</h2>
                  <p>These risks are essential for creating a comprehensive ESG Scorecard Model. They account for differences in environmental, social, and governance risks faced by companies in different sectors and regions.</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>How can businesses incorporate the ESG Scorecard Model into their strategy?</h2>
                  <p>The ESG Scorecard Model can be used by businesses to understand potential risks and opportunities, make more informed strategic decisions, drive operational changes, and enhance their reputation.</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>What makes the Footprint ESG Scorecard by TRST01 unique?</h2>
                  <p>The Footprint ESG Scorecard by TRST01 integrates advanced analytics, machine learning algorithms, and big data to comprehensively assess a company’s ESG performance. It also introduces a ‘fourth dimension’ – Technological Impact, considering the ethical implications of technology and a company’s readiness for digital transformation.</p>
                </li>

                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>What impact does the ESG Scorecard Model have on investors?</h2>
                  <p>For investors, the ESG Scorecard Model provides a detailed analysis of a company’s ESG performance, which can help in identifying potential risks and opportunities, thus enabling informed investment decisions.</p>
                </li>
              </ul>
            </div>

          </div>

         
      

       

        </div>
        
      </div>

    </div>
  </section>


  <footer class="footer-wrapper footer-layout1">



 

  
    <div class="widget-area" style="        background: linear-gradient(45deg, #8dc645, #26abe2); padding-bottom: 20px !important; padding-top: 55px !important;" >
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-6 col-xxl-3 col-xl-4">
            <div class="widget footer-widget">
              <h3 class="widget_title">About Company</h3>
  
            
  
              <div class="as-widget-about">
                <p class="about-text" style="text-align: justify;">
  
                  ESG reporting is becoming increasingly important as companies and investors realise the importance of addressing social and environmental issues to reduce risk, strengthen resilience and improve their returns on investment.
  
  
                  Footprint by TRST01 is totally committed to a blockchain-enabled ESG reporting tool, featuring consulting, digitizing, framing, and reporting.
  
                </p>
                <div class="as-social">
                  
                  <a href="https://twitter.com/ETgarage" target="_blank"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a href="https://www.linkedin.com/company/trst01/mycompany/verification/" target="_blank"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                
                  <a href="https://www.youtube.com/@TRST01Official" target="_blank"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-auto">
            <div class="widget widget_nav_menu footer-widget">
              <h3 class="widget_title">Quick Links</h3>
              <div class="menu-all-pages-container">
                <ul class="menu">
                  <li><a (click)="gotohome()" >About</a></li>
                  <li><a (click)="gotohome()">Frameworks</a></li>
                  <li><a (click)="gotohome()">Features</a></li>
                  <li><a (click)="gotohome()"> Benefits of Footprint</a></li>
                  <li><a (click)="gotofaq()"> FAQ</a></li>
                  <li><a (click)="gotoblogs()"> Blogs</a></li>
                  <li><a (click)="gotohome()">Our Team</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-auto">
            <div class="widget widget_nav_menu footer-widget">
              <h3 class="widget_title">Services</h3>
              <div class="menu-all-pages-container">
                <ul class="menu">
                  <li><a  >Login</a></li>
                  <li>
                    <a >Sign Up</a>
                  </li>
                 
                  
                  <li>
                    <a href="https://www.youtube.com/watch?v=V8ZjW8XWQkM&t=1s" target="_blank">ESG Reporting</a>
                  </li>
                  <li><a href="https://www.youtube.com/watch?v=aPv2wBM5euY&t=1s" target="_blank">FootPrint Bharat</a></li>
      
                 
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-auto">
            <div class="widget footer-widget">
              <h3 class="widget_title">Contact Us</h3>
              <div class="as-widget-contact">
                <div class="contact-feature">
                  <div class="icon-btn">
                    <i class="fa-solid fa-phone"></i>
                  </div>
                  <div class="media-body">
                  
                    <a href="tel:+19088000393" class="contact-feature_link"
                      >+91  91001 06371</a
                    >
                  </div>
                </div>
                <div class="contact-feature">
                  <div class="icon-btn">
                    <i class="fa-solid fa-envelope"></i>
                  </div>
  
                 
  
                  <div class="media-body">
                    
                    <a href="mailto:journey@trst01.com"
                      class="contact-feature_link"
                      >journey@trst01.com</a
                    >
                  </div>
                </div>
                <div class="contact-feature">
                  <div class="icon-btn">
                    <i class="fa-solid fa-location-dot"></i>
                  </div>
                  <div class="media-body">
                    
                    <a
                      href="https://www.google.com/maps" target="_blank"
                      class="contact-feature_link"
                      >2A121, WeWork Krishe Emerald, WhiteFields, 
                      Hyderabad, 500 084</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-wrap bg-title" >
      <div class="container">
        <div class="row justify-content-between align-items-center">
  
  
          <div class="col-lg-12">
  
  
           
            <div class="d-flex mb-4 align-items-center">
              <div class="flex-grow-1 footer-under">
                
                <p class="atf-text text-muted mb-0" style="text-align: end; color: #fff !important;">Copyright @2023</p>
            </div>
              <div class="flex-shrink-0">
                <a href="https://trst01.com/" target="_blank"> <img src="assets/img/t-logo.png"  style="  margin-bottom: -20px;"  salt="" class="avatar-sm  atf-img"> </a>
                  
              </div>
              <div class="flex-grow-1 ms-2">
                  
                  <p class="atf-text text-muted mb-0" style=" color: #fff !important;">All rights reserved.</p>
              </div>
          </div>
             
           
          </div>
         
        </div>
      </div>
    </div>
    <div class="shape-left">
      <img src="assets/img/shape/footer_shape_2.svg" alt="shape" />
    </div>
    <div class="shape-right">
      <div class="particle-1" id="particle-5"></div>
    </div>
  </footer>

  
<a (click)="gototop()" data-target="html" class="scroll-to-target scroll-to-top ng-tns-c156-0" style="display: block;"><i class="fa fa-angle-up ng-tns-c156-0"></i></a>

  
 

</div>

