<div aria-label="pdf-page-3">
  <div class="pagenumber">
  </div>
</div>
    <!-- gd1 -->
    <div aria-label1="pdf-page-3" >
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
            <div class="card">

              <img class="bg-preview  card-img img-fluid pimg-height" [src]="imageUrl" alt="Card image" >
              <div class="card-img-overlay p-0 d-flex flex-column">

                <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">
                  <span class="float-end">{{reportname}}</span>
                </div>
                {{hello1(0,1)}}

                <div class="row">
                  <h2 class="brsr-title">
                    <b>Business Responsibility and Sustainability Report (BRSR)</b>
                  </h2>
                </div>
                <div class="row">
                  <h3 class="brsr-title-sub1"><b >Section A: General Disclosures</b></h3>
                </div>
                <div class="row">
                  <h3 class="brsr-title-sub2"><b>I. DETAILS OF THE LISTED ENTITY</b></h3>
                </div>


                

                <div class="box-body table-responsive brsr-tablebody">
                  <table id="datatable"  class="table table-striped table-bordered " style="width:100%;   margin-top: 15px;">
                  
                       <tbody>
                        <tr class="brsr-card01">
               
                          <td  class="brsr-table-013 " >
                            1. Corporate Identity Number (CIN) of the Listed Entity.
                          </td>
  
                          <td   class="brsr-table017">
                            {{qaaobject[0]['Question1']}}
                           </td >
                          </tr>
                          <tr class="brsr-card01 " *ngIf="qaaobject[0]['Question2'] !=''">

                          <td  class="brsr-table013">
                            2. Name of the Listed Entity.
                          </td>
  
                          <td   class="brsr-table017"  >
                            {{qaaobject[0]['Question2']}}
                           </td >
  
                                   
                          </tr>

                          <tr class="brsr-card01 " *ngIf="qaaobject[0]['Question3'] !=''">

                            <td  class="brsr-table013">
                              3. Year of incorporation:
                            </td>
    
                            <td   class="brsr-table017"  >
                              {{qaaobject[0]['Question3']}}
                             </td >
    
                                     
                            </tr>


                            <tr class="brsr-card01 " *ngIf="qaaobject[0]['Question4'] !=''">

                              <td  class="brsr-table013">
                                4. Registered office address:
                              </td>
      
                              <td   class="brsr-table017"  >
                                {{qaaobject[0]['Question4']}}, {{qaaobject[0]['Question5']}}, {{qaaobject[0]['Question6']}}, {{qaaobject[0]['Question7']}}
                               </td >
      
                                       
                              </tr>

                              <tr class="brsr-card01 " *ngIf="qaaobject[0]['Question8'] !=''">

                                <td  class="brsr-table013">
                                  5. Corporate address:
                                </td>
        
                                <td   class="brsr-table017"  >
                                  {{ qaaobject[0]['Question8']}},{{ qaaobject[0]['Question9']}},{{ qaaobject[0]['Question10'] }},{{qaaobject[0]['Question11'] }}
                                 </td >
        
                                         
                                </tr>

                                <tr class="brsr-card01 " *ngIf="qaaobject[0]['Question12'] !=''">

                                  <td  class="brsr-table013">
                                    6. E-mail:
                                  </td>
          
                                  <td   class="brsr-table017"  >
                                    {{ qaaobject[0]['Question12']}}
                                   </td >
          
                                           
                                  </tr>

                                  <tr class="brsr-card01 " *ngIf="qaaobject[0]['Question13'] !=''">

                                    <td  class="brsr-table013">
                                      7. Telephone:
                                    </td>
            
                                    <td   class="brsr-table017"  >
                                      {{ qaaobject[0]['Question13'] }}
                                     </td >
            
                                             
                                    </tr>

                                    <tr class="brsr-card01 " *ngIf="qaaobject[0]['Question14'] !=''">

                                      <td  class="brsr-table013">
                                        8. Website:
                                      </td>
              
                                      <td   class="brsr-table017"  >
                                        {{ qaaobject[0]['Question14']}}
                                       </td >
              
                                               
                                      </tr>

                                      <tr class="brsr-card01 " *ngIf="qaaobject[0]['Question15'] !=''">

                                        <td  class="brsr-table013">
                                          9. Financial year for which reporting is being done:
                                        </td>
                
                                        <td   class="brsr-table017"  >
                                          {{ qaaobject[0]['Question15'] }}
                                         </td >
                
                                                 
                                        </tr>

                                        <tr class="brsr-card01 " *ngIf="qaaobject[0]['Question16'] !=''">

                                          <td  class="brsr-table013">
                                            10. Name of the Stock Exchange(s) where shares are listed:
                                          </td>
                  
                                          <td   class="brsr-table017"  >
                                            {{ qaaobject[0]['Question16'] }}
                                           </td >
                  
                                                   
                                          </tr>

                                          <tr class="brsr-card01 " *ngIf="qaaobject[0]['Question17'] !=''">

                                            <td  class="brsr-table013">
                                              11. Paid-up Capital:
                                            </td>
                    
                                            <td   class="brsr-table017"  >
                                              {{ qaaobject[0]['Question17'] }} &nbsp;  {{ qaaobject[0]['Question28'] }}
                                             </td >
                    
                                                     
                                            </tr>

                                            <tr class="brsr-card01 " *ngIf="qaaobject[0]['Question18'] !=''">

                                              <td  class="brsr-table013">
                                                12. Name and contact details (telephone, email address) of the person who may be contacted in case of any queries on the BRSR report:
                                              </td>
                      
                                              <td   class="brsr-table017"  >
                                                {{ qaaobject[0]['Question18'] }} &nbsp; {{ qaaobject[0]['Question19'] }} 
                                                <br> {{ qaaobject[0]['Question24'] }} 
                                                <br> {{ qaaobject[0]['Question25'] }} 
                                                <br> {{ qaaobject[0]['Question26'] }} 
                                               </td >
                      
                                                       
                                              </tr>

                                              <tr class="brsr-card01 " *ngIf="qaaobject[0]['Question27'] !=''">

                                                <td  class="brsr-table013">
                                                  13. Reporting boundary - Are the disclosures under this report made on a standalone basis (i.e. only for the entity) or on a consolidated basis (i.e. for the entity and all the entities which form a part of its consolidated financial statements, taken together).
                                                </td>
                        
                                                <td   class="brsr-table017"  >
                                                  {{qaaobject[0]['Question27']}}
                                                 </td >
                        
                                                         
                                                </tr>
                      </tbody>
                  </table>
              </div>




                













              </div>
              <footer class="footer sun col-xxl-12">
                <div class="container-fluid">
                  <div class="row">
                    <div class="">
                      <div class=" align-items-center d-flex">
    
                        <a style="display:flex;"><span class="mypower"
                            style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"
                            src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
                            <h3  style="color: #000;
                            margin-top: 0px;     margin-left: 50px;font-size: medium;">{{tsarray1[0]}}</h3>
                     
                      </div>
                    </div>
                  </div>
                </div>
              </footer>

            </div>
          </div>
        </div>
      </div>
      <div style="page-break-before:always">&nbsp;</div>
     
    </div>

  <!-- gd2 and gd3-->
    <div aria-label1="pdf-page-4" *ngIf="((gd2table1.length >0) || (gd2table2.length >0) || (qaaobject[2]['one'] !=undefined))">
      {{hello1(1,1)}}
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
            <div class="card">

              <img class="bg-preview  card-img img-fluid pimg-height" [src]="imageUrl" alt="Card image" >
              <div class="card-img-overlay p-0 d-flex flex-column">

                <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">
                  <span class="float-end">{{reportname}}</span>
                </div>



                <div class="row">
                  <h3 class="brsr-title-sub2"><b >II. PRODUCTS / SERVICES </b></h3>
                </div>
                <div  *ngIf="gd2table1.length >0">
                  <div class=" jalsa brsr-top" >
                    <h6  class="card-title mb-0 brsr-title-sub3"> 14. Details of business activities (accounting for 90% of the turnover):</h6>
                  </div>
                  
                </div>
              
                <div class="box-body table-responsive brsr-tablebody" *ngIf="gd2table1.length >0">
                                    
                  <table id="datatable"  style="width:100%;    margin-top: 15px;">
                     <thead class="tableheader">
                       
                           <tr>
                            <th class="brsr-table-01 ">S.No</th>
                             <th class="brsr-table-01 ">Description of Main Activity</th>
                             <th class="brsr-table-02 ">Description of Business Activity</th>
                             <th class="brsr-table-03 ">% of turnover</th>
                           </tr>
                     </thead>
                     <tbody >
                         <tr *ngFor="let item of gd2table1; let i = index"  class="brsr-tr">
                          <td class="brsr-table-04 bw">{{ i+1 }}</td>
                           <td class="brsr-table-04 bw">{{ item.Type }}</td>
                           <td class="brsr-table-04 bw">{{ item.Assessments }}</td>
                           <td class="brsr-table-05 ">{{ item.Turnover}}</td>
                            
                         </tr>
                     </tbody>
                 </table>
                   
                 </div>
              

                 


             

                  <div class=" jalsa brsr-top" *ngIf="gd2table2.length >0">
                    <h6  class="card-title mb-0 brsr-title-sub3">15. Products/Services sold by the entity (accounting for 90% of the entity’s Turnover):</h6>
                  </div>
              
                <div class="box-body table-responsive brsr-tablebody" *ngIf="gd2table2.length >0">
                                    
                  <table id="datatable"  style="width:100%;      margin-top: 15px;">
                     <thead class="tableheader">
                       
                           <tr>
                            <th class="brsr-table-07 ">S.No</th>
                             <th class="brsr-table-07">Product/Service</th>
                             <th class="brsr-table-07 ">NIC Code</th>
                             <th class="brsr-table-06">NIC Code Description</th>
                             <th class="brsr-table-06">% of Turnover of the entity</th>
                           </tr>
                     </thead>
                     <tbody>
                         <tr *ngFor="let item of gd2table2; let i = index" >
                          <td class="brsr-table-08 ">{{ i+1 }}</td>
                           <td class="brsr-table-08 ">{{ item.Assessments2x }}</td>
                           <td class="brsr-table-08 ">{{ item.Type2x }}</td>
                           <td class="brsr-table-08 ">{{ item.Projects2x}}</td>
                           <td class="brsr-table-09">{{ item.Labs2x}}</td>
                         </tr>
                     </tbody>
                 </table>
                   
                 </div>
                


             
            

                 <!-- gd3 -->
                
                <div class="row">
                  <h3 class="brsr-title-sub2"><b >III. Operations </b></h3>
                </div>

              

                  <div class=" jalsa brsr-top" *ngIf="qaaobject[2]['one'] !=undefined">
                    <h6  class="card-title mb-0 brsr-title-sub3"> 16. Number of locations where plants and/or operations/offices of the entity are situated:</h6>
                  </div>


                 <div class="box-body table-responsive brsr-tablebody" *ngIf="qaaobject[2]['one'] !=undefined">
                  <table id="datatable" class="table table-striped table-bordered " style="width:100%;   margin-top: 15px;">
                      <thead class="tableheader">
                          <tr>
                              <th class="brsr-table-10">Location</th>
                              <th class="brsr-table-11">Number of Plants</th>
                              <th class="brsr-table-11">Number of offices</th>
                              <th class="brsr-table-10">Total</th>
                             
                          </tr>
                       </thead>
                       <tbody>
                        <tr class="brsr-top-card">
                        
                                <td class="brsr-table-13">
                                  National
                                </td >

                                <td   class="brsr-table-13">
                                  {{qaaobject[2]['one']}}
                                 </td >

                                 <td   class="brsr-table-13">
                                  {{qaaobject[2]['two']}}
                                 </td >

                                 <td   class="brsr-table-14">
                                  {{qaaobject[2]['three']}}
                                 </td >
                          
                                
                                
                            
                               
                          </tr>
                          <tr class="brsr-top-card">


                                    <td class="brsr-table-13" >
                                      International
                                    </td>
                                    <td   class="brsr-table-13">
                                      {{qaaobject[2]['four']}}
                                     </td >

                                     <td   class="brsr-table-13">
                                      {{qaaobject[2]['five']}}
                                     </td >

                                     <td   class="brsr-table-14" >
                                      {{qaaobject[2]['six']}}
                                     </td >



                                  
                                   
                                   
                              </tr>
                      </tbody>
                  </table>
              </div>

         

              </div>
              <footer class="footer sun col-xxl-12">
                <div class="container-fluid">
                  <div class="row">
                    <div class="">
                      <div class=" align-items-center d-flex">
    
                        <a style="display:flex;"><span class="mypower"
                            style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"
                            src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
    
                            <h3  style="color: #000;
                                        margin-top: 0px;     margin-left: 50px;font-size: medium;">{{tsarray1[1]}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
      <div style="page-break-before:always">&nbsp;</div>
    </div>
 <!-- gd4 -->

    <div aria-label1="pdf-page-5" *ngIf="((qaaobject[2]['ten'] !=undefined) || (qaaobject[2]['seven'] !=undefined) || ((qaaobject[2]['nine'] !=undefined) && (qaaobject[2]['nine'] !='')) || (qaaobject[3]['Question1'] !=undefined) || (qaaobject[3]['Question31'] !=undefined))">
      {{hello1(2,1)}}
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
            <div class="card">

              <img class="bg-preview  card-img img-fluid pimg-height" [src]="imageUrl" alt="Card image" >
              <div class="card-img-overlay p-0 d-flex flex-column">

                <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">
                  <span class="float-end">{{reportname}}</span>
                </div>


            
                <div>
                  <div class=" jalsa brsr-top" *ngIf="qaaobject[2]['ten'] !=undefined">
                    <h6  class="card-title mb-0 brsr-title-sub3">17. Markets served by the entity:</h6>
                  </div>
                </div>
  
                <div *ngIf="qaaobject[2]['ten'] !=undefined">
                  <div class=" jalsa brsr-top" >
                    <h6  class="card-title mb-0 brsr-title-sub3"> a. Number of Locations:</h6>
                  </div>
                </div>
  
  
                <div class="box-body table-responsive brsr-tablebody" *ngIf="qaaobject[2]['ten'] !=undefined">
                  <table id="datatable" class="table table-striped table-bordered " style="width:100%;   margin-top: 15px;">
                      <thead class="tableheader">
                          <tr>
                              <th class="brsr-table-15">Location</th>
                              <th class="brsr-table-16">Number</th>
                           </tr>
                       </thead>
                       <tbody>
                        <tr class="brsr-card01">
  
                          <td  class="brsr-table-13">
                            National(No. of States)
                          </td>
  
                          <td   class="brsr-table-17">
                            {{qaaobject[2]['ten']}}
                           </td >
  
  
                               
                          </tr>
                          <tr class="brsr-card01">
  
  
  
                            <td class="brsr-table-13">
                              International
                                    </td>
  
                                    <td class="brsr-table-17">
                                      {{qaaobject[2]['eleven']}}
                                    </td>
  
                                   
                              </tr>
                      </tbody>
                  </table>
              </div>
  
            
              <div *ngIf="qaaobject[2]['seven'] !=undefined">
                <div class="row">
                  <h3 class="brsr-title-sub2 "><b >b. What is the contribution of exports as a percentage of the total turnover of the entity? </b></h3>
                </div>
                
              
                <div class=" jalsa brsr-top" >
                  <h6  class="card-title mb-0 brsr-title-sub3">  {{qaaobject[2]['seven']}}%</h6>
                </div>
              </div>

              <div class=" jalsa brsr-top" >
                <h6  class="card-title mb-0 brsr-title-sub3">  {{qaaobject[2]['eight']}}</h6>
              </div>
            
  
  
              <div *ngIf="((qaaobject[2]['nine'] !=undefined) && (qaaobject[2]['nine'] !=''))">
                <div class="row">
                  <h3 class="brsr-title-sub2 question-text-1"><b >c. A brief on types of customers</b></h3>
                </div>
                
              
                <div class=" jalsa brsr-top" >
                  <h6  class="card-title mb-0 brsr-title-sub3">  {{qaaobject[2]['nine']}}</h6>
                </div>
              </div>
  


                
            <div class="row" *ngIf="qaaobject[3]['Question1'] !=undefined">
              <h3 class="brsr-title-sub2 brsrtext02 "><b >iv. Employees </b></h3>
            </div>
          
           

              <div class="row" *ngIf="qaaobject[3]['Question1'] !=undefined">
                <h3 class="brsr-title-sub2 "><b >18. Employees at the end of Financial Year:</b></h3>
              </div>

              <div class="row" *ngIf="qaaobject[3]['Question1'] !=undefined">
                <h3 class="brsr-title-sub2 "><b >a. Employees and workers (including differently abled):</b></h3>
              </div>


              <div class="box-body table-responsive brsr-tablebodybig01 freport01" *ngIf="qaaobject[3]['Question1'] !=undefined">
                      
                <table id="datatable"  style="width:100%;      margin-top: 15px;">
                 



                    <thead class="tableheader">
                      <tr >
                        <th class="brsr-table-20">S.No.</th>
                        <th class="brsr-table-25">Particulars</th>
                        <th  class="brsr-table-24 ">Total (A)</th>
                        <th class="brsr-table-21" colspan="2">Male</th>
                        <th class="brsr-table-21"colspan="2">Female</th>
                      </tr>
                      <tr>
                        <th class="brsr-table-54"></th>
                        <th></th>
                        <th></th>
                        <th class="brsr-table-28">No (B)</th>
                        <th class="brsr-table-28">% (B/A)</th>
                        <th class="brsr-table-28">No (C)</th>
                        <th class="brsr-table-29">% (C/A)</th>
                      </tr>
                      <tr>
                        <th colspan="7" class="brsr-table-54">EMPLOYEES</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr  >
                        <td class="brsr-table-28 ">1</td>
                        <td class="brsr-table-28 ">Permanent (D)</td>
                        <td class="brsr-table-28 "> {{qaaobject[3]['Question1']}} </td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question2'] }}</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question3'] }}</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question4'] }}</td>
                        <td class="brsr-table-55 ">{{ qaaobject[3]['Question5'] }}</td>
                      </tr>

                      <tr>
                        <td class="brsr-table-28 ">2</td>
                         <td class="brsr-table-28 ">Other than Permanent (E)</td>
                         <td class="brsr-table-28 ">{{ qaaobject[3]['Question6'] }}</td>
                         <td class="brsr-table-28 ">{{ qaaobject[3]['Question7']}}</td>
                         <td class="brsr-table-28 ">{{ qaaobject[3]['Question8'] }}</td>
                         <td class="brsr-table-28 ">{{ qaaobject[3]['Question9'] }}</td>
                         <td class="brsr-table-55 ">{{ qaaobject[3]['Question10']}}</td>
                       </tr>

                       <tr>
                        <td class="brsr-table-28 ">3</td>
                         <td class="brsr-table-28 ">Total employees (D+E)</td>
                         <td class="brsr-table-28 ">{{ qaaobject[3]['Question11'] }}</td>
                         <td class="brsr-table-28 ">{{ qaaobject[3]['Question12'] }}</td>
                         <td class="brsr-table-28 ">{{ qaaobject[3]['Question13'] }}</td>
                         <td class="brsr-table-28 ">{{ qaaobject[3]['Question14'] }}</td>
                         <td class="brsr-table-55 ">{{ qaaobject[3]['Question15'] }}</td>
                       </tr>

                       <tr>
                        <th class="brsr-table-56"colspan="7" >WORKERS</th>
                      </tr>
                      
                      <tr>
                        <td class="brsr-table-28 ">4</td>
                        <td class="brsr-table-28 ">Permanent (F)</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question16'] }}</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question17'] }}</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question18'] }}</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question19'] }}</td>
                        <td class="brsr-table-55 ">{{ qaaobject[3]['Question20'] }}</td>
                       </tr>

                       <tr>
                        <td class="brsr-table-28 ">5</td>
                        <td class="brsr-table-28 ">Other than Permanent (G)</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question21'] }}</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question22'] }}</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question23'] }}</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question24'] }}</td>
                        <td class="brsr-table-55 ">{{ qaaobject[3]['Question25'] }}</td>
                       </tr>

                       <tr>
                        <td class="brsr-table-28 ">6</td>
                        <td class="brsr-table-28 ">Total employees (F+G)</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question26'] }}</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question27'] }}</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question28'] }}</td>
                        <td class="brsr-table-28 ">{{ qaaobject[3]['Question29'] }}</td>
                        <td class="brsr-table-55 ">{{ qaaobject[3]['Question30'] }}</td>
                       </tr>
                    </tbody>
                     

               </table>
                 
               </div>

        


             
              
                  <div class="row" *ngIf="qaaobject[3]['Question31'] !=undefined">
                    <h3 class="brsr-title-sub2 "><b >b. Differently abled Employees and workers: </b></h3>
                  </div>
                
  
                <div class="box-body table-responsive brsr-tablebodybig01 freport01" *ngIf="qaaobject[3]['Question31'] !=undefined">
                  <table id="datatable" class="table ">
                    <thead class="tableheader">
                      <tr >
                        <th class="brsr-table-20">S.No.</th>
                        <th class="brsr-table-25">Particulars</th>
                        <th  class="brsr-table-24 ">Total (A)</th>
                        <th class="brsr-table-21" colspan="2">Male</th>
                        <th class="brsr-table-21"colspan="2">Female</th>
                      </tr>
                      <tr>
                        <th class="brsr-table-54"></th>
                        <th></th>
                        <th></th>
                        <th class="brsr-table-28">No (B)</th>
                        <th class="brsr-table-28">% (B/A)</th>
                        <th class="brsr-table-28">No (C)</th>
                        <th class="brsr-table-29">% (C/A)</th>
                      </tr>
                      <tr>
                        <th colspan="7" class="brsr-table-54">EMPLOYEES</th>
                      </tr>
                    </thead>
                    <tbody>
                      
  
                        <tr  >
                          <td class="brsr-table-28 ">1</td>
                          <td class="brsr-table-28 ">Permanent (D)</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question31'] }}</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question32'] }}</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question33'] }}</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question34'] }}</td>
                          <td class="brsr-table-55 ">{{ qaaobject[3]['Question35'] }}</td>
                        </tr>
  
  
                        <tr>
                          <td class="brsr-table-28 ">2</td>
                           <td class="brsr-table-28 ">Other than Permanent (E)</td>
                           <td class="brsr-table-28 ">{{ qaaobject[3]['Question36'] }}</td>
                           <td class="brsr-table-28 ">{{ qaaobject[3]['Question37'] }}</td>
                           <td class="brsr-table-28 ">{{ qaaobject[3]['Question38'] }}</td>
                           <td class="brsr-table-28 ">{{ qaaobject[3]['Question39'] }}</td>
                           <td class="brsr-table-55 ">{{ qaaobject[3]['Question40'] }}</td>
                         </tr>
  
  
                         <tr>
                          <td class="brsr-table-28 ">3</td>
                           <td class="brsr-table-28 ">Total employees (D+E)</td>
                           <td class="brsr-table-28 ">{{ qaaobject[3]['Question41'] }}</td>
                           <td class="brsr-table-28 ">{{ qaaobject[3]['Question42'] }}</td>
                           <td class="brsr-table-28 ">{{ qaaobject[3]['Question43'] }}</td>
                           <td class="brsr-table-28 ">{{ qaaobject[3]['Question44'] }}</td>
                           <td class="brsr-table-55 ">{{ qaaobject[3]['Question45'] }}</td>
                         </tr>
                    </tbody>
                    <tr>
                      <th class="brsr-table-56"colspan="7" >WORKERS</th>
                    </tr>
                      <tbody>
  
                        <tr>
                          <td class="brsr-table-28 ">4</td>
                          <td class="brsr-table-28 ">Permanent (F)</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question46'] }}</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question47'] }}</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question48'] }}</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question49'] }}</td>
                          <td class="brsr-table-55 ">{{ qaaobject[3]['Question50'] }}</td>
                         </tr>
  
  
                         <tr>
                          <td class="brsr-table-28 ">5</td>
                          <td class="brsr-table-28 ">Other than Permanent (G)</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question51'] }}</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question52'] }}</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question53'] }}</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question54'] }}</td>
                          <td class="brsr-table-55 ">{{ qaaobject[3]['Question55'] }}</td>
                         </tr>
  
                         <tr>
                          <td class="brsr-table-28 ">6</td>
                          <td class="brsr-table-28 ">Total employees (F+G)</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question56'] }}</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question57'] }}</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question58'] }}</td>
                          <td class="brsr-table-28 ">{{ qaaobject[3]['Question59'] }}</td>
                          <td class="brsr-table-55 ">{{ qaaobject[3]['Question60'] }}</td>
                         </tr>
  
  
                      </tbody>
                  </table>
                </div>



             </div>
             <footer class="footer sun col-xxl-12">
              <div class="container-fluid">
                <div class="row">
                  <div class="">
                    <div class=" align-items-center d-flex">
  
                      <a style="display:flex;"><span class="mypower"
                          style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"
                          src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
  
                          <h3  style="color: #000;
                          margin-top: 0px;     margin-left: 50px;font-size: medium;">{{tsarray1[2]}}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
            </div>
          </div>
        </div>
      </div>
      <div style="page-break-before:always">&nbsp;</div>
    </div>

 


    <div aria-label="pdf-page-11" *ngIf="((qaaobject[3]['Question61'] !=undefined) || (qaaobject[3]['Question67'] !=undefined) || (gd5table1.length >0) || (qaaobject[5]['one']!=undefined))">
      {{hello1(3,1)}}
      <div class="pagenumber">
        <div aria-label1="pdf-page-3">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
                <div class="card">
    
                  <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;">
                  <div class="card-img-overlay p-0 d-flex flex-column">
    
                    <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">
                      <span class="float-end">{{reportname}}</span>
                    </div>
                  
                 <div class="row" *ngIf="qaaobject[3]['Question61'] !=undefined">
                      <h3 class="brsr-title-sub2 "><b >19. Participation/Inclusion/Representation of women:</b></h3>
                    </div>
                 
                     <div class="box-body table-responsive freport01" *ngIf="qaaobject[3]['Question61'] !=undefined">
                        <table id="datatable" class="table table-striped table-bordered" style="width:100%; ">
                          <thead class="tableheader">
                            <tr style="background-color: rgb(236 230 230);">
                              <th class="brsr-table-38"></th>
                              <th class="brsr-table-37">Total (A)</th>
                              <th class="brsr-table-35"colspan="2">No and percentage of Females</th>
                            </tr>
                            <tr>
                              <th></th>
                              <th></th>
                              <th class="brsr-table-39">No (B)</th>
                              <th class="brsr-table-39">% (B/A)</th>
                            </tr>
                          </thead>
                          <tbody>

                            <tr>
                              <td class="brsr-table-39 ">Board of Directors</td>
                              <td class="brsr-table-39 ">{{ qaaobject[3]['Question61'] }}</td>
                              <td class="brsr-table-39 ">{{ qaaobject[3]['Question62'] }}</td>
                              <td class="brsr-table-39 ">{{ qaaobject[3]['Question63'] }}</td>
                            </tr>

                            <tr>
                              <td class="brsr-table-39 ">Key Management Personnel</td>
                              <td class="brsr-table-39 ">{{ qaaobject[3]['Question64'] }}</td>
                              <td class="brsr-table-39 ">{{ qaaobject[3]['Question65'] }}</td>
                              <td class="brsr-table-39 ">{{ qaaobject[3]['Question66'] }}</td>
                            </tr>
                         
                         
                         
                          </tbody>
                        </table>
                      </div>


                    
                        <div class="row" *ngIf="qaaobject[3]['Question67'] !=undefined">
                          <h3 class="brsr-title-sub2 "><b >20. Turnover rate for permanent employees and workers (Disclose trends for the past 3 years) </b></h3>
                        </div>
                     
                      <div class="box-body table-responsive brsr-tablebodybig01 freport01" *ngIf="qaaobject[3]['Question67'] !=undefined">
                      
                        <table id="datatable"  style="width:100%;      margin-top: 15px;">
                         
          
                            <thead class="tableheader">
                              <tr >
                                <th class="brsr-table-63">Particulars</th>
                                <th class="brsr-table-21" colspan="3">FY {{currentYear}}</th>
                                <th class="brsr-table-21"colspan="3">FY {{PreviousYear}}</th>
                                <th class="brsr-table-21" colspan="3">FY {{previousOfPreviousYear}}</th>
                              </tr>
                              <tr>
                                <th class="brsr-table-69"></th>
                                <th class="brsr-table-58">Male (%)</th>
                                <th class="brsr-table-59">Female (%)</th>
                                <th class="brsr-table-60">Total (%)</th>
                                <th class="brsr-table-58">Male (%)</th>
                                <th class="brsr-table-59">Female (%)</th>
                                <th class="brsr-table-60">Total (%)</th>
                                <th class="brsr-table-58">Male (%)</th>
                                <th class="brsr-table-59">Female (%)</th>
                                <th class="brsr-table-61">Total (%)</th>
                              </tr>
                            </thead>
          
                            <tbody>
                              <tr>
                                <td class="brsr-table-28 ">Permanent Employees</td>
                                <td class="brsr-table-58 ">{{ qaaobject[3]['Question67'] }}</td>
                                <td class="brsr-table-59 ">{{ qaaobject[3]['Question68'] }}</td>
                                <td class="brsr-table-60 ">{{ qaaobject[3]['Question69'] }}</td>
                                <td class="brsr-table-58 ">{{ qaaobject[3]['Question70'] }}</td>
                                <td class="brsr-table-59 ">{{ qaaobject[3]['Question71'] }}</td>
                                <td class="brsr-table-60 ">{{ qaaobject[3]['Question72'] }}</td>
                                <td class="brsr-table-58 ">{{ qaaobject[3]['Question73'] }}</td>
                                <td class="brsr-table-59 ">{{ qaaobject[3]['Question74'] }}</td>
                                <td class="brsr-table-61 ">{{ qaaobject[3]['Question75'] }}</td>
                              </tr>
          
                              <tr>
                                <td class="brsr-table-64  ">Permanent Workers</td>
                                <td class="brsr-table-65 ">{{ qaaobject[3]['Question76'] }}</td>
                                <td class="brsr-table-66 ">{{ qaaobject[3]['Question77'] }}</td>
                                <td class="brsr-table-67 ">{{ qaaobject[3]['Question78'] }}</td>
                                <td class="brsr-table-65 ">{{ qaaobject[3]['Question79'] }}</td>
                                <td class="brsr-table-66 ">{{ qaaobject[3]['Question80'] }}</td>
                                <td class="brsr-table-67 ">{{ qaaobject[3]['Question81'] }}</td>
                                <td class="brsr-table-65 ">{{ qaaobject[3]['Question82'] }}</td>
                                <td class="brsr-table-66 ">{{ qaaobject[3]['Question83'] }}</td>
                                <td class="brsr-table-68 ">{{ qaaobject[3]['Question84'] }}</td>
                              </tr>
                            </tbody>
                             
          
                       </table>
                         
                       </div>
          

     
                    <div class="row">
                      <h3 class="brsr-title-sub2 brsrtext02 "><b >V. Holding, Subsidiary and Associate Companies (including Joint Ventures) </b></h3>
                    </div>
        
        
                    
                      <div class="row" *ngIf="gd5table1.length >0">
                        <h3 class="brsr-title-sub2 "><b >21. Names of holding / subsidiary / associate companies / joint ventures: </b></h3>
                      </div>
                  
        
               <div class="box-body table-responsive freport01" *ngIf="gd5table1.length >0">                                        
                     <table id="datatable" class="table  " style="width:100%;      margin-top: 15px;">
                        <thead class="tableheader">
                          
                              <tr>
                                <th class="brsr-table-41">S.no</th>
                                <th class="brsr-table-42">Name of the holding / subsidiary / associate companies / joint ventures (A)</th>
                                <th class="brsr-table-42">Indicate whether
                                  holding/ Subsidiary/ Associate/ Jointenture</th>
                                <th class="brsr-table-44">% of shares held by listed entity</th>
                                <th class="brsr-table-43">Does the entity indicated at column A, participate in the Business Responsibility initiatives of the listed entity? (Yes/No)</th>
                               </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of gd5table1; let i = index" >
                           
                              <td class="brsr-table-45">{{ item.Subject }}</td>
                              <td class="brsr-table-45">{{ item.Type }}</td>
                              
                              <td class="brsr-table-45">{{ item.Assessments }}</td>
                                <td class="brsr-table-45">{{ item.Labs}}</td>
                       
                            
                              <td class="brsr-table-46">{{ item.Projects}}</td>
                            </tr>
                        </tbody>
                    </table>
                      
                    </div>
  
  
      
                    <div class="row" *ngIf="qaaobject[5]['one']!=undefined ">
 
                      <h3 class="brsr-title-sub2 brsrtext02 "><b >VI. CSR Details </b></h3>

                    </div>

         

                   

                    <div class="box-body table-responsive freport01" *ngIf="qaaobject[5]['one']!=undefined">

                      <table class="table  " style="width:100%;   margin-top: 15px;">

                        <tr>
                           <td class="brsr-table-47">

                            22. i. Whether CSR is applicable as per section 135 of Companies Act, 2013:

                          </td>

         

                          <td class="brsr-table-48">

                            {{ this.qaaobject[5]['one'] }}

                          </td>

                        </tr>

         
                        <tr>

                          <td class="brsr-table-49">

                            ii. Turnover:

                          </td>

                          <td class="brsr-table-50">

                            {{ this.qaaobject[5]['two'] }} {{ this.qaaobject[5]['three'] }}

                          </td>

                       
                        </tr>

                        <tr >

                          <td class="brsr-table-49">

                            iii. Net worth:

                          </td>

                          <td class="brsr-table-50">

                            {{ this.qaaobject[5]['four'] }} {{ this.qaaobject[5]['five'] }}

                          </td>
                         
                         
                        </tr>
                      </table>
          
                    </div>

                  </div>
                  <footer class="footer sun col-xxl-12">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="">
                          <div class=" align-items-center d-flex">
        
                            <a style="display:flex;"><span class="mypower"
                                style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"
                                src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
                                <h3  style="color: #000;
                              margin-top: 0px;     margin-left: 50px;font-size: medium;">{{tsarray1[3]}}</h3>
                         
                          </div>
                        </div>
                      </div>
                    </div>
                  </footer>
    
                </div>
              </div>
            </div>
          </div>
          <div style="page-break-before:always">&nbsp;</div>
        </div>
    
    
    
    
      </div>
    </div>



    <div aria-label="pdf-page-11" *ngIf="((gd7table1.length >0))">
      {{hello1(4,1)}}
      <div class="pagenumber">
        <div aria-label1="pdf-page-3">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
                <div class="card">
    
                  <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;">
                  <div class="card-img-overlay p-0 d-flex flex-column">
    
                    <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">
                      <span class="float-end">{{reportname}}</span>
                    </div>

                    

                    <div class="row">
                      <h3 class="brsr-title-sub2 brsrtext02 "><b >VII. Transparency and Disclosures Compliances </b></h3>
                    </div>
            
            
                   
                      <div class="row" *ngIf="gd7table1.length >0">
                        <h3 class="brsr-title-sub2 "><b >23. Complaints/Grievances on any of the principles (Principles 1 to 9) under the National Guidelines on Responsible Business Conduct:</b></h3>
                      </div>
                    
            
            
                    
                    <div class="box-body table-responsive freport01" *ngIf="gd7table1.length >0">
                                                    
                      <table id="datatable" class="table  " style="width:100%;      margin-top: 15px;">
                         <thead class="tableheader">
                           
                               <tr>
                                 <th class="brsr-table-76">Stakeholder group from whom complaint is received</th>
                                 <th class="brsr-table-70">Grievance Redressal Mechanism in Place (Yes/No) (If Yes, then provide web-link for grievance redress policy)</th>
                                 <th class="brsr-table-71" colspan="3"> FY {{currentYear}}
                                  Current Financial Year
                                   </th>
                                 <th class="brsr-table-71" colspan="3">FY {{PreviousYear}}
                                  Previous Financial Year</th>
                                 
                                </tr>
            
                                <tr>
                                  <th class="brsr-table-076"></th>
                                  <th></th>
                                  <th class="brsr-table-74">Number of complaints filed during the year</th>
                                  <th class="brsr-table-72">Number of complaints pending resolution at close of the year</th>
                                  <th class="brsr-table-73">Remarks</th>
                                  <th class="brsr-table-75">Number of complaints filed during the year</th>
                                  <th class="brsr-table-72">Number of complaints pending resolution at close of the year</th>
                                  <th class="brsr-table-73">Remarks</th>
                                </tr>
                         </thead>
                         <tbody>
                          <tr *ngFor="let item of gd7table1; let i = index">
                            <td class="brsr-table-076">{{ item.Subject2x }}</td>
                            <td class="brsr-table-45">{{ item.Type2x }}</td>
                            <td class="brsr-table-45">{{ item.Assessments2x }}</td>
                            <td class="brsr-table-45">{{ item.Labs2x}}</td>
                            <td class="brsr-table-45">{{ item.Projects2x}}</td>
                            <td class="brsr-table-45">{{ item.Financial1}}</td>
                            <td class="brsr-table-45">{{ item.Project2x}}</td>
                            <td class="brsr-table-45">{{ item.Remarks }}</td>
                          </tr>
                      </tbody>
                     </table>
                       
                     </div>
                     
                  </div>
                  <footer class="footer sun col-xxl-12">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="">
                          <div class=" align-items-center d-flex">
        
                            <a style="display:flex;"><span class="mypower"
                                style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"
                                src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
                                <h3  style="color: #000;
                                margin-top: 0px;     margin-left: 50px;font-size: medium;">{{tsarray1[4]}}</h3>
                         
                          </div>
                        </div>
                      </div>
                    </div>
                  </footer>
    
                </div>
              </div>
            </div>
          </div>
          <div style="page-break-before:always">&nbsp;</div>
        </div>
    
    
    
    
      </div>
    </div>


    <div aria-label="pdf-page-11" *ngIf="((gd7table2.length >0) )">
      {{hello1(5,1)}}
      <div class="pagenumber">
        <div aria-label1="pdf-page-3">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
                <div class="card">
    
                  <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;">
                  <div class="card-img-overlay p-0 d-flex flex-column">
    
                    <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">
                      <span class="float-end">{{reportname}}</span>
                    </div>
                   
                    
                      <div class="row" *ngIf="gd7table2.length >0">
                        <h3 class="brsr-title-sub2 "><b >24. Overview of the entity’s material responsible business conduct issues:</b></h3>
                      </div>
                 
    
    
    
                    <div class="box-body table-responsive freport01" *ngIf="gd7table2.length >0">
                                            
                      <table id="datatable" class="table  " style="width:100%;      margin-top: 15px;">
                         <thead class="tableheader">
                           
                               <tr>
                                 <th class="brsr-table-41">S.no</th>
                                 <th class="brsr-table-42">Materials issue identify</th>
                                 <th class="brsr-table-42">Indicate whether risk or opportunity (R/O)</th>
                                 <th class="brsr-table-44">Rationale for identifying the risk/ opportunity</th>
                                 <th class="brsr-table-43">In case of risk,approach to adapt or mitigate</th>
                                 <th class="brsr-table-43">Financial implications of the risk or opportunity (Indicate positive or negative implications)</th>
                                                             </tr>
                         </thead>
                         <tbody>
                    
                             <tr *ngFor="let item of gd7table2; let i = index">
                              <td class="brsr-table-45">{{ i+1 }}</td>
                              <td class="brsr-table-45">{{ item.Assessments }}</td>
                              <td class="brsr-table-45">{{ item.Type }}</td>
                              <td class="brsr-table-45">{{ item.Mitigated}}</td>
                              <td class="brsr-table-45">{{ item.Financial}}</td>
                              <td class="brsr-table-46">{{ item.Projects}}</td>
                             
                            </tr>
    
                         </tbody>
                     </table>
                       
                     </div>
                     
                  </div>
                  <footer class="footer sun col-xxl-12">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="">
                          <div class=" align-items-center d-flex">
        
                            <a style="display:flex;"><span class="mypower"
                                style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"
                                src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
                                <h3  style="color: #000;
                              margin-top: 0px;     margin-left: 50px;font-size: medium;">{{tsarray1[5]}}</h3>
                         
                          </div>
                        </div>
                      </div>
                    </div>
                  </footer>
    
                </div>
              </div>
            </div>
          </div>
          <div style="page-break-before:always">&nbsp;</div>
        </div>
    
    
    
    
      </div>
    </div>
    
    
    









 








