.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}


.new-guidance {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  padding: 20px;
}
.new-guidance-1 {
  background-color: #1c75bc;
}
.my-diss {
  background-color: #fff !important;
}
.my-diss:hover {
  background-color: #165556 !important;
  color: #fff !important;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: rgb(13, 161, 22);
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color:  rgb(22, 84, 85);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.new-control {
  border-color: #1c75bc;
  margin-top: 15px;
 
}






* { box-sizing: border-box; }

.container { 
  display: flex; 
  flex-flow: row wrap;
}

.card-wrap {
  flex: 0 0 50%;
  
  padding: 0px 10px 20px 10px; 
}
.general {
  margin-left: 65px;
}
.mx-n3 ul {
  padding-left: 0px !important;
}

.card {

  flex: 0 0 100%;
}
.logo-lg img {
  height: 70px;
}
.logout-home {
  margin-top: 30%;
}
.navbar-nav {
  margin-top: 30px;
}
.home-main {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.org-name1 {
  padding-left: 60px;
}
.gen-org {
  text-align: center;
}
.org-btn {
  color: rgb(0, 0, 0);
  font-size: 14px;
 
  border-color: #28a745;
}
.org-btn:hover {
  color: rgb(0, 0, 0);
  font-size: 14px;
  border-color: #28a745;
}
.org-btn:active {
  
  font-size: 14px;
  border-color: #28a745;
}
.org-btn1 i {
  font-size: 20px;
}

.org-btn1 {
  color: rgb(0, 0, 0);
  font-size: 14px;
 
  border-color: #28a745;
}
.org-btn1:hover {
  color: #000;
  font-size: 14px;
  border-color: #28a745;
}

.report-card {


 
  padding: 20px 20px 40px ;
  border-radius: 20px;
  box-shadow:  inset 0px 0px 2px rgb(130, 130, 130), 0px 0px rgb(22 75 84), inset -3px -2px 0px 1px rgb(22 109 90);
}

.report-card:hover {
  background-image: linear-gradient(180deg, #166d5a, #164b54);
  border-radius: 20px !important;
  color: #fff !important;
  border-radius: 20px;
  box-shadow: inset 0px 0px 2px rgb(130 130 130), 0px 0px rgb(255, 255, 255), inset -3px -2px 0px 1px rgb(251, 248, 255);
}

.report-img-1 {
  border-radius: 20px !important;
}
.report-text::after {
  color: #fff;
}
.next-botton {
  margin-left: 25px;
  color: #fff;
  margin-top: 10px;
}
.trash-main {
  margin-left: 185px;
}
.trash-main  i{
 font-size: 25px;
 color: #fff;
 margin-top: 10px;
}
.report-view {
  background-image: linear-gradient(88deg, #166b5a, #164c54);
  border-radius: 10px 10px 0px 0px;
}
.report-view-card {
  padding: 0px 0px 20px 0px;
  border-radius: 20px;
}
.report-title {
  color: #fff;
  margin-top: 10px;
  margin-left: 35px;
}
.report-badge {
  margin-left: 80px;
  font-size: 16px;
  margin-top: 10px;
}
.report-img {
  height: 50px;
  width: 50%;
  object-fit: contain;
  margin-left: -50px;
}
.report-botton a {
  padding: 10px 50px 10px 10px;
}
.rb-1 {
  margin-left: 20px;
}
/* .rb-2 {
  margin-left: 15px;
} */
.rb-3 {
  margin-left: 25px;
}
.report-images {
  padding-top: 15px;
  padding-bottom: 15px;
}
.rt-1 a {
  text-align: center;
}
.swiper-slide {
  margin-left: 70px;
}
.gri-img {
  height: 175px;
  width: 75%;
  object-fit: contain;
  margin-left: 35px;
}
.framework {
  text-align: center;
  color: #fff;
}
.framework-card {
  padding: 25px;
  background-image: linear-gradient(180deg, #166d5a, #164b54);
  border-radius: 0px 0px 50px 50px;
}
.profile-card {
  background-color: #164b54;
  border-radius: 50px;
  height: 70%;
  width: 4%;
}
.profile-card {
  background-color: #164b54;

}
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}
.org-text {
  margin-left: 10px;
}
.org-global {
  margin-bottom: 8px;
}

.mr-btn {
  margin-left: 800px;
  margin-top: -36px;
}
.dash-btn-1 {
  font-size: 14px;
}
.screen-name td {
  font-size: 17px;
  font-family: inherit;
  font-weight: 600;
  color: #fff;
  line-height: 25px;
}
.please-col {
  padding: 140px 0px 120px 40px; 
  margin-left: 160px;
}
.org-in-text {
  font-size: 17px;
  margin-top: 9px;
  color: #000 !important;
}
.org-in-text-1 {
  font-size: 17px;
  margin-top: 3px;
  color: #000 !important;
}
.hero-line {
  margin-top: -40px;
}

.btn8-label.right {
  padding-left: 1.9rem;
  padding-right: 25px;
}


@media only screen and (max-width: 475px){
  .general {
    margin-left: 0px;
  }
  ul {
    padding-left: 0rem;
  }
  .screen-name td {
    font-size: 15px;
    line-height: 25px;
  }
  .please-col {
    padding: 140px 10px 200px 10px; 
    margin-left: 0px;
  }
  .mr-btn {
    margin-left: 80px;
    margin-top: -40px;
}
.rb-1 {
  margin-left: 4px;
}
}
@media only screen and (max-width: 475px){
  .rb-1 {
    margin-left: -9px;
}
.mr-btn {
  margin-left: 69px;
  margin-top: -39px;
}
.hello {
  margin-left: 0px;
}
}
.btn-outline {
  border-color: #a3cb39;
  background-color: #a3cb39;
  color: #fff;
  margin-right: 10px;
}

.btn-outline:hover {
  color: #fff;
  background-color: #00276d !important;
  border-color: #00276d !important;
}


.myfood {
  font-size: 10px;
  margin-top: 10px;
}
.mycity {
  margin-top: -10px;
}


.accod .accod-main {
  color: #000;
  font-size: 16px;
  background-color: #165e57 !important;
  padding: 0px 0px 15px 0px;
}
.list-screen {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 5px;
}








.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
visibility: visible;
  opacity: 1;
}

.vi {

  border-right:

2px

solid #055005e7;

}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  
  .popup{
    width: 70%;
  }
}

.my-diss {
  position: relative;
                                                                                                        display: -webkit-box;
                                                                                                        display: -ms-flexbox;
                                                                                                        display: flex;
                                                                                                        -webkit-box-align: center;
                                                                                                        -ms-flex-align: center;
                                                                                                        align-items: center;
                                                                                                        width: 100%;
                                                                                                        padding: var(--vz-accordion-btn-padding-y) var(--vz-accordion-btn-padding-x);
                                                                                                        font-size: 18px;
                                                                                                        font-weight: 500;
                                                                                                        color: var(--vz-accordion-btn-color);
                                                                                                        text-align: left;
                                                                                                        background-color: var(--vz-accordion-btn-bg);
                                                                                                        border: 0;
                                                                                                        border-radius: 0;
                                                                                                        overflow-anchor: none;
                                                                                                        -webkit-transition: var(--vz-accordion-transition);
                                                                                                        transition: var(--vz-accordion-transition);
}
.topimpdis {
  margin-bottom: 20px;
}

.disinput {
  padding: 0.8rem 0.9rem !important;
}

.disinput-1 {
  padding: 1.6rem 0.9rem !important;
}

.disinput-2 {
  padding: 1.6rem 0.9rem !important;
}

.disinput-3 {
  padding: 1.6rem 0.9rem !important;
}

.disinput-4 {
  padding: 1.6rem 0.9rem !important;
}

.disinput-5 {
  padding: 2rem 0.9rem 0rem 0rem !important;
}

.disinput-6 {
  padding: 2rem 0.9rem 1.5rem 0rem !important;
}
.disinput-7 {
  padding: 1.5rem 0.9rem 0rem 0rem !important;
}

.disinput-8 {
  padding: 0rem 0rem 4rem 0rem !important;
}

.disinput-9 {
  padding: 0rem 0rem 2.2rem 0rem !important;
}





.fptable-0 {
  background-color: #ececec;
  color: #1c75bc; border-bottom: 2px solid #1c75bc !important;
  text-align: center;
}

.fptable {
  padding-bottom: 36px;
  background-color: #ececec;
  color: #1c75bc; border-bottom: 2px solid #1c75bc !important;
  text-align: center;
}


.fptable-2 {
  padding-bottom: 40px;
  background-color: #ececec;
  color: #1c75bc; border-bottom: 2px solid #1c75bc !important;
  text-align: center;
}

.fptable-3 {
  padding-bottom: 60px;
  background-color: #ececec;
  color: #1c75bc; border-bottom: 2px solid #1c75bc !important;
  text-align: center;
}


.fptable-1 {
 
  background-color: #ececec;
  color: #1c75bc; border-bottom: 2px solid #1c75bc !important;
  text-align: center;
}

.fpinput-01 {
  height: 46px;
  position: relative;
  top: -4px;
  border: 1px solid #1c75bc;
  
}

.fpinput-02 {
  height: 50px;
  position: relative;
  top: -4px;
  border: 1px solid #1c75bc;
  
}
.sub-text {
  text-decoration: none;
  margin-left: 25px;
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 23px;

}







