<div class="flex flex-col max-w-600 md:min-w-160 max-h-screen -m-6">
<!-- Header -->
<div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary" >
  <div class="text-lg font-medium">Enter Stationary Combustion consumption details</div>
  <button
      mat-icon-button
      (click)="onClose()"
      [tabIndex]="-1">
      <mat-icon
          class="text-current"
          [svgIcon]="'heroicons_outline:x'"></mat-icon>
  </button>
</div>


  <form
      class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
      [formGroup]="stationarycomb">

      <div class="flex flex-col md:flex-row gap-4">
        <mat-form-field class="flex flex-col flex-auto">
            <mat-label>Fuel Type</mat-label>
            <mat-select matInput [formControlName]="'FuelType'" (selectionChange)="ProductChange($event.value)">
                <mat-option *ngFor="let p of fueltype" [value]="p.Id">{{p.Name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="flex flex-col flex-auto">
            <mat-label>No of Units</mat-label>
           
            <input id="fullesc" matInput type="number" inputWithComma [formControlName]="'Noofunits'">
        </mat-form-field>

    </div> 
    <div class="flex flex-col md:flex-row gap-4">
      <mat-form-field class="flex flex-col flex-auto">
        <mat-label>GWP Factor</mat-label>
        <mat-select matInput [formControlName]="'GWPFactor'" (selectionChange)="gwpchange($event.value)">
            <mat-option *ngFor="let p of arlist" [value]="p.Id">{{p.TypeName}}</mat-option>
        </mat-select>
    </mat-form-field>
        <mat-form-field class="flex flex-col flex-auto">
            <mat-label>Unit</mat-label>
            <mat-select matInput [formControlName]="'Units'" (selectionChange)="unitchange($event.value)">
                <mat-option *ngFor="let p of unit" [value]="p.ConvertFrom">{{p.ConvertFrom}}</mat-option>
            </mat-select>
        </mat-form-field>

     

    </div>
<!--  -->
    <!-- <div class="flex flex-col md:flex-row gap-4">

      <mat-form-field class="flex flex-col flex-auto">
          <mat-label>Metric tonnes of CO2e</mat-label>
         
          <input id="fullesc" matInput  inputWithComma [formControlName]="'MetricCO2e'" readonly>
      </mat-form-field>

  </div>  -->


</form>
 <!-- Actions -->
 <div class="flex flex-col sm:flex-row justify-end p-6 sm:p-8">
  <div class="flex items-center mt-4 sm:mt-0">
      <!-- Save as draft -->
      <button
          class="sm:mx-3"
          mat-stroked-button
          mat-dialog-close=false
          (click)="onCancel()">
          <span>Cancel</span>
      </button>
      <!-- Send -->
      <button
          class="order-first sm:order-last"
          mat-flat-button
          [color]="'primary'" style="background-color:#FCB713  !important;"
          (click)="onSave()">
          Save
      </button>
  </div>
</div>







</div>