<div class="flex flex-col max-w-600 md:min-w-160 max-h-screen -m-6">
  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
      style="background-color: #8cc540 !important;">
      <div class="text-lg " style="font-weight: 900;"*ngIf="categ5">Category 5: Waste Generated in Operations </div>
      <div class="text-lg " style="font-weight: 900;"*ngIf="categ12">Category 12: End-of-Life Treatment of Sold Products</div>
      <button mat-icon-button (click)="onClose()" [tabIndex]="-1">
          <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
      </button>
  </div>
    
      <div class="col-xl-12 in-top overflow-y-auto">
        <div class="box-body table-responsive">
          <table id="datatable" class="table table-striped table-bordered" style="width:100%; border: 2px solid #1978ac; margin-top: 35px;">
            <thead class="tableheader">
              <tr>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 5.6rem;  border: 1px solid var(--border-color);">Material</th>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 3.6rem;  border: 1px solid var(--border-color);">Disposal Method</th>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Standard EF<br> (tCO2e/per st)</th>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 1.6rem;  border: 1px solid var(--border-color);">Quantity <br>(Short ton)</th>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">User based EF <br> (tCO2e/st)</th>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Total Emissions <br>(tCO2e)</th>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tpt of lookupdtl; let i=index">
                <td>
                  <mat-form-field class="flex flex-col min-w-50">
                    <mat-select id="materialtype{{i}}" (selectionChange)="materialdropdown($event.source.value, $event.source.triggerValue, i)" [(ngModel)]="tpt.materialtype">
                      <mat-option *ngFor="let c of materialnames" [value]="c.Id">
                        {{c.Material}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="flex flex-col min-w-50">                                                                         
                    <mat-select  id="disposaltype{{i}}" (selectionChange)="disposalchange($event.value, i)" [(ngModel)]="tpt.disposaltype">
                      <mat-option *ngFor="let c of material" [value]="c.Id">
                    {{c.DisposalMethod}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> 
                </td>
                <td>
                  <input id="standardef{{i}}"  [value]="tpt.standardef" style="height: 48px;  border: 1px solid #1c75bc; background-color: #fff;text-align: right;" readonly>
              
                </td>
                <td>
                  <input id="quantity{{i}}" class="form-control"  [(ngModel)]="tpt.quantity" inputWithComma (keyup)="quantity(i, $event)" style="height: 48px; border: 1px solid #1c75bc; width: 100% !important;" >
                </td>
                <td>
                  <input id="userbased{{i}}"  [value]="tpt.userbased" (keyup)="userbased(i, $event)" (keyup)="uuxff($event)" inputWithComma style="height: 48px; border: 1px solid #1c75bc;  background-color: #fff; ">
                </td>
                <td>
                  <input id="emissions{{i}}" class="form-control" [value]="tpt.emissions| number: '1.0-2'" readonly style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                </td>
                <td>
                  <button style="padding-top:17px" id="delete{{i}}" type="button" (click)="deleteQ102a1(i)"><i
                          style="color:red" class="fa fa-trash" aria-hidden="true"></i></button>
              </td>
              </tr>
              <tr *ngIf="lookupdtl.length>0">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total Emission:</b></td>
                <td style="text-align: right;">{{sumtotal | number: '1.0-2'}} tCO2e</td>
            </tr>
            </tbody>
            
          </table>

          <style>
            .table-bordered > :not(caption) >    {
border-width: 0 0px;
}
          </style>

     
  </div>

  <div class="d-flex align-items-start gap-3 mt-4">
    <button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab"
        data-nexttab="pills-experience-tab" (click)="addFieldValue()" id="disableButton" style="padding-left: 2.9rem;
        padding-right: 45px;
    "> Add</button>

</div>
<div>
  Note:<br>
  1.	All the factors presented here include transportation emissions, which are optional in the Scope 3 Calculation Guidance, with an assumed average distance traveled to the processing facility.<br>
  2.	AR4 GWPs are used to convert all waste emission factors into CO2e.<br>
  3.	Recycling emissions include transport to recycling facility and sorting of recycled materials at material recovery facility.<br>
  4.	Landfilling emissions include transport to landfill, equipment use at landfill and fugitive landfill CH4 emissions. Landfill CH4 is based on typical landfill gas collection practices and average landfill moisture conditions.<br>
  5.	Combustion emissions include transport to combustion facility and combustion-related non-biogenic CO2 and N2O.<br>
  6.  Composting emissions include transport to composting facility, equipment use at composting facility and CH4 and N2O emissions during composting.
</div>
  </div>



  <div class="flex flex-col sm:flex-row justify-end p-6 sm:p-8">
    <div class="flex items-center mt-4 sm:mt-0" style="margin: auto;">

       
        <button class="esg-back-btn btn dash-btn-1 btn-label order-first sm:order-last" mat-flat-button [color]="'primary'"
          style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important; background-color: #fff !important; border-radius: 0px !important; border-radius: 5px !important;"  (click)="onSave()">
            Submit
        </button>
    </div>
</div>

</div>