<!-- <div class="container-fluid" style="width: 100%;position: relative;background-image: url('assets/images/logo/OvoB.png');background-size:cover;background-repeat: no-repeat;">
    <div class="d-flex justify-content-center " >  
        <div style="
        display: inline-block;
        position: fixed;
        top:  0;
        bottom: 0;
        left: 0;
        right: 0;
        width:550px;
        height:550px;
        overflow: hidden;
        margin: auto;
        background-color: #f3f3f3;border-radius: 5%;"> 
        <div class="Agastra" style="background-color:white;max-width:100%;height:auto;
  max-height:100%;border-radius: 5%;width:100%;   
    position: relative;"> -->
            <!-- Logo -->
            
            <!-- <div class="OVOLOGO-form-title" style=" align-items: center; display: flex;  flex-direction: column;">

              <span class="d-flex justify-content-center" style="position: relative;width: 120px;height:120px ; padding-top: 7.2%; " >
                   <img src="./assets/images/logo/kenko2.png">
              </span> 
              </div> -->
                
               <!-- <div style=" font-weight: bold;margin-bottom: -5%;text-align: center; ">By OVO Farm</div> -->
            
            <!-- Title -->
            <!-- <div class="mt-4 text-4xl font-extrabold tracking-tight leading-tight" style="text-align: center;color:black;font-family:sans-serif;">Sign In</div>
           <h4 style="color:lightgray;text-align: center;margin-bottom: -0.5%; ">Use your credentials to Sign In into account</h4> -->
            <!-- <div class="flex items-baseline mt-0.5 font-medium">
                <div>Don't have an account?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-up']">Sign up
                </a>
            </div> -->
              
            <!-- Alert -->
           
                   <!-- <fuse-alert  
            
                class="d-flex justify-content-center"
                style="padding-top: 1%;margin-bottom: -1%; "
                
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert> -->
       
       
            <!-- Sign in form -->
            <!-- <form
                class="mt-8"
                [formGroup]="signInForm"
                #signInNgForm="ngForm" style="text-align: center; "> -->

                <!-- Email field -->
                <!-- <mat-form-field  style="width:75%;margin-top: -2%;" >
                    <mat-icon [svgIcon]="'heroicons_solid:mail'" ></mat-icon>&nbsp;&nbsp;
                    <input placeholder="User Name" 
                        id="username"
                        matInput
                        [formControlName]="'username'">
                    <mat-error *ngIf="signInForm.get('username').hasError('required')">
                        User name is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('username').hasError('username')">
                        Please enter a valid user name
                    </mat-error>
                </mat-form-field><br> -->

                <!-- Password field -->
                <!-- <mat-form-field style="width: 75%;">
                    <mat-icon [svgIcon]="'heroicons_solid:lock-closed'" ></mat-icon>&nbsp;&nbsp;
                    <input  
                        id="password" placeholder="Password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                       
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field> -->

                               <!-- Actions -->
                               <!-- <div class="inline-flex items-end justify-start w-full"  style="margin-left: 12%;padding-bottom: 6px;">
                                <mat-checkbox 
                                [color]="'primary'"
                                [formControlName]="'rememberMe'">
                                Remember me
                            </mat-checkbox>
                                <p style="margin-left:180px  !important;font-size:25px !important"> <a 
                                    class="text-md font-medium text-primary-500 hover:underline"
                                    [routerLink]="['/reset-password']">Forgot password ?
                                </a></p>
                              
                             
                               
                            </div> -->
                               
                         



                <!-- Submit button -->
                <!-- <button style="background-color: #FCB713 !important;width: 75%; margin-bottom:20px;border-radius:2%; margin-right: 670px; margin-left: 50px;"
                    class="fuse-mat-button-large "
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        Sign In
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button> -->

             <!-- TRST Logo-->

             <!-- <div class="TRSTLOGO-form-title" style=" align-items: center; display: flex;  flex-direction: column;">
                <span class="d-flex justify-content-center" style="position: relative;width: 100px; padding-bottom: 10.5%; " >
                    <img src="assets/images/trstfy/footer.svg">
               </span> 
            </div>   
            </form>
        </div>    
    </div>
    </div> -->
    <!-- <div class="container text-center mt-4"> 
        <p>
           <strong> Window width{{getScreenWidth}}</strong> 
        </p>
        <p>
            <strong> Window height{{getScreenHeight}}</strong> 
         </p>
   
    </div> -->
    <!-- </div> -->

    <div class="container-fluid" style="width: 100%;position: relative;background-image: url(/assets/images/bg-ovo-23.png);background-size:cover;background-repeat: no-repeat;">
        <div class="d-flex justify-content-center "  style="padding-top:130px;">  
            <div  class="col-sm-4"> 

            <div class="Agastra" style="background-color:white;box-shadow: 0 8px 20px -2px rgb(158 152 153 / 50%);border-radius: 20px; position: relative;border: 2px solid black;height: 100%; ">

                <div class="OVOLOGO-form-title" style=" align-items: center; display: flex;  flex-direction: column;">

                    <span class="d-flex justify-content-center" style="position: relative;width: 120px; padding-top:10px; " >
                         <img src="./assets/images/logo/WH.png">
                    </span> 
                    </div>

                    <div class="tracking-tight bg-text leading-tight" style="text-align: center;margin-top:10px; text-transform: uppercase; margin-bottom:10px;color:#000;font-family:sans-serif;font-size: 20px;font-weight: 600;">Sign In</div>
                    <h4  class="sm-text"style="color: #000;text-align: center;margin-bottom: 10px; ">Use your credentials to Sign In into account</h4>

    <div id="login" class="col-sm-12" style="position:relative; margin:0 auto; " >
        <div class="row" >
            <!-- <h1 class="col" style=" padding: 7px; font-size: xx-large; font-weight: 900; margin-left: 37%;">Login</h1> -->
           <!-- <h3 class="col"> <a [routerLink]="['/register']">Sign-up</a></h3> -->
        </div>
        
        <form [formGroup]="signInForm" class="signin-form">
            <div class="form-group mb-3" style="margin:0 auto;">
                <i class="fa fa-user " style="font-size: 18px; color:#fcb713;margin-left:15%;"></i>
                <label for="username" style=" padding: 2px; font-size: 16px; font-weight: 400;">Username</label>
                <input  type="text" style="height: 33px; border-radius: 20px;border-color: black; background-color: white;width: 60%;padding: 20px;margin-left:25%" formControlName="username" pattern="[^()/><\][\\\x22,;|]+" class="form-control"/>
                <div *ngIf="signInForm.controls['username'].touched && signInForm.controls['username'].errors ">
                
                    <p style="color: red;margin-left: 25%;"> Please Enter Your Username </p>
        
                </div> 
            </div>
            <div class="form-group mb-3">
                <i style="font-size: 18px; color:#fcb713;margin-left:15%;" class="fa fa-lock"></i>
                <label for="password" style=" padding: 2px; font-size: 16px; font-weight: 400;margin-left:0%;">Password</label>
                <input type="password" style="height: 33px; background-color: white;width: 60%;padding: 20px;margin-left:25%;
                border-radius: 20px;
                border-color: black;" formControlName="password" pattern="[^()/><\][\\\x22,;|]+" class="form-control"/>
                <div *ngIf="signInForm.controls['password'].touched && signInForm.controls['password'].errors ">
                
                    <p style="color: red;margin-left: 25%;"> Please Enter Your Password </p>
                </div> 
            </div>

            <div class=""  style="margin-left: 1%;padding-bottom: 6px;">
                <mat-checkbox 
                [color]="'primary'"
                [formControlName]="'rememberMe'">
                Remember me
            </mat-checkbox>
                <p style="float:right;"> <a 
                    class="text-md font-medium text-primary-500 hover:underline"
                    [routerLink]="['/reset-password']">Forgot password ?
                </a></p>
              
             
               
            </div>

            <div class="form-group d-flex justify-content-center">
                <button class="button" style=" width: 40%;margin-left: 7%;
                margin-top: 12px; background-color:  #fcb713;border-radius:20px;
                 height:40px;font-size:14px; font-weight: 600;" [disabled]="signInForm.invalid" (click)="signIn()">Sign-in</button>
                <!-- <button class="btn btn-primary mr-1" [disabled]="signInForm.invalid">Sign-in</button> -->
                
                <!-- <a [routerLink]="['/register']" class="btn btn-primary">Sign-up</a> -->
                </div>
                <div class="TRSTLOGO-form-title" style=" align-items: center; display: flex;  flex-direction: column;">
                    <span class="d-flex justify-content-center" style="position: relative;width: 100px; padding-bottom: 10.5%; " >
                        <img src="assets/images/trstfy/footer.svg">
                   </span> 
                </div> 
                </form>
                
   </div>
   </div>
   </div>

</div>
</div>