
<div class="container-fluid h-100 align-items-center align-middle d-flex justify-content-center">
    <div class="row">
  
   

                <div class="hello row dash-nft h-100 ">
                    <div class="col-xl-10 mx-auto mt-5">
                        <div class="b-card  card" >
                            <div class="card-body form-steps">

                                    <form >
                                        <div class="d-flex mb-4 align-items-center">
                                            <div class="gri-auto mx-auto  ">
                                                <img src="./assets/img/GRI logo@2x.png" alt="" class=" " />
                                            </div>
                                           
                                        </div>
              
                                        <div class="flex-grow-1 ms-2">
                                          <h5 class="gri-text card-title mb-1">The Global Reporting Initiative (GRI) Standards 2021</h5>
                                        
                                      </div>


                                      <div class="card-body collapse show" id="collapseExample2">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <i class="ri-checkbox-circle-fill-10 text-success"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-2 text-muted" >
                                              Help you communicate your impacts on key sustainability issues with a broad range of stakeholders  
                                                
                                            </div>
                                        </div>
                                        <div class="d-flex mt-2">
                                            <div class="flex-shrink-0">
                                                <i class="ri-checkbox-circle-fill-10 text-success"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-2 text-muted">
                                              Are applicable across industries, countries, company sizes, public and private firms
                                            </div>
                                        </div>
                                        <div class="d-flex mt-2">
                                            <div class="flex-shrink-0">
                                                <i class="ri-checkbox-circle-fill-10 text-success"></i>
                                            </div>
                                            <div class="flex-grow-1 ms-2 text-muted" >
                                              They are the first and most widely adopted standards for sustainability reporting globally
                                            </div>
                                        </div>
                                    </div>


                                  

                                   

                                      

                                     
                                    </form>

                            </div>
                        </div>
                    </div>       
                </div> 
             

    
</div>
</div>
<div class="col-xl-12 copyrt" style="z-index: 99; text-align: center;    padding-left: 50px;

padding-right: 50px;

padding-bottom: 50px; font-size: 16px;  

border-top: 1px solid #e6e8f2;

">





<div class="d-flex align-items-start gap-3 mt-4">

<button type="button" class="esg-prev-btn btn dash-btn-1 btn-label previestab"(click)="back()" data-previous="steparrow-gen-info-tab"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Back </button>

<button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab" (click)="next()" data-nexttab="pills-experience-tab"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Next</button>



</div>



 </div>














