<div aria-label="pdf-page-3" >
  <div *ngIf="dynamicobj!=null">
  <div class="pagenumber">

    <div aria-label1="pdf-page-3" *ngIf="(dynamicobjTable1.length >0 || dynamicobjTable2.length >0 || dynamicobjTable3.length >0 || this.dynamicobj[9]?.social202aQuestion1) || (this.dynamicobj[9]?.social202aQuestion2) || (this.dynamicobj[9]?.social202aQuestion3)">
      <ng-container >

        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
              <div class="card">

                <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;">
                <div class="card-img-overlay p-0 d-flex flex-column">

                  <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">
                    <span class="float-end">{{reportname}}</span>
                    <!-- <h6 class="card-title mb-0" style="font-size: 25px; color: #1c75bc; margin-left: 35px; ">Metrics and
                        Disclosures </h6> -->
                  </div>


                  <div role="alert" class="general-alert alert alert-success alert-border-left fade show ng-star-inserted" style="background-color: #d4edda;"><i ngcontent-frp-c157="" class="me-3 align-middle fs-16"></i><strong _ngcontent-frp-c157="" style="font-size: 20px; color: #1c75bc;">Social</strong></div>

                  <div  role="alert" class="general-alert alert alert-success-1 alert-border-left fade show" style="padding: 6px;"><li ngcontent-frp-c157="" class="preview-d-text ng-star-inserted" style="list-style: none;"><h3 ngcontent-frp-c157=""><span ngcontent-frp-c157="" class="pretext-1"></span> SGX 201 - Gender diversity </h3></li></div>

                  

                  <div class="fa-text jalsa card-header" *ngIf="dynamicobjTable1.length >0">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 201 - 1 Percentage of current employees by gender</span> 
                    </h6>
                    </div>

                      <div >
                    <div class="fa-text jalsa card-header" *ngIf="dynamicobjTable1.length >0">
                      <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">201-1</span> Percentage of current employees by gender.
                      </h6>
                      </div>
                      

                      <div class="box-body table-responsive brsr-tablebody" *ngIf="dynamicobjTable1.length >0">
                        <table id="datatable" style="width:70%;  border: black solid 1px; margin-top: 15px;">
                         <thead>
                           <tr>
                             <th>S.no</th>
                             <th>Gender</th>
                             <th>Percentage</th>
                           </tr>
                         </thead>
                         <tbody>
                     <tr *ngFor="let item of dynamicobjTable1 let i=index">
                       <td>{{i+1}}</td>
                       <td>{{item.Gender}}</td>
                       <td>{{item.Assessments}}</td>
                     </tr>
                         </tbody>
                        </table>
 
 
                         </div> 
                    </div>

                     

                      
                  <div class="fa-text jalsa card-header" *ngIf="(dynamicobjTable2.length >0 || dynamicobjTable3.length >0)">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 201 - 2 New hires and turnover by gender</span> 
                    </h6>
                    </div>

                     <div >
                    <div class="fa-text jalsa card-header" *ngIf="dynamicobjTable2.length >0">
                      <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">201-2a</span> New hires by gender.
                      </h6>
                      </div>
                     
                      <div class="box-body table-responsive brsr-tablebody" *ngIf="dynamicobjTable2.length >0">
                        <table id="datatable" style="width:70%;  border: black solid 1px; margin-top: 15px;">
                         <thead>
                           <tr>
                             <th>S.no</th>
                             <th>Gender</th>
                             <th>Percentage</th>
                           </tr>
                         </thead>
                         <tbody>
                     <tr *ngFor="let item of dynamicobjTable2 let i=index">
                       <td>{{i+1}}</td>
                       <td>{{item.Gender}}</td>
                       <td>{{item.Assessments}}</td>
                     </tr>
                         </tbody>
                        </table>
 
 
                         </div>
                    </div>
                    

                    <div >
                      <div class="fa-text jalsa card-header" *ngIf="dynamicobjTable3.length >0">
                        <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">201-2b</span> Employee turnover by gender.
                        </h6>
                        </div>
                        
                        <div class="box-body table-responsive brsr-tablebody" *ngIf="dynamicobjTable3.length >0">
                          <table id="datatable" style="width:70%;  border: black solid 1px; margin-top: 15px;">
                           <thead>
                             <tr>
                               <th>S.no</th>
                               <th>Gender</th>
                               <th>Percentage</th>
                             </tr>
                           </thead>
                           <tbody>
                       <tr *ngFor="let item of dynamicobjTable3 let i=index">
                         <td>{{i+1}}</td>
                         <td>{{item.Gender1}}</td>
                         <td>{{item.Assessments1}}</td>
                       </tr>
                           </tbody>
                          </table>
   
   
                           </div>
                      </div>
  
  
                        <div  role="alert" class="general-alert alert alert-success-1 alert-border-left fade show" style="padding: 6px;"><li ngcontent-frp-c157="" class="preview-d-text ng-star-inserted" style="list-style: none;"><h3 ngcontent-frp-c157=""><span ngcontent-frp-c157="" class="pretext-1"></span> SGX 202 - Age-based diversity </h3></li></div>

                        <div class="fa-text jalsa card-header" *ngIf="(this.dynamicobj[9]?.social202aQuestion1) || (this.dynamicobj[9]?.social202aQuestion2) || (this.dynamicobj[9]?.social202aQuestion3)">
                          <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 202 - 1 Current employees by age groups</span> 
                          </h6>
                          </div>

                            <div >
                          <div class="fa-text jalsa card-header" *ngIf="dynamicobj[9]?.social202aQuestion1">
                            <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">202-1a</span> Percentage of employees under 30 years old.
                            </h6>
                            </div>
                            <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="dynamicobj[9]?.social202aQuestion1">
                              <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[9]['social202aQuestion1']}}%</h6>
                            </div>
                          </div>

                             <div >
                            <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[9]?.social202aQuestion2">
                              <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">202-1b</span> Percentage of employees 30-50 years old.
                              </h6>
                              </div>
                              <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[9]?.social202aQuestion2">
                                <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[9]['social202aQuestion2']}}%</h6>
                              </div>
                            </div>

                              <div >
                              <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[9]?.social202aQuestion3">
                                <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">202-1c</span> Percentage of employees over 50 years old.
                                </h6>
                                </div>
                                <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[9]?.social202aQuestion3">
                                  <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[9]['social202aQuestion3']}}%</h6>
                                </div>
                              </div>
                        
                      
                   

                </div>
                <footer class="footer sun col-xxl-12">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="">
                        <div class=" align-items-center d-flex">

                          <a style="display:flex;"><span class="mypower"
                              style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"
                              src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>

                          <h3 class="in-pages float-page" style="color: #000;
                                      margin-top: 0px;     margin-left: 230px;"></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>
              </div>

              <div style="page-break-before:always">&nbsp;</div>
            </div>
          </div>
        </div>

      </ng-container>
    </div>



    <div aria-label1="pdf-page-4" *ngIf="(this.dynamicobj[10]['social202bQuestion1'] !=undefined) || (this.dynamicobj[10]['social202bQuestion2'] !=undefined) || (this.dynamicobj[10]['social202bQuestion3'] !=undefined) || (this.dynamicobj[10]['social202bQuestion4'] !=undefined) || (this.dynamicobj[10]['social202bQuestion5'] !=undefined) || (this.dynamicobj[10]['social202bQuestion6'] !=undefined)
                                         ||(this.dynamicobj[10]['social202bQuestion1'] != undefined) || (this.dynamicobj[10]['social202bQuestion2'] != undefined) || (this.dynamicobj[10]['social202bQuestion3'] != undefined) || (this.dynamicobj[10]['social202bQuestion4'] != undefined) || (this.dynamicobj[10]['social202bQuestion5'] != undefined) || (this.dynamicobj[10]['social202bQuestion6'] != undefined)">
      <ng-container >

        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
              <div class="card">

                <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;">
                <div class="card-img-overlay p-0 d-flex flex-column">

                  <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">
                    <span class="float-end">{{reportname}}</span>
                    <!-- <h6 class="card-title mb-0" style="font-size: 25px; color: #1c75bc; margin-left: 35px; ">Metrics and
                        Disclosures </h6> -->
                  </div>
                
                  <div role="alert" class="general-alert alert alert-success alert-border-left fade show ng-star-inserted" style="background-color: #d4edda;"><i ngcontent-frp-c157="" class="me-3 align-middle fs-16"></i><strong _ngcontent-frp-c157="" style="font-size: 20px; color: #1c75bc;">Social</strong></div>

                <div  role="alert" class="general-alert alert alert-success-1 alert-border-left fade show" style="padding: 6px;"><li ngcontent-frp-c157="" class="preview-d-text ng-star-inserted" style="list-style: none;"><h3 ngcontent-frp-c157=""><span ngcontent-frp-c157="" class="pretext-1"></span> SGX 202 - Age-based diversity </h3></li></div>


                <div class="fa-text jalsa card-header" *ngIf="(this.dynamicobj[10]['social202bQuestion1'] !=undefined) || (this.dynamicobj[10]['social202bQuestion2'] !='') || (this.dynamicobj[10]['social202bQuestion3'] !=undefined) || (this.dynamicobj[10]['social202bQuestion4'] !=undefined) || (this.dynamicobj[10]['social202bQuestion5'] !=undefined) || (this.dynamicobj[10]['social202bQuestion6'] !=undefined)">
                  <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 202 - 2 New hires and turnover by age groups</span> 
                  </h6>
                  </div>

                   
                  <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[10]['social202bQuestion1'] !=undefined">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">202-2a</span> Percentage of new hires under 30 years old.
                    </h6>
                    </div>
                    <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[10]['social202bQuestion1'] !=undefined">
                      <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[10]['social202bQuestion1']}}%</h6>
                    </div>
                

                     <div >
                    <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[10]['social202bQuestion2'] !=undefined">
                      <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">202-2b</span> Percentage of new hires between 30-50 years old.
                      </h6>
                      </div>
                      <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[10]['social202bQuestion2'] !=undefined">
                        <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[10]['social202bQuestion2']}}%</h6>
                      </div>
                    </div>

                      <div >
                      <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[10]['social202bQuestion3'] !=undefined">
                        <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">202-2c</span> Percentage of new hires above 50 years old.
                        </h6>
                        </div>
                        <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[10]['social202bQuestion3'] !=undefined">
                          <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[10]['social202bQuestion3']}}%</h6>
                        </div>
                      </div>

                        <div >
                        <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[10]['social202bQuestion4'] !=undefined">
                          <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">202-2d</span>Percentage of employee turnover under 30 years old.
                          </h6>
                          </div>
                          <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[10]['social202bQuestion4'] !=undefined">
                            <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[10]['social202bQuestion4']}}%</h6>
                          </div>
                        </div>

                           <div >
                          <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[10]['social202bQuestion5'] !=undefined">
                            <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">202-2e</span>Percentage of employee turnover between 30-50 years old.
                            </h6>
                            </div>
                            <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[10]['social202bQuestion5'] !=undefined" >
                              <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[10]['social202bQuestion5']}}%</h6>
                            </div>
                          </div>

                             <div >
                            <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[10]['social202bQuestion6'] !=undefined">
                              <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">202-2f</span>Percentage of employee turnover above 50 years old.
                              </h6>
                              </div>
                              <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[10]['social202bQuestion6'] !=undefined" >
                                <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[10]['social202bQuestion6']}}%</h6>
                              </div>
                            </div>
            


                </div>
                <footer class="footer sun col-xxl-12">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="">
                        <div class=" align-items-center d-flex">

                          <a style="display:flex;"><span class="mypower"
                              style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"
                              src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>

                          <h3 class="in-pages float-page" style="color: #000;
                                      margin-top: 0px;     margin-left: 230px;"></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>
              </div>

              <div style="page-break-before:always">&nbsp;</div>
            </div>
          </div>
        </div>

      </ng-container>
    </div>




    <div aria-label1="pdf-page-5" *ngIf="(this.dynamicobj[11]?.social203aQuestion1) || (this.dynamicobj[11]?.social203aQuestion2) || (this.dynamicobj[11]?.social203aQuestion3) || (this.dynamicobj[11]?.social203aQuestion4) || (this.dynamicobj[12]?.social203bQuestion1) || (this.dynamicobj[12]?.social203bQuestion2) || (this.dynamicobj[12]?.social203bQuestion3) ">
      <ng-container >

        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
              <div class="card">

                <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;">
                <div class="card-img-overlay p-0 d-flex flex-column">

                  <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">
                    <span class="float-end">{{reportname}}</span>
                    <!-- <h6 class="card-title mb-0" style="font-size: 25px; color: #1c75bc; margin-left: 35px; ">Metrics and
                        Disclosures </h6> -->
                  </div>
                
                  <div role="alert" class="general-alert alert alert-success alert-border-left fade show ng-star-inserted" style="background-color: #d4edda;"><i ngcontent-frp-c157="" class="me-3 align-middle fs-16"></i><strong _ngcontent-frp-c157="" style="font-size: 20px; color: #1c75bc;">Social</strong></div>

                  <div  role="alert" class="general-alert alert alert-success-1 alert-border-left fade show" style="padding: 6px;"><li ngcontent-frp-c157="" class="preview-d-text ng-star-inserted" style="list-style: none;"><h3 ngcontent-frp-c157=""><span ngcontent-frp-c157="" class="pretext-1"></span> SGX 203 - Employment </h3></li></div>

             


                  <div class="fa-text jalsa card-header" *ngIf="(this.dynamicobj[11]?.social203aQuestion1) || (this.dynamicobj[11]?.social203aQuestion2) || (this.dynamicobj[11]?.social203aQuestion3) || (this.dynamicobj[11]?.social203aQuestion4) ">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 203 - 1 Total turnover</span> 
                    </h6>
                    </div>

                  <div >
                 <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[11]['social203aQuestion1'] !=undefined">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">203-1a</span> Total employee turnover.
                    </h6>
                    </div>
                    <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[11]['social203aQuestion1'] !=undefined">
                      <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[11]['social203aQuestion1']}} </h6>
                    </div>
                  </div>

                  <div >
                    <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[11]?.social203aQuestion2">
                      <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">203-1b</span>Rate of employee turnover.
                      </h6>
                      </div>
                      <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[11]?.social203aQuestion2">
                        <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[11]['social203aQuestion2']}} %</h6>
                      </div>
                    </div>

                    <div >
                      <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[11]?.social203aQuestion3">
                        <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">203-1c</span>Have subsidaries been included?.
                        </h6>
                        </div>
                        <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[11]['social203aQuestion3'] !=''">
                          <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[11]['social203aQuestion3']}} </h6>
                        </div>
                      </div>

                      <div >
                        <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[11]?.social203aQuestion4">
                          <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">203-1d</span>Definition of the scope of reporting and subsidiaries.
                          </h6>
                          </div>
                          <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[11]['social203aQuestion4'] !=''">
                            <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[11]['social203aQuestion4']}} </h6>
                          </div>
                        </div>


                          <div class="fa-text jalsa card-header" *ngIf="(this.dynamicobj[12]['social203bQuestion1'] !=undefined || this.dynamicobj[12]['social203bQuestion2'] !=undefined || this.dynamicobj[12]['social203bQuestion3'] !=undefined)">
                            <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 203 - 2 Total number of employees</span> 
                            </h6>
                            </div>
                  
                      <div >
                         <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[12]['social203bQuestion1'] !=undefined">
                            <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">203-2a</span> Total number of employees.
                            </h6>
                            </div>
                            <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[12]['social203bQuestion1'] !=undefined">
                              <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[12]['social203bQuestion1']}} </h6>
                            </div>
                          </div>
        
                          <div >
                            <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[12]['social203bQuestion2'] !=undefined">
                              <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">203-2b</span>Have subsidaries been included?.
                              </h6>
                              </div>
                              <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[12]['social203bQuestion2'] !=undefined">
                                <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[12]['social203bQuestion2']}} </h6>
                              </div>
                            </div>
        
                            <div >
                              <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[12]['social203bQuestion3'] !=undefined">
                                <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">203-2c</span>Definition of the scope of reporting and subsidiaries included.
                                </h6>
                                </div>
                                <div class="fa-text-1 jalsa card-header ng-star-inserted" *ngIf="this.dynamicobj[12]['social203bQuestion3'] !=undefined">
                                  <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[12]['social203bQuestion3']}} </h6>
                                </div>
                              </div>
                    

                </div>
                <footer class="footer sun col-xxl-12">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="">
                        <div class=" align-items-center d-flex">

                          <a style="display:flex;"><span class="mypower"
                              style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"
                              src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>

                          <h3 class="in-pages float-page" style="color: #000;
                                      margin-top: 0px;     margin-left: 50px;"></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>
              </div>

              <div style="page-break-before:always">&nbsp;</div>
            </div>
          </div>
        </div>

      </ng-container>
    </div>



    <div aria-label1="pdf-page-6" *ngIf="((this.dynamicobj[13]?.social204aQuestion1) || (dynamicobjTable4.length>0) || (this.dynamicobj[15]?.social205aQuestion1) || (this.dynamicobj[15]?.social205bQuestion1)  || (this.dynamicobj[13]?.social204aQuestion1)  || (this.dynamicobj[15]?.social205aQuestion1)  || (this.dynamicobj[15]?.social205cQuestion1) || (this.dynamicobj[15]?.social205dQuestion1))">
      <ng-container >

        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
              <div class="card">

                <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;">
                <div class="card-img-overlay p-0 d-flex flex-column">

                  <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">
                    <span class="float-end">{{reportname}}</span>
                    <!-- <h6 class="card-title mb-0" style="font-size: 25px; color: #1c75bc; margin-left: 35px; ">Metrics and
                        Disclosures </h6> -->
                  </div>
                
                  <div role="alert" class="general-alert alert alert-success alert-border-left fade show ng-star-inserted" style="background-color: #d4edda;"><i ngcontent-frp-c157="" class="me-3 align-middle fs-16"></i><strong _ngcontent-frp-c157="" style="font-size: 20px; color: #1c75bc;">Social</strong></div>

                  <div  role="alert" class="general-alert alert alert-success-1 alert-border-left fade show" style="padding: 6px;"><li ngcontent-frp-c157="" class="preview-d-text ng-star-inserted" style="list-style: none;"><h3 ngcontent-frp-c157=""><span ngcontent-frp-c157="" class="pretext-1"></span> SGX 204 - Development & training </h3></li></div>

                 


                  <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[13]?.social204aQuestion1">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 204 - 1 Average training hours per employee</span> 
                    </h6>
                    </div>

                    <div >
                 <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[13]?.social204aQuestion1">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">204-1</span> Average training hours per employee.
                    </h6>
                    </div>
                    <div class="fa-text-1 jalsa card-header ng-star-inserted">
                      <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[13]['social204aQuestion1']}} </h6>
                    </div>
                  </div>

              
                       
                  <div class="fa-text jalsa card-header" *ngIf="dynamicobjTable4.length>0">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 204 - 2 Average training hours per employee by gender</span> 
                    </h6>
                    </div>

                    <div >
                    <div class="fa-text jalsa card-header" *ngIf="dynamicobjTable4.length>0">
                      <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">204-2</span>Average training hours per employee by gender.
                      </h6>
                      </div>
                      
                      <div class="box-body table-responsive brsr-tablebody" *ngIf="dynamicobjTable4.length>0">
                        <table id="datatable" style="width:70%;  border: black solid 1px; margin-top: 15px;">
                         <thead>
                           <tr>
                             <th>S.no</th>
                             <th>Gender</th>
                             <th>Percentage</th>
                           </tr>
                         </thead>
                         <tbody>
                     <tr *ngFor="let item of dynamicobjTable4 let i=index">
                       <td>{{i+1}}</td>
                       <td>{{item.Gender}}</td>
                       <td>{{item.Assessments}}</td>
                     </tr>
                         </tbody>
                        </table>
 
 
                         </div>

                    </div>

                      <div  role="alert" class="general-alert alert alert-success-1 alert-border-left fade show" style="padding: 6px;"><li ngcontent-frp-c157="" class="preview-d-text ng-star-inserted" style="list-style: none;"><h3 ngcontent-frp-c157=""><span ngcontent-frp-c157="" class="pretext-1"></span> SGX 205 - Occupational health & safety </h3></li></div>


                   
                  <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[15]?.social205aQuestion1">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 205 - 1 Fatalities</span> 
                    </h6>
                    </div>
  
                        <div >
                      <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[15]?.social205aQuestion1">
                        <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">205-1a</span>Number of cases.
                        </h6>
                        </div>
                        <div class="fa-text-1 jalsa card-header ng-star-inserted" >
                          <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[15]['social205aQuestion1']}}</h6>
                        </div>
                      </div>

                  


                        
                      
                  <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[16]['social205bQuestion1']!=undefined" >
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 205 - 2 High-consequence injuries</span> 
                    </h6>
                    </div>
                         <div >
                        <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[16]['social205bQuestion1']!=undefined">
                          <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">205-1b</span>Number of cases.
                          </h6>
                          </div>
                          <div class="fa-text-1 jalsa card-header ng-star-inserted" >
                            <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[16]['social205bQuestion1']}}</h6>
                          </div>
                        </div>

                                 
                  <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[17]['social205cQuestion1']!=undefined">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 205 - 3 Recordable injuries</span> 
                    </h6>
                    </div>

                        
                          <div >
                          <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[17]['social205cQuestion1']!=undefined">
                            <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">205-1c</span>Number of cases.
                            </h6>
                            </div>
                            <div class="fa-text-1 jalsa card-header ng-star-inserted" >
                              <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[17]['social205cQuestion1']}}</h6>
                            </div>
                          </div>


                                             
                  <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[18]['social205dQuestion1']!=undefined">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 205 - 4 Recordable work-related ill health cases</span> 
                    </h6>
                    </div>

                      
                              <div >
                            <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj[18]['social205dQuestion1']!=undefined">
                              <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">205-1d</span>Number of cases.
                              </h6>
                              </div>
                              <div class="fa-text-1 jalsa card-header ng-star-inserted" >
                                <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[18]['social205dQuestion1']}}</h6>
                              </div>
                            </div>


                </div>
                <footer class="footer sun col-xxl-12">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="">
                        <div class=" align-items-center d-flex">

                          <a style="display:flex;"><span class="mypower"
                              style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"
                              src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>

                          <h3 class="in-pages float-page" style="color: #000;
                                      margin-top: 0px;     margin-left: 50px;"></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>
              </div>

              <div style="page-break-before:always">&nbsp;</div>
            </div>
          </div>
        </div>

      </ng-container>
    </div>




  </div>
  </div>
</div>