<style>
  .wrapper{
   width: 100%;
   height: 796px;
   position: fixed;
   overflow-x: hidden;
   overflow-y: hidden;
 background-image: url(/assets/images/users/login-bg.png);
 background-size:cover;
 background-repeat: no-repeat;
 background-position: center center;
  }
       
</style>
<div class="wrapper">
 <div class="animation-wrapper">
   <div class="particle particle-1"></div>
   <div class="particle particle-2"></div>
   <div class="particle particle-3"></div>
   <div class="particle particle-4"></div>
 </div>
</div>
  
  
    <div class=" container-fluid">
      <div class="row"> 
  
        <div class="col-md-12 col-lg-16 col-xl-4 pt-5 mt-5 mx-auto ">
          <div class="card" style="margin-bottom: 18px;
          background-color: #fff;
          border-radius:20px;
          box-shadow: 0 8px 20px -2px rgb(158 152 153 / 50%)">
        
              <div class="card-body p-5">
      <form action="" method="post" name="signupForm" id="signupForm" [formGroup]="newpassform">
          
        <img src="" id="signupLogo"/>
        
        <h2 class="formTitle">
          Verify Your Email
          <!-- Login to your account -->
        </h2>
  
  <div class="inputDiv">
    <label class="inputLabel" for="Email Id">Email Id</label>
        <input type="text" id="EmailId" name="EmailId"  formControlName="EmailId"  class="form-control" readonly>
      </div>
      <div class="inputDiv">
        <label class="inputLabel" for="password">Enter New Password</label>
        <input type="password" id="password" name="NewPass" required   class="form-control"  formControlName="NewPass">
       
      </div>
     
      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword"  name="ConfirmPass" formControlName="ConfirmPass" class="form-control">
       
      </div>
  
      <div *ngIf =" newpassform.controls['ConfirmPass'].errors && newpassform.controls['ConfirmPass'].touched ">
        <p style="color: red;margin-left: 75px;"> passwords do not match</p>
      </div> 
  
      <div class="buttonWrapper">
        <button    type="submit" id="submitButton" (click)="validateSignupForm()" class="submitButton pure-button pure-button-primary" [disabled]="newpassform.invalid">
          <span>Submit</span>
         
        </button>
      </div>
        
    </form>
    </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
    
                            
    
                        </div>
                  
  
  
      </div>
  </div>
  
  
  
  
              <!-- auth page content -->
          
            <!-- end auth page content -->
  
  
  
    
  
    
    
    
    <div class="modal fade" id="passModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="margin-bottom: 182px;">
       
          <div class="card-body p-4 text-center" style="margin-top: -14px;">
            <div class="avatar-lg mx-auto mt-2">
                <div class="avatar-title bg-light text-success display-3 rounded-circle">
                    <i class="ri-checkbox-circle-fill-2"></i>
                </div>
            </div>
            <div class="mt-4 pt-2">
                <h4>Successfully !</h4>
                <p class="text-muted mx-4">Verification Code has been sent to your Mail.</p>
                <div class="mt-4">
                  <a type="button" class="btn btn-success" [routerLink]="['/confirmation-required']">Ok</a>
                </div>
            </div>
        </div>
        
        </div>
      </div>
    </div>
    
    
  
  
  
    
  
  
  
  
  
    