<div class="flex flex-col max-w-600 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="cursor-move flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">{{title}}</div>
        <button
            mat-icon-button
            (click)="onClose()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="flex flex-col flex-auto p-6 sm:p-8 gap-10">
        <!-- Role Menu form -->
        <form class="flex flex-row flex-auto overflow-y-auto"
            [formGroup]="roleMenuForm">

            <div class="flex flex-col flex-auto">
                <span class="mb-2">Add Status</span>
                <mat-slide-toggle
                    [formControlName]="'AddYN'"
                    [color]="'primary'">
                    {{roleMenuForm.get('AddYN')?.value === true ? 'Active' : 'Disabled'}}
                </mat-slide-toggle>
            </div>

            <div class="flex flex-col flex-auto">
                <span class="mb-2">Edit Status</span>
                <mat-slide-toggle
                    [formControlName]="'EditYN'"
                    [color]="'primary'">
                    {{roleMenuForm.get('EditYN')?.value === true ? 'Active' : 'Disabled'}}
                </mat-slide-toggle>
            </div>

            <div class="flex flex-col flex-auto">
                <span class="mb-2">View Status</span>
                <mat-slide-toggle
                    [formControlName]="'ViewYN'"
                    [color]="'primary'">
                    {{roleMenuForm.get('ViewYN')?.value === true ? 'Active' : 'Disabled'}}
                </mat-slide-toggle>
            </div>

        </form>
        <!-- Actions -->
        <div class="flex flex-col sm:flex-row justify-end">
            <div class="flex items-center mt-4 sm:mt-0">
                <!-- Cancel -->
                <button
                    class="sm:mx-3"
                    mat-stroked-button
                    mat-dialog-close=false
                    (click)="onCancel()">
                    <span>Cancel</span>
                </button>
                <!-- Save -->
                <button
                    class="order-first sm:order-last"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="!isFormChanged()"
                    (click)="onSave()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
