




<div class="row">
  <div class="col-12">
      
      <div class="row">

        <div class="col-xxl-12 col-xl-12 col-md-12">
          <div class=" card "  style=" margin-bottom: 0px !important;">
            <img class=" card-img img-fluid" src="./assets/img/fp5.png" alt="Card image" style="height: 450px; width: 100%; object-fit: cover;">
            <div class="card-img-overlay p-0  flex-column">
              <div class=" bg-transparent"
              style="text-align: end;" >


              
           
          </div>
          <div class="desfour align-items-center d-flex">
                
            <h4 class="card-title mb-0 flex-grow-1" style=" color: #000 !important;font-weight: 500;
            font-size: 18px; margin-top: -10px; margin-left: 25px;">Metrics and Disclosures</h4>
            <div class="flex-shrink-0">
              <div class="form-check form-switch form-switch-right form-switch-md">
                
                
              </div>
              
          </div>

          
    
        </div><!-- end card header -->

               
             
                <div class=" card-footer bg-transparent text-center">
                    
                  <div class="live-preview">
                    <ul class="list-group list-group-flush" style="margin-top: -15px; margin-left: 25px;">
                      <h4 class="card-title mb-0 flex-grow-1" style=" color: #000 !important; text-align: left;font-size: 18px; margin-top: 20px;">Universal Standards</h4>
                        <li class="" style="   font-size: 16px;
                        font-weight: 500; text-align: left; margin-top: 20px;">102 Organisational profile</li>
                        <ul style="padding: 0px;">
                          <li class="" style=" margin-top: 20px; font-size: 16px; text-align: left;">102 -1 Name of the Organisation<br>102 -1 - a Description</li>
                          <li class="" style=" margin-top: 20px;font-size: 16px; text-align: left;">102 -2 Name of the Organisation <br>102 -2 - a Description</li>
                          <li class="" style=" margin-top: 20px; font-size: 16px; text-align: left;">102 -2 Name of the Organisation <br>102 -2 - a Description</li>
                          <li class="" style=" margin-top: 20px; font-size: 16px; text-align: left;">102 -2 Name of the Organisation <br>102 -2 - a Description</li>
                         
                         
                        </ul>

                        
                    </ul>
                </div>
       
                </div>
            </div>
          </div>
        </div>




 
        
      </div><!-- end row -->

    

  </div><!-- end col -->
</div>













