<div class="row">
  <div class="row">
    <div class="col-xl-10">
      <h3 style="text-align: left;
  margin-left: 15px; color: #1c75bc;">
        Upload Evidence
      </h3>
    </div>
    <div class="col-xl-2">
      <button style="float: right;     margin-top: -10px;" mat-icon-button (click)="onClose()" [tabIndex]="-1">
        <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
      </button>
    </div>

    <div class="col-lg-12" style="margin-left: 10px;">
      <div class="card">
        <div class="card-body">
          <div class="dropzone dz-clickable drag-file-area" style="min-height: 100px !important;">
            <div class="dz-message needsclick">
              <div class="mb-3" style="    margin: 15px 20px 25px 50px;   display: flex;
                        justify-content: center;
                      ">
                <div class="row">
                  <div class="col-xl-7">
                    <label class="btn btn-default p-0" style="    margin-top: 20px;
                              width: 50%;
                              font-size: 20px;
                          
                          ">
                      <input type="file" multiple (change)="selectFiles($event.target.files)" />
                    </label>
                  </div>

                  <div class="col-xl-5">

                    <!-- <button class="esg-back-btn btn dash-btn-1 btn-label order-first sm:order-last" mat-flat-button [color]="'primary'" style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important; background-color: #fff !important; border-radius: 0px !important; border-radius: 5px !important;     float: right;
                    margin-top: 20px;"  (click)="uploadFiles()" > Add </button> -->


                  </div>
                </div>
              </div>

              <h4 style="text-align: center;">
                Click to Upload.
              </h4>
            </div>
          </div>

          <ul class="list-unstyled mb-0" id="dropzone-preview"></ul>
          <!-- end dropzon-preview -->
        </div>
        <!-- end card body -->
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
</div>
<div *ngIf="uploadedLinks.length > 0" class="row">
  <div class="col-12">
    <h3 style="color: #1c75bc;">Uploaded Files:</h3>

    <div class="" style="     overflow-y: auto;
    height: 300px;">
      <ul style="list-style: none; padding-left: 0px !important;">
        <li *ngFor="let file of uploadedLinks">
          <ng-container *ngIf="file?.UploadedObj.includes('.png')">
            <div class="" style="border: solid 1px #bfc1c2 !important;
      margin-top: 5px;">
              <div class="d-flex p-2">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar-sm rounded">
                    <a href="{{ file?.UploadedObj }}" target="_blank"><img [src]="file?.UploadedObj"
                        style="width: 50px;height:50px;"></a>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <div class="pt-1">
                    <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                    <p class="fs-13 text-muted mb-0" data-dz-size></p>
                    <strong class="error text-danger" data-dz-errormessage></strong>
                  </div>
                </div>
                <div class="flex-shrink-0 ms-3" style="margin-top: 15px;">
                  <button data-dz-remove class="btn btn-sm btn-danger" (click)="deleteFile(file)">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="file?.UploadedObj.includes('.jpeg')">
            <div class=" " style="border: solid 1px #bfc1c2 !important;
      margin-top: 5px;">
              <div class="d-flex p-2">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar-sm rounded">
                    <a href="{{ file?.UploadedObj }}" target="_blank"><img [src]="file?.UploadedObj"
                        style="width: 50px;height:50px;"></a>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <div class="pt-1">
                    <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                    <p class="fs-13 text-muted mb-0" data-dz-size></p>
                    <strong class="error text-danger" data-dz-errormessage></strong>
                  </div>
                </div>
                <div class="flex-shrink-0 ms-3" style="margin-top: 15px;">
                  <button data-dz-remove class="btn btn-sm btn-danger" (click)="deleteFile(file)">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="file?.UploadedObj.includes('.jpg')">
            <div class="" style="border: solid 1px #bfc1c2 !important;
      margin-top: 5px;">
              <div class="d-flex p-2">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar-sm rounded">
                    <a href="{{ file?.UploadedObj }}" target="_blank"><img [src]="file?.UploadedObj"
                        style="width: 50px;height:50px;"></a>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <div class="pt-1">
                    <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                    <p class="fs-13 text-muted mb-0" data-dz-size></p>
                    <strong class="error text-danger" data-dz-errormessage></strong>
                  </div>
                </div>
                <div class="flex-shrink-0 ms-3" style="margin-top: 15px;">
                  <button data-dz-remove class="btn btn-sm btn-danger" (click)="deleteFile(file)">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="file?.UploadedObj.includes('.pdf')">
            <div class="" style="border: solid 1px #bfc1c2 !important;
      margin-top: 5px;">
              <div class="d-flex p-2">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar-sm rounded">
                    <a href="{{ file?.UploadedObj }}" target="_blank">
                      <img data-dz-thumbnail class="img-fluid rounded d-block" src="assets/images/pdf_01.png"
                        alt="Dropzone-Image" style="margin-left: -8px;" />
                    </a>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <div class="pt-1">
                    <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                    <p class="fs-13 text-muted mb-0" data-dz-size></p>
                    <strong class="error text-danger" data-dz-errormessage></strong>
                  </div>
                </div>
                <div class="flex-shrink-0 ms-3" style="margin-top: 15px;">
                  <button data-dz-remove class="btn btn-sm btn-danger" (click)="deleteFile(file)">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="file?.UploadedObj.includes('.doc')">
            <div class="" style="border: solid 1px #bfc1c2 !important;
      margin-top: 5px;">
              <div class="d-flex p-2">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar-sm rounded">
                    <a href="{{ file?.UploadedObj }}" target="_blank">
                      <img data-dz-thumbnail class="img-fluid rounded d-block" src="assets/images/doc_1.png"
                        alt="Dropzone-Image" style="margin-left: -8px;" />
                    </a>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <div class="pt-1">
                    <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                    <p class="fs-13 text-muted mb-0" data-dz-size></p>
                    <strong class="error text-danger" data-dz-errormessage></strong>
                  </div>
                </div>
                <div class="flex-shrink-0 ms-3" style="margin-top: 15px;">
                  <button data-dz-remove class="btn btn-sm btn-danger" (click)="deleteFile(file)">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="file?.UploadedObj.includes('.xlsx')">
            <div class="" style="border: solid 1px #bfc1c2 !important;
      margin-top: 5px;">
              <div class="d-flex p-2">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar-sm rounded">
                    <a href="{{ file?.UploadedObj }}" target="_blank">
                      <img data-dz-thumbnail class="img-fluid rounded d-block" src="assets/images/xl.png"
                        alt="Dropzone-Image" style="margin-left: -8px;" />
                    </a>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <div class="pt-1">
                    <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                    <p class="fs-13 text-muted mb-0" data-dz-size></p>
                    <strong class="error text-danger" data-dz-errormessage></strong>
                  </div>
                </div>
                <div class="flex-shrink-0 ms-3" style="margin-top: 15px;">
                  <button data-dz-remove class="btn btn-sm btn-danger" (click)="deleteFile(file)">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </li>
      </ul>

    </div>
  </div>
</div>
<div class="" style="display: flex; justify-content: center;">
  <button class="esg-back-btn btn dash-btn-1 btn-label order-first sm:order-last" mat-flat-button [color]="'primary'"
    style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important; background-color: #fff !important; border-radius: 0px !important; border-radius: 5px !important;     float: right;
margin-top: 20px;" (click)="uploadFiles()"> Save </button>
</div>
<div class="row">
  <img *ngFor="let preview of previews" [src]="preview" class="preview"
    style="height: 150px; width: 150px; margin: 2px;" />
</div>