<div  class="card" style="height: 100% ;width: 100% !important" >
           
  <div style="height:5% !important">
    <div class="card WareHouse " >
      
  
        <form [formGroup]="filterForm" >
          <div class="row m-1">
           <div class="col-md-4"></div>
          <div class="col-md-2">
        
          <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-50">
          
         <mat-select formControlName="WareHouseId" (selectionChange)="OnWarehouseChange($event)" [placeholder]="'Select WareHouse'">
        
                    <mat-option *ngIf="!Showall" value="null">All Select</mat-option>
        
                    <mat-option *ngFor="let role of WareHouseData" [value]="role.Id">
        
                        {{role.Name}}
        
                    </mat-option>
        
          </mat-select>
        
            </mat-form-field>
           
            </div>
            
          
     
 <div class="col-md-1">  
 </div>
    
    </div>
      
      
      </form>
       
       
      
    
      </div>
  
   </div>


 
<div  class="overflow-hidden overflow-y-auto" style="margin-top: 20px;height: 550px !important">
<div class="row">
<div class="col-md-12">
<table  id="datatable"   style="width:100%" class="table table-striped overflow-hidden overflow-y-auto">
  <thead class="sticky-header"     style="background-color: #FCB713;">
    <tr>
      <th style="text-align: left;">Warehouse</th>
      <th style="text-align: left;">Sales Order Code</th>
        <th style="text-align: left;">Customer Name</th>
        <th style="text-align: left;">Delivery Address</th>
        <th style="text-align: left;">Delivery Date</th>
        <!-- <th>Opening Stock</th>
        <th>Closing Stock</th> -->
     
        
    </tr>
</thead>
<tbody style="font-size: 15px;">
  <tr *ngFor="let k of SalesOrder">
    <td  style="width: 20%;"scope="col">{{k.Warehouse}}</td>
    <td  style="width: 25%;"scope="col">{{k.Code}}</td>
    <td  style="width: 20%;" scope="col">{{k.CustomerName}}</td>
    <td style="width: 20%;" scope="col">{{k.DeliveryAddress}}</td>
    <td style="width: 20%;" scope="col">{{k.DeliveryDate |date:'MMM d, y'}}</td>
    <!-- <td scope="col">{{d.OpeningStock}}</td>
    <td scope="col">{{d.ClosingStock}}</td> -->
    
   
   
  </tr>
</tbody>
          
       </table>
</div>
<div class="col-md-4">
<div id="chart">

</div>

</div>
</div>


       
   </div>
  

 </div>