
// Do not add padding-left to the first column
.mat-column-Edit {
    width: 15%;
    padding: 0px 0px  0px 120px !important;
   

}

.mat-column-Code {
    width: 15%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}

.mat-column-ProductName {
    width: 25%;
    padding: 0px 5px !important;
    word-wrap: break-word;

}
.mat-column-Category {
    width: 20%;
    padding: 0px 5px !important;
    word-wrap: break-word;

}


.mat-column-IsActive {
    width: 10%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}
.mat-column-HSN {
    width: 10%;
    padding: 0px 5px !important;
}

.mat-column-EAN {
    width: 10%;
    padding: 0px 5px !important;
}

// Do not add padding-right to the last column
.mat-column-UpdatedDate {
    width: 10%;
    padding-left: 5px !important;
    word-wrap: break-word;
}

th.mat-header-cell {
    color:black !important;
    background-color:#FCB713  !important;
  }