<div class="">
  
  <div class="row sticky-content " *ngIf="princi2l" #scroll>
    <div class="col-xl-12">
        <div class="d-flex align-items-center justify-content-between" style="margin-right: 20px;">
           

            <h4 style="text-align: left; color: #1076bc;"> PRINCIPLE 2<b></b></h4>

            
            <div class="d-flex align-items-start gap-3 ">
              <!-- <button type="button"
              class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
              style="font-size: 13px; float: right"
             >
              Back
              
          </button> -->
          <button type="button"
          class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
          style="font-size: 13px; float: right" (click)="onSave()" 
         >
          Save
          
      </button>

      <!-- <button type="button"
      class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab evidence-btn"
      style="font-size: 13px; float: right"
     >
      Next
      
  </button> -->
      
            </div>
       

        </div>
    </div>
</div>


<div class="" *ngIf="princi2l">
  <form [formGroup]="principalform">
    <div class="col-xxl-12">
        <div class="card" style="box-shadow: 0 8px 20px -2px rgb(158 152 153 / 0%);">
            <div class="card-body">
                <div id="contact-existing-list" >
                    <div class="row mb-2" >
                        <div class="card-footer">
                            <div class="row">
                              
                              <h4 style="text-align: center;"><b>Businesses should provide goods and service in a manner that is sustainable and safe <br>(Leadership Indicators)</b></h4>
                                
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="d-flex align-items-center justify-content-between">
                                      <p class="org-in-text text-muted mb-0">
                                        <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">1</button>Has the entity conducted Life Cycle Perspective / Assessments (LCA) for any of its products (for manufacturing industry) or for its services (for service industry)? If yes,  provide details in the following format?:
                                      </p>
                                      <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                        (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Has the entity conducted Life Cycle Perspective / Assessments (LCA) for any of its products (for manufacturing industry) or for its services (for service industry)? If yes,  provide details in the following format?')">
                                        Evidence
                                        <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                               
                                <div class="col-xl-12">
                                  <div class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                  <mat-select [formControlName]="'glao2'" (selectionChange)="ownershipandlegalfor2($event)" >
            
                                      <mat-option *ngFor="let c of filteredList" [value]="c.Name">
                      
                                          {{c.Name}}
                      
                                      </mat-option>
                      
                                  </mat-select>
                                  </div>
                                  <div *ngIf="dropinput=='Yes'">
    <div class="col-xl-12 in-top "> 
    <div class="box-body table-responsive">
        
        <table id="datatable" class="table table-striped table-bordered " style="width:100%;     border: 2px solid #1c75bc;  margin-top: 15px;">
            <thead class="tableheader">
                <tr>
                    <th class="fptable">NIC Code</th>
                    <th class="fptable">Name of Product /Service</th>
                    <th class="fptable">% of total Turnover contributed</th>
                    <th class="fptable">Boundary for which the Life Cycle Perspective / Assessment was conducted</th>
                    <th class="fptable">Whether conducted by independent external agency(Yes/No)</th>
                    <th class="fptable">Results communicated in public domain(Yes/No) If yes, provide the web-link.</th>
                    <th class="fptable"></th>
            </tr>
          
            </thead>
            <tbody>
                <tr *ngFor="let tpt  of lookupdtl; let i=index" style="background-color: #fff !important;">
                  
                  <div class="flex flex-col md:flex-row gap-4" >
  <!--                                                        
                    <mat-form-field>
                    
                        <mat-select id="Projects{{i}}" (selectionChange)="OnChangeType1(i,$event)" [value]="tpt.Projects" >
                           
                        
                          <mat-option *ngFor="let item of filteredList1" [value]="item.NICCode">
                          
                     
                        {{item.NICCode}}
                
                          </mat-option>
               
                        </mat-select>
                      </mat-form-field> -->
                      <mat-form-field>
                        {{tpt.Projects}}
                        <mat-select id="Projects{{i}}" formControlName="glao1" (selectionChange)="OnChangeType1(i,$event)" [value]="tpt.Projects">   
                          <input matInput placeholder="Search" (input)="onInputChange($event.target.value)" [matAutocomplete]="auto">
                      
                          <mat-option *ngFor="let item of filteredList1" [value]="item.NICCode">
                            <mat-autocomplete #auto (optionSelected)="onOptionSelectedType2x($event,i)">
                            </mat-autocomplete>
                            <ng-container *ngIf="item.NICCode !== tpt.Projects">
                              {{item.NICCode}}
                            </ng-container>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
  
                      
                      
                     
              </div>
                  <td>
                      <div class="flex flex-col md:flex-row gap-4">
                        <input id="Labs2x{{i}}" class="form-control  fpinput-01"  [value]="tpt.Labs2x"  (change)="changeAssessments(i)"> 
                      </div>
                       </td>
                   
                      <td>
                        <div class="flex flex-col md:flex-row gap-4">
                            <input id="Remarks{{i}}" class="form-control  fpinput-01" style="text-align: right;" [value]="tpt.Remarks" appPercentageDirective  (change)="changeAssessments41(i)"> </div>
                    </td>
                    <td>
                      <input id="Project2x{{i}}"     class="form-control fpinput-01" [value]="tpt.Project2x"  (change)="Turnoverper1(i) "> 
                
                    </td>
                    <td>
                    <div class="flex flex-col md:flex-row gap-4" >
                                                         
                      <mat-form-field>
                      
                          <mat-select id="Projects1{{i}}" (selectionChange)="OnChangeType2(i,$event)" [value]="tpt.Projects1" >
                             
                          
                            <mat-option *ngFor="let item of filteredList" [value]="item.Name">
                            
                       
                          {{item.Name}}
                  
                            </mat-option>
                 
                          </mat-select>
                        </mat-form-field>
                        
                       
                </div>
              </td>
                <td>
              
            <div class="flex flex-col md:flex-row gap-4">
                                                                                                       
              <div *ngIf="reltypeother!='Yes' ">
                <mat-form-field>
                    {{tpt.Projects2}}
                    <mat-select id="Projects2{{i}}" (selectionChange)="OnChangeType3(i,$event)" [value]="tpt.Projects2">   
                      
                  
                      <mat-option *ngFor="let item of filteredList" [value]="item.Name">
                      
                          {{item.Name}}
                      
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
              </div>
              <div *ngIf="reltypeother=='Yes' "> 
                <div class="flex flex-col md:flex-row gap-4">
                     <div >
                        <input  id="Projects2{{i}}"  class="form-control" [value]="tpt.Projects2" (keyup)="inputforother(i,$event)"> 
                    </div>
  
  
              </div>
            </div>
        </div>
          </td>
                      
          <td style="background-color: #fbfbfb !important;">
            <button style="padding-top:17px" id="delete2x{{i}}" type="button" (click)="deleteQ102b(i)"><i style="color:red" class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
                </tr>
            </tbody>
        </table>
        
      </div>
      <div class="flex flex-col sm:flex-row justify-end ">
        <div class="flex items-center  sm:mt-0" style="float: right;">
            <button class="esg-back-btn btn dash-btn-1 btn-label order-first sm:order-last" mat-flat-button [color]="'primary'" style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important; background-color: #fff !important; border-radius: 0px !important; border-radius: 5px !important;" (click)="addFieldValue()"> Add </button>
        </div>
    </div>
  </div>
                            
                            
  
  
                                  </div>
                                  
                                </div>
                                
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="d-flex align-items-center justify-content-between">
                                      <p class="org-in-text text-muted mb-0">
                                        <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">2</button>If there are any significant social or environmental concerns and/or risks arising from production or disposal of your products / services, as identified in the Life Cycle Perspective / Assessments (LCA) or through any other means, briefly describe the same along-with action taken to mitigate the same:
                                      </p>
                                      <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                        (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'If there are any significant social or environmental concerns and/or risks arising from production or disposal of your products / services, as identified in the Life Cycle Perspective / Assessments (LCA) or through any other means, briefly describe the same along-with action taken to mitigate the same:')">
                                        Evidence
                                        <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-12">
                                  <div class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                  <mat-select [formControlName]="'leaderda2'" (selectionChange)="ownershipandlegalfor6($event)" >
            
                                      <mat-option *ngFor="let c of filteredList" [value]="c.Name">
                      
                                          {{c.Name}}
                      
                                      </mat-option>
                      
                                  </mat-select>
                                  </div>
                                  <div *ngIf="dropinput6=='Yes'">
    <div class="col-xl-12 in-top "> 
    <div class="box-body table-responsive">
        
        <table id="datatable" class="table table-striped table-bordered " style="width:100%;     border: 2px solid #1c75bc;  margin-top: 15px;">
            <thead class="tableheader">
                <tr>
                    <th class="fptable">Name of Product / Service</th>
                    <th class="fptable">Description of the risk / concern</th>
                    <th class="fptable">Action Taken</th>
                    <th class="fptable">
            </tr>
          
            </thead>
            <tbody>
                <tr *ngFor="let tpt  of lookupdtl2x; let i=index" style="background-color: #fff !important;">
                  
                 
                  <td>
                      <div class="flex flex-col md:flex-row gap-4">
                        <input id="Labs3x{{i}}" class="form-control  fpinput-01"  [value]="tpt.Labs3x"  (change)="changeAssessments3x(i)"> 
                      </div>
                       </td>
                   
                      <td>
                        <div class="flex flex-col md:flex-row gap-4">
                            <input id="Remarks3x{{i}}" class="form-control  fpinput-01"  [value]="tpt.Remarks3x"   (change)="changeAssessments43x(i)"> </div>
                    </td>
                    <td>
                      <input id="Project3x{{i}}"     class="form-control fpinput-01" [value]="tpt.Project3x"  (change)="Turnoverper13x(i) "> 
                
                    </td>
                   
                    <td style="background-color: #fbfbfb !important;">
                      <button style="padding-top:17px" id="delete2x{{i}}" type="button" (click)="deleteQ102b1(i)"><i style="color:red" class="fa fa-trash" aria-hidden="true"></i></button>
                  </td>
                  
                </tr>
            </tbody>
        </table>
        
      </div>
      <div class="flex flex-col sm:flex-row justify-end ">
        <div class="flex items-center  sm:mt-0" style="float: right;">
            <button class="esg-back-btn btn dash-btn-1 btn-label order-first sm:order-last" mat-flat-button [color]="'primary'" style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important; background-color: #fff !important; border-radius: 0px !important; border-radius: 5px !important;" (click)="addFieldValue2x()"> Add </button>
        </div>
    </div>
  </div>
                            
                            
  
  
                                  </div>
                                  
                                </div>
  
  
  
  
  
  
  
  
                                
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="d-flex align-items-center justify-content-between">
                                      <p class="org-in-text text-muted mb-0">
                                        <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">3</button>Percentage of recycled or reused input material to total material (by value) used in  production (for manufacturing industry) or providing services (for service industry).
                                      </p>
                                      <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                        (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Percentage of recycled or reused input material to total material (by value) used in  production (for manufacturing industry) or providing services (for service industry)')">
                                        Evidence
                                        <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-12 in-top "> 
                                  <div class="box-body table-responsive">
                                      
                                      <table id="datatable" class="table table-striped table-bordered " style="width:100%;     border: 2px solid #1c75bc;  margin-top: 15px;">
                                          <thead class="tableheader">
                                              <tr>
                                                  <th class="fptable">Indicate input material</th>
                                                  <th class="fptable" colspan="2">Recycled or re-used input material to total material (in percent %)</th>
                                                  <th class="fptable">
                                
                                          </tr>
                                          <tr>
                                            <th></th>
                                            <th class="fptable">FY {{currentYear}}
                                              Current Financial Year </th>
                                              <th class="fptable">FY {{previousYear}}
                                                Previous Financial Year </th>
                                                <th class="fptable">
                                          </tr>
                                        
                                          </thead>
                                          <tbody>
                                              <tr *ngFor="let tpt  of lookupdtl3x; let i=index" style="background-color: #fff !important;">
                                                
                                               
                                                <td>
                                                    <div class="flex flex-col md:flex-row gap-4">
                                                      <input id="Labs4x{{i}}" class="form-control  fpinput-01"  [value]="tpt.Labs4x"  (change)="changeAssessments31x(i)"> 
                                                    </div>
                                                     </td>
                                                 
                                                    <td>
                                                      <div class="flex flex-col md:flex-row gap-4">
                                                          <input id="Remarks4x{{i}}" class="form-control  fpinput-01"style="text-align: right;"appPercentageDirective  [value]="tpt.Remarks4x"   (change)="changeAssessments431x(i)"> </div>
                                                  </td>
                                                  <td>
                                                    <input id="Project4x{{i}}"     class="form-control fpinput-01"style="text-align: right;" appPercentageDirective [value]="tpt.Project4x"  (change)="Turnoverper131x(i) "> 
                                              
                                                  </td>
                                                 
                                                  <td style="background-color: #fbfbfb !important;">
                                                    <button style="padding-top:17px" id="delete2x{{i}}" type="button" (click)="deleteQ102b2(i)"><i style="color:red" class="fa fa-trash" aria-hidden="true"></i></button>
                                                </td>
                                                
                                              </tr>
                                          </tbody>
                                      </table>
                                      
                                    </div>
                                    <div class="flex flex-col sm:flex-row justify-end ">
                                      <div class="flex items-center  sm:mt-0" style="float: right;">
                                          <button class="esg-back-btn btn dash-btn-1 btn-label order-first sm:order-last" mat-flat-button [color]="'primary'" style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important; background-color: #fff !important; border-radius: 0px !important; border-radius: 5px !important;" (click)="addFieldValue3x()"> Add </button>
                                      </div>
                                  </div>
                                </div>
  
  
  
                                
                                <div class="row">
                                  <div class="col-xl-12">
                                    <div class="d-flex align-items-center justify-content-between">
                                      <p class="org-in-text text-muted mb-0">
                                        <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">4</button>Of the products and packaging reclaimed at end of life of products, amount (in metric tonnes) reused, recycled, and safely disposed, as per the following format:
                                      </p>
                                      <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                        (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Of the products and packaging reclaimed at end of life of products, amount (in metric tonnes) reused, recycled, and safely disposed, as per the following format:')">
                                        Evidence
                                        <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-12">
                                  <div class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                  <mat-select [formControlName]="'glao4'" (selectionChange)="ownershipandlegalfor5($event)" >
            
                                      <mat-option *ngFor="let c of filteredList" [value]="c.Name">
                      
                                          {{c.Name}}
                      
                                      </mat-option>
                      
                                  </mat-select>
                                  </div>
                                  <div *ngIf="dropinput4=='Yes'">
                                    <div class="col-xl-12 in-top "> 
                                    <div class="box-body table-responsive">
                                        
                                        <table id="datatable" class="table table-striped table-bordered " [formControlName]="'Ifglao4'" style="width:100%;     border: 2px solid #1c75bc;  margin-top: 15px;">
                                            <thead class="tableheader">
                                                <tr>
                                                    <th class="fptable"></th>
                                                    <th class="fptable" colspan="3">FY {{currentYear}}
                                                      Current Financial Year</th>
                                                    <th class="fptable" colspan="3">FY {{previousYear}}
                                                      Previous Financial Year </th>
                                  
                                            </tr>
                                            <tr>
                                              <th class="fptable"></th>
                                              <th class="fptable">Re-Used (mt)</th>
                                              <th class="fptable">Recycled(mt)</th>
                                              <th class="fptable">Safely Disposed (mt)</th>
                                              <th class="fptable">Re-Used (mt)</th>
                                              <th class="fptable">Recycled(mt)</th>
                                              <th class="fptable">Safely Disposed(mt)</th>
  
                                            </tr>
                                          
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td style="text-align: center;">Plastics (including packaging)
                                                </td> 
                                                <td>
                                                  <input id="sixtysix" class="form-control" appIndiansystem formControlName="sixtysix" style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;width:80px;"  >
                                                </td>
                                                <td>
                                                  <input id="sixtyseven" class="form-control" formControlName="sixtyseven" style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;width:80px;" appIndiansystem>
                                                </td>
                                                <td>
                                                  <input id="sixtyeight"  class="form-control" appIndiansystem (keyup)="uwu1($event)" formControlName="sixtyeight" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                                <td>
                                                  <input id="sixtynine" class="form-control"  appIndiansystem formControlName="sixtynine" style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;width:80px;">
                                                </td>
                                                <td>
                                                  <input id="seventy" class="form-control" appIndiansystem formControlName="seventy" style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;width:80px;"  >
                                                </td>
                                                <td>
                                                  <input id="seventyone" class="form-control" appIndiansystem formControlName="seventyone" style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;width:80px;"  >
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="text-align: center;">E-waste
                                                </td>
                                                <td>
                                                  <input id="seventytwo" class="form-control" appIndiansystem formControlName="seventytwo" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                                <td>
                                                  <input id="seventythree" class="form-control" formControlName="seventythree" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;"  appIndiansystem>
                                                </td>
                                                <td>
                                                  <input id="seventyfour"  class="form-control" appIndiansystem (keyup)="uwu3($event)" formControlName="seventyfour" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                                <td>
                                                  <input id="seventyfive" class="form-control" appIndiansystem formControlName="seventyfive" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                                <td>
                                                  <input id="seventyten"  class="form-control" appIndiansystem (keyup)="uwu3($event)" formControlName="seventyten"  style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                                <td>
                                                  <input id="seventyten1" class="form-control" appIndiansystem formControlName="seventyten1" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="text-align: center;">Hazardous waste
                                                </td>
                                                <td>
                                                  <input id="seventysix" class="form-control" appIndiansystem formControlName="seventysix" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                                <td>
                                                  <input id="seventyseven" class="form-control" formControlName="seventyseven" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;"  appIndiansystem>
                                                </td>
                                                <td>
                                                  <input id="seventyeight"  class="form-control" appIndiansystem (keyup)="uwu3($event)" formControlName="seventyeight"  style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                                <td>
                                                  <input id="seventynine" class="form-control" appIndiansystem formControlName="seventynine" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                                <td>
                                                  <input id="seventyten2"  class="form-control" appIndiansystem (keyup)="uwu3($event)" formControlName="seventyten2" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                                <td>
                                                  <input id="seventyten3" class="form-control" appIndiansystem formControlName="seventyten3" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="text-align: center;">Other waste
                                                </td>
                                                <td>
                                                  <input id="eightytwo" class="form-control" appIndiansystem formControlName="eightytwo" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                                <td>
                                                  <input id="eightythree" class="form-control" formControlName="eightythree" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;"  appIndiansystem>
                                                </td>
                                                <td>
                                                  <input id="eightyfour"  class="form-control" appIndiansystem (keyup)="uwu3($event)" formControlName="eightyfour" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                                <td>
                                                  <input id="eightyfive" class="form-control" appIndiansystem formControlName="eightyfive" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                                <td>
                                                  <input id="eightysix"  class="form-control" appIndiansystem (keyup)="uwu3($event)" formControlName="eightysix"  style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                                <td>
                                                  <input id="eightyseven" class="form-control" appIndiansystem formControlName="eightyseven" style="height: 48px;width:80px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                                                </td>
                                              </tr>
                                            </tbody>
                                        </table>
                                        
                                      </div>
                                  
                                  </div>
                                                            
                                                            
                                  
                                  
                                                                  </div>
                                </div>
  
                              <div class="row">
                                <div class="col-xl-12">
                                  <div class="d-flex align-items-center justify-content-between">
                                    <p class="org-in-text text-muted mb-0">
                                      <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px;">5</button>Reclaimed products and their packaging materials (as percentage of products sold) for each product category.
                                    </p>
                                    <button type="button" class="btn btn-sm btn-outline" style="font-size: 13px; float: right"
                                      (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Reclaimed products and their packaging materials (as percentage of products sold) for each product category')">
                                      Evidence
                                      <i class="ri-file-upload-line" style="font-size: 12px"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xl-12">
                                <div class="new-control form-control fpinput-01 flex flex-col md:flex-row gap-4">
                                <mat-select [formControlName]="'glao3'" (selectionChange)="ownershipandlegalfor3($event)" >
          
                                    <mat-option *ngFor="let c of filteredList" [value]="c.Name">
                    
                                        {{c.Name}}
                    
                                    </mat-option>
                    
                                </mat-select>
                                </div>
                                <div *ngIf="dropinput1=='Yes'">
  <div class="col-xl-12 in-top "> 
  <div class="box-body table-responsive">
      
      <table id="datatable" class="table table-striped table-bordered " style="width:100%;     border: 2px solid #1c75bc;  margin-top: 15px;">
          <thead class="tableheader">
              <tr>
                  <th class="fptable">Indicate product category</th>
                  <th class="fptable">Reclaimed products and their packaging materials as % of total products sold in respective category</th>
                  <th class="fptable"></th>
          </tr>
        
          </thead>
          <tbody>
              <tr *ngFor="let tpt  of lookupdtl4x; let i=index" style="background-color: #fff !important;">
                
               
                <td>
                    <div class="flex flex-col md:flex-row gap-4">
                      <input id="Labs5x{{i}}" class="form-control  fpinput-01"  [value]="tpt.Labs5x"  (change)="changeAssessments4x(i)"> 
                    </div>
                     </td>
                 
                    <td>
                      <div class="flex flex-col md:flex-row gap-4">
                          <input id="Remarks5x{{i}}" class="form-control  fpinput-01" style="text-align: right;" [value]="tpt.Remarks5x" appPercentageDirective  (change)="changeAssessments4(i)"> </div>
                  </td>
                  <td style="background-color: #fbfbfb !important;">
                    <button style="padding-top:17px" id="delete2x{{i}}" type="button" (click)="deleteQ102b3(i)"><i style="color:red" class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
              </tr>
          </tbody>
      </table>
      
    </div>
    <div class="flex flex-col sm:flex-row justify-end ">
      <div class="flex items-center  sm:mt-0" style="float: right;">
          <button class="esg-back-btn btn dash-btn-1 btn-label order-first sm:order-last" mat-flat-button [color]="'primary'" style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important; background-color: #fff !important; border-radius: 0px !important; border-radius: 5px !important;" (click)="addFieldValue5x()"> Add </button>
      </div>
  </div>
  </div>
                          
                          
  
  
                                </div>
                                
                              </div>
                            </div>
                        </div>
                        <div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>

</div>

</div>





