<div class="flex flex-col max-w-600 md:min-w-160 max-h-screen -m-6">
  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
      style="background-color: #8cc540 !important;">
      <div class="text-lg " style="font-weight: 900;">Category 6:  Business Travel</div>
      <button mat-icon-button (click)="onClose()" [tabIndex]="-1">
          <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
      </button>
  </div>
  <form class="flex flex-col flex-auto p-6 sm:p-8" [formGroup]="scope3form">
    <div class="flex flex-col md:flex-row gap-4" >
      <mat-form-field class="flex flex-col flex-auto" >
        <mat-label>Choose Calculator</mat-label>
        <mat-select matInput [formControlName]="'DataType'" (selectionChange)="DataTypeChange($event.value)" >
          <mat-option value="hotel" style="color: #1978ac !important;">Hotel</mat-option>
          <mat-option value="rentalcars" style="color: #1978ac !important;">Rental Cars - Fuel based</mat-option>
          <mat-option value="businesstravel" style="color: #1978ac !important;">Business Travel</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
    
      <div class="col-xl-12 in-top overflow-y-auto" *ngIf="hotel">
        <div class="box-body table-responsive">
          <table id="datatable" class="table table-striped table-bordered" style="width:100%; border: 2px solid #1978ac; margin-top: 35px;">
            <thead class="tableheader">
              <tr>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 1.6rem;  border: 1px solid var(--border-color);">Stay Id</th>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 1.6rem;  border: 1px solid var(--border-color);">Rooms</th>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 1.6rem;  border: 1px solid var(--border-color);">Nights</th>
                <!-- <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Check In</th>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Check Out</th> -->
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Hotel Country</th>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Standard EF<br> (kgCO2e/room per night)</th>
                 <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                 padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">User-based EF<br> (kgCO2e/room per night)</th>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Total Emissions (tCO2e)</th>
                <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
                padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tpt of lookupdtl; let i=index">
                <td>
                  <input id="hottelname{{i}}"  class="form-control" [(ngModel)]="tpt.hottelname" style="height: 48px; border: 1px solid #1c75bc;text-align: right; ">
                </td>
                <td>
                  <input id="rooms{{i}}" class="form-control"  [(ngModel)]="tpt.rooms" type="number" style="height: 48px; border: 1px solid #1c75bc;text-align: right;">
                </td>
                <td>
                  <input id="nights{{i}}" class="form-control"  [(ngModel)]="tpt.nights" type="number" style="height: 48px; border: 1px solid #1c75bc;text-align: right;">
                </td>
                <!-- <td>
                  <input  type="date" id="Startdate{{i}}"  [value]="tpt.Startdate" (change)="Startdate(i)"style="height: 48px;  border: 1px solid #1c75bc; background-color: #fff;" >
              
                </td>
                <td>
                  <input  type="date" id="Enddate{{i}}"  [value]="tpt.Enddate" (change)="Enddate(i)" style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;">
              
                </td> -->
                <td> 
                  <mat-form-field class="flex flex-col min-w-50">                                                                         
                    <mat-select  id="hotelcountry{{i}}" (selectionChange)="countrydropdown($event.value, i)" [(ngModel)]="tpt.hotelcountry">
                        <input matInput placeholder="Search" (input)="countrydropdownsearch($event.target.value)" [matAutocomplete]="auto">
                      <mat-option *ngFor="let c of filteredList" [value]="c.Id">
                        <mat-autocomplete #auto (optionSelected)="onOptionSelected($event,i)">
                    </mat-autocomplete>
                    {{c.HotelCountry}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>                   
                </td>
                <td>
                  <input id="emissionfactor{{i}}" class="form-control" [value]="tpt.emissionfactor" readonly style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                </td>
                <td>
                  <input id="userbased{{i}}" class="form-control" [(ngModel)]="tpt.userbased" (keyup)="uuforhotel(i, $event)"  (keyup)="uuxff($event)" style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;" inputWithComma>
                </td>
                <td>
                  <input id="emissions{{i}}" class="form-control" [value]="tpt.emissions| number: '1.0-2'" readonly style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
                </td>
                <td>
                  <button style="padding-top:17px" id="delete{{i}}" type="button" (click)="deleteQ102a1(i)"><i
                          style="color:red" class="fa fa-trash" aria-hidden="true"></i></button>
              </td>
              </tr>
              <tr *ngIf="lookupdtl.length>0">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total Emission:</b></td>
                <td style="text-align: right;">{{sumtotal | number: '1.0-2'}} tCO2e</td>
            </tr>
            </tbody>
            
          </table>

          <style>
            .table-bordered > :not(caption) >    {
border-width: 0 0px;
}
          </style>

     
  </div>

  <div class="d-flex align-items-start gap-3 mt-4">
    <button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab"
        data-nexttab="pills-experience-tab" (click)="addFieldValue()" id="disableButton" style="padding-left: 2.9rem;
        padding-right: 45px;
    "> Add</button>

</div>
<div>
  Note:<br>
  1.	Hotel stay related emissions are calculated using DEFRA based emission factors which are country specific and depend on the number of nights each staff member stays in the hotel in a given reporting year.
</div>
  </div>
  <div class="col-xl-12 in-top overflow-y-auto" *ngIf="businesstravel">
    <div class="box-body table-responsive">
      <table id="datatable" class="table table-striped table-bordered" style="width:100%; border: 2px solid #1978ac; margin-top: 35px;">
        <thead class="tableheader">
          <tr>
            <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
            padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Trip Id</th>
            <!-- <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
            padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Date of Travel</th> -->
            <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
            padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Travel Type</th>
               <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
               padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Distance</th>
            <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
            padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Standard EF <br>(kgCO2e/km-mile)</th>
             <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
             padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">User-based EF<br>(kgCO2e/km-mile)</th>
            <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
            padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Total Emissions <br>(tCO2e)</th>
            <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
            padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tpt of lookupdtl1; let i=index">
            <td>
              <input id="tripid{{i}}"  class="form-control" [(ngModel)]="tpt.tripid" style="height: 48px; border: 1px solid #1c75bc; ">
            </td>
            <!-- <td>
              <input  type="date" id="dateoftravel{{i}}"  [value]="tpt.dateoftravel" style="height: 48px;  border: 1px solid #1c75bc; background-color: #fff;" >
          
            </td> -->
            <td> 
              <mat-form-field class="flex flex-col min-w-50">                                                                         
                <mat-select  id="travelty{{i}}" (selectionChange)="travelty($event.value, i)" [(ngModel)]="tpt.travelty">
                  <mat-option *ngFor="let c of busin" [value]="c.Id">
                {{c.TravelType}}
                  </mat-option>
                </mat-select>
              </mat-form-field>                   
            </td>
            <td>
              <input id="quantity{{i}}" class="form-control" [value]="tpt.quantity" inputWithComma (keyup)="qu1(i, $event)" style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;">
            </td>
            <td>
              <input id="emissionfactor{{i}}" class="form-control" [value]="tpt.emissionfactor" readonly style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
            </td>
            <td>
              <input id="userbased{{i}}" class="form-control" [value]="tpt.userbased" (keyup)="uu1(i, $event)" (keyup)="uuxff($event)" inputWithComma style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;">
            </td>
            <td>
              <input id="emissions{{i}}" class="form-control" [value]="tpt.emissions| number: '1.0-2'" readonly style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
            </td>
            <td>
              <button style="padding-top:17px" id="delete{{i}}" type="button" (click)="deleteQ102a3(i)"><i
                      style="color:red" class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
          </tr>
          <tr *ngIf="lookupdtl1.length>0">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>Total Emission:</b></td>
            <td style="text-align: right;">{{sumtotal1 | number: '1.0-2'}} tCO2e</td>
        </tr>
        </tbody>
        
      </table>

      <style>
        .table-bordered > :not(caption) >    {
border-width: 0 0px;
}
      </style>

 
</div>

<div class="d-flex align-items-start gap-3 mt-4">
<button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab"
    data-nexttab="pills-experience-tab" (click)="addFieldValue1()" id="disableButton" style="padding-left: 2.9rem;
    padding-right: 45px;
"> Add</button>

</div>
<div>
  Note:<br>
  1.	Travel data for rental cars includes fuel consumed by personal passenger cars operated by Budget & Avis.<br>
  2.	In order to calculate the final emissions, the fuel capacity is multiplied by the emission factors for the respective years.<br>
  3.	The standard emission factors are sourced from EPA.
</div>
</div>
<div class="col-xl-12 in-top overflow-y-auto" *ngIf="rentalcars">
  <div class="box-body table-responsive">
    <table id="datatable" class="table table-striped table-bordered" style="width:100%; border: 2px solid #1978ac; margin-top: 35px;">
      <thead class="tableheader">
        <tr>
          <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
          padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Trip Id</th>
          <!-- <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
          padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Date of Travel</th> -->
          <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
          padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Fuel Type</th>
             <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
             padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Quantity</th>
          <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
          padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Standard EF <br> (tCO2e/passenger-mile)</th>
           <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
           padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">User-based EF <br>(tCO2e/passenger-mile)</th>
          <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
          padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);">Total Emissions <br>(tCO2e)</th>
          <th style="text-align: center; font-size: 15px;       background-color: #1978ac; color: #fff;          white-space: nowrap;
          padding: 0.75rem 0.6rem;  border: 1px solid var(--border-color);"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tpt of lookupdtl2; let i=index">
          <td>
            <input id="tripid{{i}}"  class="form-control" [(ngModel)]="tpt.tripid" style="height: 48px; border: 1px solid #1c75bc; ">
          </td>
          <!-- <td>
            <input  type="date" id="dateoftravel{{i}}"  [value]="tpt.dateoftravel" style="height: 48px;  border: 1px solid #1c75bc; background-color: #fff;" >
        
          </td> -->
          <td> 
            <mat-form-field class="flex flex-col min-w-50">                                                                         
              <mat-select  id="fueltype{{i}}" (selectionChange)="fueldrop($event.value, i)" [(ngModel)]="tpt.fueltype">
                <mat-option *ngFor="let c of rental" [value]="c.Id">
              {{c.Fuel}}
                </mat-option>
              </mat-select>
            </mat-form-field>                   
          </td>
          <td>
            <input id="quantity{{i}}" class="form-control" [value]="tpt.quantity" inputWithComma (keyup)="qu(i, $event)" style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;">
          </td>
          <td>
            <input id="emissionfactor{{i}}" class="form-control" [value]="tpt.emissionfactor" readonly style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
          </td>
          <td>
            <input id="userbased{{i}}" class="form-control" [value]="tpt.userbased" (keyup)="uu(i, $event)" (keyup)="uuxff($event)" inputWithComma style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;">
          </td>
          <td>
            <input id="emissions{{i}}" class="form-control" [value]="tpt.emissions| number: '1.0-2'" readonly style="height: 48px; border: 1px solid #1c75bc; background-color: #fff;text-align: right;">
          </td>
          <td>
            <button style="padding-top:17px" id="delete{{i}}" type="button" (click)="deleteQ102a2(i)"><i
                    style="color:red" class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
        </tr>
        <tr *ngIf="lookupdtl2.length>0">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><b>Total Emission:</b></td>
          <td style="text-align: right;">{{sumtotal2 | number: '1.0-2'}} tCO2e</td>
      </tr>
      </tbody>
      
    </table>

    <style>
      .table-bordered > :not(caption) >    {
border-width: 0 0px;
}
    </style>


</div>

<div class="d-flex align-items-start gap-3 mt-4">
<button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab"
  data-nexttab="pills-experience-tab" (click)="addFieldValue2()" id="disableButton" style="padding-left: 2.9rem;
  padding-right: 45px;
"> Add</button>

</div>
<div>
  Note:<br>
  1.	Business travel category includes emissions from the transportation of employees for business related activities in vehicles owned or operated by third parties, such as aircraft, trains, buses and passenger cars.<br>
  2.	The total distance travelled by the passenger while using airways, railways or their personal cars are used for this calculation.<br>
  3.	The standard emission factors are sourced from EPA.
</div>
</div>

  <div class="flex flex-col sm:flex-row justify-end p-6 sm:p-8">
    <div class="flex items-center mt-4 sm:mt-0" style="margin: auto;">

       
        <button class="esg-back-btn btn dash-btn-1 btn-label order-first sm:order-last" mat-flat-button [color]="'primary'"
          style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important; background-color: #fff !important; border-radius: 0px !important; border-radius: 5px !important;"  (click)="onSave()">
            Submit
        </button>
    </div>
</div>

</div>