<div class="col-xl-12 page-content-1">
  <div class="container-fluid">
      <div class="row">
          <div class="col-xl-12">
              <div class="card-bro">
                  <div class="row mt-2">
                      <div class="col-xl-12">
                          <div class="card">
                              <div class="card-body">
                                  <div class="card-header">
                                      <div class="row pb-1">
                                          <div class="vi col-xl-2">
                                              <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                                  <div class="flex-grow-1">
                                                      <h4 class="fs-16 mb-1">{{reportname}}</h4>
                                                      <h6>{{reportstartdate | date:"dd-MMM-yyyy"}} to {{reportenddate | date:"dd-MMM-yyyy"}}</h6>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-10">
                                              <div style="text-align: center;">
                                                  <h3 style="color: #1c75bc; font-size: 25px;">Signoff REPORT</h3>
                                                  <h2 style="font-size: 15px;">Your report is completed, this is a preview of how the PDF report will look like and .</h2>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div><!-- end card-body -->
                          </div><!-- end card -->
                      </div><!-- end col -->
                  </div><!-- end row -->
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-12" style="margin: auto;">
              <div>
                  <div class="row mt-2">
                      <div class="col-xl-12">
                          <div class="row">
                              <div class="col-xl-12">
                                  <div class="card">
                                      <div class="card-body">
                                          <div class="row justify-content-left">
                                              <div class="col-lg-6">
                                                  <div class="scrollbar" id="style-3" style="margin-left: 0 !important;">
                                                      <div class="force-overflow">
                                                          <div class="frame-card-1 card">
                                                              <div class="row">
                                                                  <div class="col-md-12">
                                                                      <h3 class="scroll-heading" style="color: #1c75bc; font-size: 25px;text-align: center;text-decoration: underline;">Report View</h3>
                                                                      <div class="card-body" style="padding: 0rem !important;" id="pagenumber">
                                                                          <div class="text-center">
                                                                              <ng-container *ngComponentOutlet="dynamicComponent"></ng-container> 
                                                                               <ng-container *ngComponentOutlet="dynamicComponent1"></ng-container>
                                                                              <ng-container *ngComponentOutlet="generaldisclosure"></ng-container> 
                                                                              <ng-container *ngComponentOutlet="social"></ng-container>
                                                                                <ng-container *ngComponentOutlet="governence"></ng-container> 
                                                                                 <!-- <ng-container *ngComponentOutlet="environment"></ng-container>  -->
                                                                              <!-- <ng-container *ngComponentOutlet="social"></ng-container> -->
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                
                                                              </div>
                                                             
                                                          </div>
                                                      </div>
                                                  </div>

                                                 
                                                  
                                                  
                                                      
                                              


                                                      
                                                  
                                              </div><!-- end col -->

                                              <div class="col-md-6">
                                                  <h3 style="color: #1c75bc; font-size: 25px;text-align: center;text-decoration: underline;">Comments for Signing off Report</h3>
                                                  <textarea class="form-control" id="VertimeassageInput" formControlName="Messagefromceo" placeholder="Type your message here…"  style="height: 365px;"></textarea>
                                              </div>
                                          </div><!-- end row -->
                                          <div class="row">
                                              <div class="col-xl-6">
                                                  <button type="button" class="esg-prev-btn btn dash-btn-1 btn-label previestab" (click)="Approve()" data-previous="steparrow-gen-info-tab" style="float: right !important;     padding-left: 19px !important;">
                                                      <i class="  align-middle fs-16 me-2" ></i>Sign Off
                                                  </button>
                                              </div>
                                              <div class="col-xl-6">
                                                  <button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab" (click)="Reject()" data-nexttab="pills-experience-tab" style=" padding-right: 23px !important;">
                                                      <i class="  align-middle fs-16 ms-2"></i>Reject
                                                  </button>
                                      
                                              </div>
                                              
                                          </div>
                                      </div><!-- end card-body -->
                                  </div><!-- end card -->
                              </div><!-- end col -->
                          </div><!-- end row -->
                      </div><!-- end col -->
                  </div>
              </div>
          </div>
      </div>
  </div>
 
  <div class="col-xl-12 copyrt" style="z-index: 99; text-align: center; padding-left: 50px; padding-right: 50px; padding-bottom: 50px; font-size: 16px; border-top: 1px solid #e6e8f2;"></div>
</div>

