.logo-lg img {
    height: 70px;
}
.logout-home {
    margin-top: 30%;
}
.navbar-nav {
    margin-top: 30px;
}
.home-main {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.collaborators-card {
    margin-bottom: 18px;
    border: 3px solid black;
    border-image: linear-gradient(-45deg, #1c5258 0%, #04c7a9 25%, #164e55 50%, #04c7a9 100%);
    border-image-slice: 1;
    border-width: 3px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
}
.swiper-card {
    margin-bottom: 18px;
    border: 3px solid black;
    border-image: linear-gradient(-45deg, #1c5258 0%, #04c7a9 25%, #164e55 50%, #04c7a9 100%);
    border-image-slice: 1;
    border-width: 3px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
}
.report-card {


   
    padding: 20px 20px 40px ;
    border-radius: 20px;
    box-shadow:  inset 0px 0px 2px rgb(130, 130, 130), 0px 0px rgb(22 75 84), inset -3px -2px 0px 1px rgb(22 109 90);
}

.report-card:hover {
    background-image: linear-gradient(180deg, #166d5a, #164b54);
    border-radius: 20px !important;
    color: #fff !important;
    border-radius: 20px;
    box-shadow: inset 0px 0px 2px rgb(130 130 130), 0px 0px rgb(255, 255, 255), inset -3px -2px 0px 1px rgb(251, 248, 255);
}

.report-img-1 {
    border-radius: 20px !important;
}
.report-text::after {
    color: #fff;
}
.next-botton {
    margin-left: 25px;
    color: #fff;
    margin-top: 10px;
}
.trash-main {
    margin-left: 235px;
}
.trash-main  i{
   font-size: 25px;
   color: #fff;
   margin-top: 10px;
}
.report-view {
    background-image: linear-gradient(88deg, #1559a2, #229ddc);
    border-radius: 10px 10px 0px 0px;
}
.report-view-card {
    padding: 0px 0px 20px 0px;
    border-radius: 20px;
}
.report-title {
    color: #fff;
    margin-top: 10px;
    margin-left: 50px;
}
.swiper-wrapper {
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 30px;
}
.report-badge {
    margin-left: auto;
    font-size: 16px;
    margin-top: 0px;
}
.report-img {
    height: 50px;
    width: 50%;
    object-fit: contain;
    margin-left: -50px;
}
.report-botton a {
    padding: 10px 50px 10px 10px;
}
.rb-1 a {
    text-align: center;
    margin-left: 10px !important;
    padding: 5px 35px 5px 35px;
    font-size: 14px;
}
.rb-2 a {
    text-align: center;
    margin-left: 24px !important;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
}
.rb-3 a {
    text-align: center;
    margin-left: 10px !important;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
}
.rb-1 {
    margin-left: 43px;
}
/* .rb-2 {
    margin-left: 15px;
} */
.rb-3 {
    margin-left: 25px;
}
.report-images {
    padding-top: 15px;
    padding-bottom: 15px;
}
.rt-1 a {
    text-align: center;
}
.remove-btn {
    justify-content: center;
}
// .swiper-slide {
//     margin-left: 50px;
//     margin-right: 200px;
// }
.gri-img {
    height: 175px;
    width: 75%;
    object-fit: contain;
    margin-left: auto;
}
.framework {
    text-align: center;
    color: #fff;
}
.framework-card {
    padding: 25px;
    background-image: linear-gradient(180deg, #166d5a, #164b54);
    border-radius: 0px 0px 50px 50px !important;
}
.profile-card {
    background-color: #164b54;
    border-radius: 20px;
}
.uncompleted-card {
    padding-top: 10px;
}
.uncompleted-card-1 {
    padding-top: 25px;
}
.dash-flex {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}



.t-published {
    overflow-y: auto;
    height: 475px;
}

@media (max-width: 1399px) {
    .t-published {
        overflow-y: auto;
        height: 370px;
    }
 }

