<div class="container-fluid">
    <div style="padding-left:30px; padding-right: 30px; " >
        <div class="row"> 
            <div class="col-xl-12" >
                <div class="card" style="margin-top: 20px; margin-bottom: 10px !important;">
                    <div class="card-body">
                        <div class="" style="text-align: center;">
                            <h3 style="    color:#1c75bc;
                                font-size: 25px; ">Report Collaborators
                            </h3>
                         
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    
    </div>

<div style="padding-left:30px; padding-right: 30px; padding-bottom: 30px;" >
    <div class="card" style="margin-top: 20px; margin-bottom: 10px !important;">
        <div class="card-body t-published">
            <table  id="example" class="display" style="width:100%;" >
                <thead>
                    <tr style="background-color: #8cc540;">
                        <th style="color: #fff;">Framework</th>
                        <th style="color: #fff;">Report Name</th>
                        <th style="color: #fff;">Created By</th>
                        <th style="color: #fff;">Last Updated Date</th>
                        <th style="color: #fff;"> Updated By</th>
                        <th style="color: #fff;">Assign</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let o of reportbyid">
                        <td><img src="./assets/img/GRI logo@2x.png" alt="" class=" rounded-circle" style="width: 4rem;"></td>
                        <td>{{o.ReportName}}</td>
                        <td>{{o.Name}}</td>
                        <td>{{o.UpdatedDate |date:'MMM d, y'}}</td>
                        <td>{{o.UpdatedName}}</td>
                        <td>   <a   class="esg-back-btn btn dash-btn-1 btn dash-btn-5"(click)="opendi(o.ReportId,o.ReportName)" >Assign</a></td>
                    </tr>
                    </tbody>
            </table>
        </div>
    </div>  

   
</div>
</div>