<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h3 style="font-size:20px; color: #1c75bc;" class="text-center"> FAQ’s</h3>
        <mat-accordion>
           <mat-expansion-panel  class="mat-ac-pannel" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    What is meant by ESG?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>ESG stands for Environmental, Social, and Governance. Investors while making decisions not only think about financial factors but also consider non–financial factors for material risks and growth prospects.</p>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel  class="mat-ac-pannel" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    Who created ESG?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>The term ESG was popularly used first in a 2004 report titled “Who Cares Wins", which was a joint initiative of financial institutions at the invitation of the UN.</p>
             </mat-expansion-panel>
           </mat-accordion>
           <mat-accordion>
            <mat-expansion-panel class="mat-ac-pannel" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    What are the main pillars of ESG?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>The main pillars include People, Structure, Process, and Environmental Sustenance.</p>
               </mat-expansion-panel>
           </mat-accordion>
           <mat-accordion>
            <mat-expansion-panel  class="mat-ac-pannel" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    What benefits does ESG bring?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>For Businesses, it opens a pool of capital and promotes a stronger brand identity, and investors can enjoy the low–risk investments associated with an ESG–centric brand</p>
               </mat-expansion-panel>
           </mat-accordion>
           <mat-accordion>
            <mat-expansion-panel class="mat-ac-pannel" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    Who benefits from ESG?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>Using the ESG framework can bring tangible benefits to both businesses and investors.</p>
               </mat-expansion-panel>
           </mat-accordion>
           <mat-accordion>
            <mat-expansion-panel  class="mat-ac-pannel" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    How will ESG Reporting help a company?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>ESG is used to screen investments based on corporate policies and to encourage companies to act responsibly.</p>
               </mat-expansion-panel>
           </mat-accordion>
           <mat-accordion>
            <mat-expansion-panel class="mat-ac-pannel"  (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    How well are ESG Principles included in other sectors?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>Many mutual funds, brokerage firms, and roboadvisors now offer investment products that employ ESG principles.</p>
               </mat-expansion-panel>
           </mat-accordion>
           <mat-accordion>
            <mat-expansion-panel class="mat-ac-pannel" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    How ESG will help other portfolios?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>ESG can also help portfolios avoid holding companies engaged in risky or unethical practices are held accountable.</p>
               </mat-expansion-panel>
           </mat-accordion>
           <mat-accordion>
            <mat-expansion-panel class="mat-ac-pannel"  (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    What is the difference between CSR and ESG?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>They’re different angles of measuring the same thing – a company's impact on society. The main difference between CSR and ESG is that CSR is an internal initiative to fulfill a corporate purpose, while ESG reflects a company's external impact.</p>
               </mat-expansion-panel>
           </mat-accordion>
           <mat-accordion>
            <mat-expansion-panel class="mat-ac-pannel" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    Is ESG the same as green?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>ESG, on the other hand, is much more specific and data-driven. It is focused on three dimensions (environmental, social, and governance) rather than just going green or being a responsible steward.</p>
               </mat-expansion-panel>
           </mat-accordion>
           <mat-accordion>
            <mat-expansion-panel class="mat-ac-pannel" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    Is SDG the same as ESG?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>In short, SDGs are global goals set out by the United Nations, whereas ESG is a rating system used by companies to measure their environmental, social, and governance credentials, which matters to their stakeholders, particularly the investors.</p>
               </mat-expansion-panel>
           </mat-accordion>
           <mat-accordion>
            <mat-expansion-panel class="mat-ac-pannel" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    What are the different types of ESG Strategies?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>There are five primary strategies of ESG investing — exclusionary screening, positive screening, ESG integration, impact investing, and active ownership.</p>
              </mat-expansion-panel>
           </mat-accordion>
           <mat-accordion>
            <mat-expansion-panel class="mat-ac-pannel" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    What are material topics?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>Material topics are topics that represent an organization's most significant impacts on the economy, environment, and people, including impacts on their human rights.</p>
               </mat-expansion-panel>
           </mat-accordion>
           <mat-accordion>
            <mat-expansion-panel class="mat-ac-pannel" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    What are Sector Standards?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>The Sector Standards provide information for organizations about their likely material topics. The organization uses the Sector Standards that apply to its sectors when determining its material topics and when determining what to report for each material topic. </p>
             </mat-expansion-panel>
           </mat-accordion>
           <mat-accordion>
            <mat-expansion-panel class="mat-ac-pannel" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                    What are Topic Standards?
                 </mat-panel-title>
               </mat-expansion-panel-header>
               <p>The Topic Standards contain disclosures that the organization uses to report information about its impacts in relation to particular topics. The organization uses the Topic Standards according to the list of material topics it has determined using GRI 3.</p>
               </mat-expansion-panel>
           </mat-accordion>
        </div>
        </div>
