<div aria-label="pdf-page-3">
  <div >
  <div class="pagenumber">

    <div aria-label1="pdf-page-3">
      <ng-container *ngIf="((dynamicobj[19]?.gov301aQuestion1) || (dynamicobj[20]?.gov301bQuestion1) || (dynamicobj[21]?.gov302aQuestion1) || (dynamicobj[22]?.gov303aQuestion1) || (dynamicobj[22]?.gov303aQuestion2) || (dynamicobj[23]?.gov303bQuestion1))">

        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
              <div class="card">

                <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;">
                <div class="card-img-overlay p-0 d-flex flex-column">

                  <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">
                    <span class="float-end">{{reportname}}</span>
                    <!-- <h6 class="card-title mb-0" style="font-size: 25px; color: #1c75bc; margin-left: 35px; ">Metrics and
                        Disclosures </h6> -->
                  </div>
                
                  <div role="alert" class="general-alert alert alert-success alert-border-left fade show ng-star-inserted" style="background-color: #d4edda;"><i class="me-3 align-middle fs-16"></i><strong  style="font-size: 20px; color: #1c75bc;">Governance</strong></div>

                  <div  role="alert" class="general-alert alert alert-success-1 alert-border-left fade show" style="padding: 6px;"><li class="preview-d-text ng-star-inserted" style="list-style: none;"><h3><span class="pretext-1"></span>SGX 301 - Board Composition </h3></li></div>

                


                  <div class="fa-text jalsa card-header" *ngIf="dynamicobj[19]['gov301aQuestion1'] !=undefined">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 301 - 1 Board Independence</span> 
                    </h6>
                    </div>


                  
                    <div *ngIf="dynamicobj[19]['gov301aQuestion1'] !=undefined">
               <div class="fa-text jalsa card-header">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">301-1</span> Percentage of independent board members.
                    </h6>
                    </div>
                    <div class="fa-text-1 jalsa card-header ng-star-inserted">
                      <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[19]['gov301aQuestion1']}} &nbsp; % </h6>
                    </div>
                  </div>
                    


                    <div class="fa-text jalsa card-header" *ngIf="dynamicobj[20]['gov301bQuestion1'] !=undefined">
                      <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 301 - 2 Women on the board</span> 
                      </h6>
                      </div>
  
                      <div *ngIf="dynamicobj[20]['gov301bQuestion1'] !=undefined">
                 <div class="fa-text jalsa card-header">
                      <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">301-2</span> Percentage of women on the board.
                      </h6>
                      </div>
                      <div class="fa-text-1 jalsa card-header ng-star-inserted">
                        <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[20]['gov301bQuestion1']}} &nbsp; % </h6>
                      </div>
                    </div>

                      <div  role="alert" class="general-alert alert alert-success-1 alert-border-left fade show" style="padding: 6px;"><li class="preview-d-text ng-star-inserted" style="list-style: none;"><h3><span class="pretext-1"></span>SGX 302 - Management Diversity</h3></li></div>

                   

                      <div class="fa-text jalsa card-header" *ngIf="dynamicobj[21]['gov302aQuestion1'] !=undefined">
                        <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 302 - 1 Women in the management team</span> 
                        </h6>
                        </div>
             <div *ngIf="dynamicobj[21]['gov302aQuestion1'] !=undefined">
                   <div class="fa-text jalsa card-header">
                        <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">302-1</span> Percentage of women in the senior management team.
                        </h6>
                        </div>
                        <div class="fa-text-1 jalsa card-header ng-star-inserted">
                          <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[21]['gov302aQuestion1']}} &nbsp; % </h6>
                        </div>
                      </div>

                        <div  role="alert" class="general-alert alert alert-success-1 alert-border-left fade show" style="padding: 6px;"><li class="preview-d-text ng-star-inserted" style="list-style: none;"><h3><span class="pretext-1"></span>SGX 303 - Ethical Behaviour</h3></li></div>

                        <div class="fa-text jalsa card-header" *ngIf="dynamicobj[22]['gov303aQuestion1'] !=undefined">
                          <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 303 - 1 Anti-Corruption Disclosures</span> 
                          </h6>
                          </div>
                          
                     <div *ngIf="dynamicobj[22]['gov303aQuestion1'] !=undefined">
                     <div class="fa-text jalsa card-header">
                          <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">303-1a</span> Discussion of the anti-corruption standards that have been adopted.
                          </h6>
                          </div>
                          <div class="fa-text-1 jalsa card-header ng-star-inserted">
                            <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[22]['gov303aQuestion1']}} </h6>
                          </div>
                        </div>

                          <div *ngIf="((dynamicobj[22]['gov303aQuestion2'] !='') &&(dynamicobj[22]['gov303aQuestion2'] !=undefined))">
                        <div class="fa-text jalsa card-header">
                            <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">303-1b</span> Total number of anti-corruption standards adopted.
                            </h6>
                            </div>
                            <div class="fa-text-1 jalsa card-header ng-star-inserted">
                              <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[22]['gov303aQuestion2']}} &nbsp; </h6>
                            </div>
                          </div>
                            <!-- <div  role="alert" class="general-alert alert alert-success-1 alert-border-left fade show" style="padding: 6px;"><li class="preview-d-text ng-star-inserted" style="list-style: none;"><h3><span class="pretext-1"></span>SGX 303 - Ethical Behaviour</h3></li></div> -->

                          

                            <div class="fa-text jalsa card-header" *ngIf="dynamicobj[23]['gov303bQuestion1'] !=undefined">
                              <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 303 - 2 Anti-corruption training for employees</span> 
                              </h6>
                              </div>
                       <div *ngIf="dynamicobj[23]['gov303bQuestion1'] !=undefined">
                         <div class="fa-text jalsa card-header">
                              <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">303-2a</span> Number of employees that received anti-corruption training.
                              </h6>
                              </div>
                              <div class="fa-text-1 jalsa card-header ng-star-inserted">
                                <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[23]['gov303bQuestion1']}} </h6>
                              </div>
                            </div>
                           
                  
                </div>
                <footer class="footer sun col-xxl-12">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="">
                        <div class=" align-items-center d-flex">

                          <a style="display:flex;"><span class="mypower"
                              style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"
                              src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>

                          <h3 class="in-pages float-page" style="color: #000;
                                      margin-top: 0px;     margin-left: 50px;"></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>
              </div>

              <div style="page-break-before:always">&nbsp;</div>
            </div>
          </div>
        </div>

      </ng-container>
    </div>

    <div aria-label1="pdf-page-4">
      <ng-container *ngIf="((dynamicobj[23]['gov303bQuestion2'] !=undefined) || (dynamicobj[24]['gov304aQuestion1'] !=undefined) || (dynamicobj[25]['gov305aQuestion1'] !=undefined) || (dynamicobj[25]['gov305aQuestion2'] !=undefined) || (dynamicobj[26]['gov306aQuestion1'] !=undefined))">

        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
              <div class="card">

                <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;">
                <div class="card-img-overlay p-0 d-flex flex-column">

                  <div class="esg-head card-header" style="    background-color: rgba(0,0,0,.03);">
                    <span class="float-end">{{reportname}}</span>
                   
                  </div>
                
                  <div role="alert" class="general-alert alert alert-success alert-border-left fade show ng-star-inserted" style="background-color: #d4edda;"><i class="me-3 align-middle fs-16"></i><strong  style="font-size: 20px; color: #1c75bc;">Governance</strong></div>

                  <div *ngIf="dynamicobj[23]['gov303bQuestion2'] !=undefined">
                  <div class="fa-text jalsa card-header">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">303-2b</span> Percentage of employees that received anti-corruption training.
                    </h6>
                    </div>
                    
                    <div class="fa-text-1 jalsa card-header ng-star-inserted">
                      <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[23]['gov303bQuestion2']}} &nbsp; % </h6>
                    </div>
                  </div>

                  <div  role="alert" class="general-alert alert alert-success-1 alert-border-left fade show" style="padding: 6px;"><li class="preview-d-text ng-star-inserted" style="list-style: none;"><h3><span class="pretext-1"></span>SGX 304 - Certifications </h3></li></div>

                  


                  <div class="fa-text jalsa card-header" *ngIf="dynamicobj[24]['gov304aQuestion1'] !=undefined">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 304 - 1 List of relevant certifications</span> 
                    </h6>
                    </div>

                   <div *ngIf="dynamicobj[24]['gov304aQuestion1'] !=undefined">
               <div class="fa-text jalsa card-header">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">304-1</span> List of relevant certifications.
                    </h6>
                    </div>
                    <div class="fa-text-1 jalsa card-header ng-star-inserted">
                      <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[24]['gov304aQuestion1']}}  </h6>
                    </div>
                  </div>

                    <div  role="alert" class="general-alert alert alert-success-1 alert-border-left fade show" style="padding: 6px;"><li class="preview-d-text ng-star-inserted" style="list-style: none;"><h3><span class="pretext-1"></span>SGX 305 - Alignment with frameworks </h3></li></div>

                    <div class="fa-text jalsa card-header" *ngIf="dynamicobj[25]['gov305aQuestion1'] !=undefined">
                      <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 305 - 1 Alignment with frameworks and disclosure practices</span> 
                      </h6>
                      </div>

                  <div *ngIf="dynamicobj[25]['gov305aQuestion1'] !=undefined">
                 <div class="fa-text jalsa card-header">
                      <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">305-1a</span> All relevant frameworks.
                      </h6>
                      </div>
                      <div class="fa-text-1 jalsa card-header ng-star-inserted">
                        <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[25]['gov305aQuestion1']}} </h6>
                      </div>
                    </div>

                    <div *ngIf="dynamicobj[25]['gov305aQuestion2'] !=undefined">
                      <div class="fa-text jalsa card-header">
                        <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">305-1b</span> General description.
                        </h6>
                        </div>
                        <div class="fa-text-1 jalsa card-header ng-star-inserted">
                          <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[25]['gov305aQuestion2']}} </h6>
                        </div>
                      </div>



                    <div  role="alert" class="general-alert alert alert-success-1 alert-border-left fade show" style="padding: 6px;"><li class="preview-d-text ng-star-inserted" style="list-style: none;"><h3><span class="pretext-1"></span>SGX 306 - Assurance </h3></li></div>

                    <div class="fa-text jalsa card-header" *ngIf="dynamicobj[26]['gov306aQuestion1'] !=undefined">
                      <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">SGX 306 - 1 Assurance of sustainability report</span> 
                      </h6>
                      </div>

              <div *ngIf="dynamicobj[26]['gov306aQuestion1'] !=undefined">
                 <div class="fa-text jalsa card-header">
                      <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">306-1</span> Assurance of sustainability report.
                      </h6>
                      </div>
                      <div class="fa-text-1 jalsa card-header ng-star-inserted">
                        <h6 class="card-title mb-0 blockquote">{{this.dynamicobj[26]['gov306aQuestion1']}} </h6>
                      </div>
                    </div>
                  
                </div>
                <footer class="footer sun col-xxl-12">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="">
                        <div class=" align-items-center d-flex">

                          <a style="display:flex;"><span class="mypower"
                              style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"
                              src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>

                          <h3 class="in-pages float-page" style="color: #000;
                                      margin-top: 0px;     margin-left: 50px;"></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>
              </div>

              <div style="page-break-before:always">&nbsp;</div>
            </div>
          </div>
        </div>

      </ng-container>
    </div>

  </div>
 </div>
    </div>