.content{
    width: 100%;
    margin-top: 10px;
}

.thead  {
    color:black !important;
    background-color:#FCB713  !important;
  }

  th{
    color:black !important;
   
    padding: 10px;
    text-align: center;
  }
  td{
    padding: 10px;
    text-align: center;
  }


  .sticky-header {
    position: sticky !important;
    top: 0;
    z-index: 3  ;
    background-color: #FCB713;
  }
  
  
  .sticky-content {
    position: sticky !important;
  }
  