<div class="dash-flex  flex-auto items-center justify-center overflow-hidden">

   
    <div class="row dash-nft">
        <div class="col-xxl-12 col-xl-12 col-md-12">
            <div class="row mb-3 pb-1">
                <div class="col-12">
                    <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                        <div class="flex-grow-1">
                            <h3 class=" mb-1 head-1" style="color: #00276d;
                            font-size: 20px;">    {{msg}} {{name}} !</h3>
                           
                        </div>
                    
                    </div><!-- end card header -->
                </div>
                <!--end col-->
            </div>
            
           
            <div class="row">
                <div class="col-xl-3 col-md-6" [routerLink]="['/framework']">
                    <div class="card card-body report-card">
                        <div class="avatar-sm-1 mb-3">
                            <div class=" text-success fs-17 rounded">
                                <img src="./assets/img/main-report1.png" class="img-fluid w-20" alt="" >
                            </div>
                        </div>
                        <h4 class="card-title report-tl" > New Report</h4>
                    </div>
                </div>


                <div class="col-xl-3 col-md-6" [routerLink]="['/frameworkfortemplate']">
                    <div class="card card-body  report-card">
                        <div class="avatar-sm-1 mb-3">
                            <div class=" text-success fs-17 rounded">
                                <img src="./assets/img/template-1.png" class="img-fluid w-20" alt="" >
                            </div>
                        </div>
                        <h4 class="card-title  report-tl">  New Template</h4>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6" [routerLink]="['/universalmateriality']">
                    <div class="card card-body  report-card">
                        <div class="avatar-sm-1 mb-3">
                            <div class=" text-success fs-17 rounded">
                                <img src="./assets/img/materiality.png" class="img-fluid w-20" alt="" >
                            </div>
                        </div>
                        <h4 class="card-title  report-tl"> Universal Materiality</h4>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6" [routerLink]="['/esgbooklibrary']">
                    <div class="card card-body  report-card">
                        <div class="avatar-sm-1 mb-3">
                            <div class=" text-success fs-17 rounded">
                                <img src="./assets/img/lib-1.png" class="img-fluid w-20" alt="" >
                            </div>
                        </div>
                        <h4 class="card-title report-tl"> ESG Library</h4>
                    </div>
                </div>
            </div><!--end row-->

            <section>
                <div class="container-fluid">
                    <div class="row">

                        <div class="" style="text-align: left;">
                            <h3 style="    color: #00276d;
                                font-size: 20px;
margin-left: 8px; ">Frameworks
                            </h3>
                        
                        </div>



                        <div class="container">
                            <div class="row">
                              <div id="carousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                  <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                  <li data-target="#carousel" data-slide-to="1"></li>
                                </ol>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <div class="">
                                      <div class="slide-box">
                                        <div class="col-12 col-sm-6, col-md-6, col-lg-3 ">
                                            <div class="card nj-new gri-frame frame1">
                                                <div class="card-body nj-new-1">
                                                    <div class="table-responsive table-card1">
                                                        <img _ngcontent-rxj-c53="" src="./assets/img/gri1.png" alt="" class="w-30 img-fluid frame-image" style="margin-top: 20px; max-width: 40% !important;">
                                                    </div>
                                                </div>
                
                                                <div class="overlay" style="border-radius: 20px;">
                                                    <div class="text">Global Reporting Initiative is an independent, international organization that helps businesses and other organizations take responsibility for their impacts, by providing them with a global common language to communicate those impacts.</div>
                                                </div>
                                            </div>
                        
                                        </div>
                                        <div class="         col-12 col-sm-6, col-md-6, col-lg-3">
                                            <div class="card nj-new gri-frame frame1 ">
                                                <div class="card-body nj-new-1">
                                                    <div class="table-responsive table-card1">
                                                        <img _ngcontent-rxj-c53="" src="./assets/img/sasb1.png" alt="" class="w-30 img-fluid frame-image" style="margin-top: 20px; max-width: 40% !important;">
                                                    </div>
                                                </div>
                
                                                <div class="overlay" style="border-radius: 20px;">
                                                    <div class="text"> The Sustainability Accounting Standards Board (SASB) is an independent non-profit, which guides the disclosure of financially material sustainability information by companies to their investors. Available for 77 industries, the Standards identify the subset of environmental, social, and governance issues most relevant to financial performance in each industry.</div>
                                                </div>
                                            </div>
                        
                                        </div>
                                        <div class="         col-12 col-sm-6, col-md-6, col-lg-3">
                                            <div class="card nj-new gri-frame frame1 ">
                                                <div class="card-body nj-new-1">
                                                    <div class="table-responsive table-card1">
                                                        <img _ngcontent-rxj-c53="" src="./assets/img/tcfd01.png" alt="" class="w-30 img-fluid frame-image" style="margin-top: 50px; max-width: 50% !important;">
                                                    </div>
                                                </div>
                
                                                <div class="overlay" style="border-radius: 20px;">
                                                    <div class="text"> The Task Force on Climate-related Financial Disclosures (TCFD), is a guidance framework that helps companies disclose climate-related financial risks to investors, lenders, and insurers. TCFD recommendations are focused on governance, strategy, risk management, metrics, and targets.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="         col-12 col-sm-6, col-md-6, col-lg-3">
                                            <div class="card nj-new gri-frame frame1 ">
                                                <div class="card-body nj-new-1">
                                                    <div class="table-responsive table-card1">
                                                        <img _ngcontent-rxj-c53="" src="./assets/img/cdp1.png" alt="" class="w-30 img-fluid frame-image" style="margin-top: 20px; max-width: 40% !important;">
                                                    </div>
                                                </div>
                
                                                <div class="overlay" style="border-radius: 20px;">
                                                    <div class="text">The Carbon Disclosure Project is a not-for-profit charity that runs a global disclosure system for investors, companies, cities, states, and regions to manage their environmental impacts, by focusing on Energy Consumption, GHG Emissions, Power Generation, and Water data.</div>
                                                </div>
                                            </div>
                        
                                        </div>
                                       
                                      </div>
                                    </div>
                           
                                  </div>
                                  <div class="carousel-item">
                                    <div class="">
                                      <div class="slide-box">
                                        <div class="   col-12 col-sm-6, col-md-6, col-lg-3">
                                            <div class="card nj-new gri-frame frame1 ">
                                                <div class="card-body nj-new-1">
                                                    <div class="table-responsive table-card1">
                                                        <img _ngcontent-rxj-c53="" src="./assets/img/brsr.png" alt="" class="w-30 img-fluid frame-image" style="margin-top: 20px; max-width: 40% !important;">
                                                    </div>
                                                </div>
                
                                                <div class="overlay" style="border-radius: 20px;">
                                                    <div class="text">Business Responsibility and Sustainability Reporting has been made mandatory for the top 1,000 listed companies by market capitalization from FY 2022-23 onwards. BRSR lays considerable emphasis on quantifiable metrics, which will enable easier comparability across sectors and time periods.</div>
                                                </div>
                                            </div>
                        
                                        </div>

                                        <div class="   col-12 col-sm-6, col-md-6, col-lg-3">
                                            <div class="card nj-new gri-frame frame1 ">
                                                <div class="card-body nj-new-1">
                                                    <div class="table-responsive table-card1">
                                                        <img _ngcontent-rxj-c53="" src="./assets/img/sgx.png" alt="" class="w-30 img-fluid frame-image" style="margin-top: 20px; max-width: 40% !important;">
                                                    </div>
                                                </div>
                
                                                <div class="overlay" style="border-radius: 20px;">
                                                    <div class="text">The SGX ESG Framework encourages transparency and accountability, fostering responsible business behaviors that align with global sustainability goals. It facilitates businesses in navigating the intricacies of regional and global sustainability challenges while aligning with the specific needs of the Singaporean market.</div>
                                                </div>
                                            </div>
                        
                                        </div>



                                        
                        
                                    
                        
                                        <div class="col-12 col-sm-6, col-md-6, col-lg-3">

                                            <div class="card nj-new gri-frame frame1 ">
                                                <div class="card-body nj-new-1">
                                                    <div class="table-responsive table-card1">
                                                        <img _ngcontent-rxj-c53="" src="./assets/img/nasdaq.png" alt="" class="w-30 img-fluid frame-image" style="margin-top: 20px; max-width: 50% !important;">
                                                    </div>
                                                </div>
                
                                                <div class="overlay" style="border-radius: 20px;">
                                                    <div class="text">NASDAQ (National Association of Securities Dealers Automated Quotations) is part of a voluntary support program to help private and public companies navigate the</div>
                                                </div>
                                            </div>

                        
                                        </div> 
                                        <div class="col-12 col-sm-6, col-md-6, col-lg-3">

                                            <div class="card nj-new gri-frame frame1 ">
                                                <div class="card-body nj-new-1">
                                                    <div class="table-responsive table-card1">
                                                        <img _ngcontent-rxj-c53="" src="./assets/img/sdg.png" alt="" class="w-30 img-fluid frame-image" style="margin-top: 20px; max-width: 40% !important;">
                                                    </div>
                                                </div>
                
                                                <div class="overlay" style="border-radius: 20px;">
                                                    <div class="text">The United Nations Sustainable Development Goals (UNSDGs) are a set of 17 goals aimed at addressing global challenges and promoting sustainable development worldwide, including poverty eradication, education, gender equality, climate action, and sustainable cities, highlighting the interconnectedness of social, economic, and environmental issues.</div>
                                                </div>
                                            </div>

                                        </div>
                        
                                        <div class="col-12 col-sm-6, col-md-6, col-lg-3">
                                         
                        
                                        </div>
                                       
                                      </div>
                                    </div>
                               
                                  </div>
                                </div>
                                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: #000;
                                  border-radius: 5px;
                                  width: 30px;
                                  height: 36px;
                                  right: 170px;
                                  position: absolute;"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: #000;
                                  border-radius: 5px;
                                  width: 30px;
                                  height: 36px;
                                  left: 185px;
                                  position: absolute;"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
                            </div>
                          </div>
            
                        


                   

                    
                    </div>
                </div>
            </section>


        <!-- new changes -->
        

        <div class="container " style="max-width: 1400px;">
            
            <div class="row justify-content-start">
                
              <div class="col-xl-9">
                <div class="card" style="border: 2px groove #ebe6e6;">
                    <div class="card-body">
                    <h4 class="card-title mb-0 flex-grow-1" style="color: #00276d; padding-top: 20px; padding-left: 10px; font-size: 20px;">Calculated Carbon Emission</h4>
                    <hr>
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col mb-2" >
                        <div class="card" style="border: 2px groove #ebe6e6;">
                            <div class="card-body">
                                <h5 class="card-title">Total carbon emission</h5>
                                <div class="env">
                                <p class="card-text" style="width: 100%;">2.4 Gt</p>
                                
                                    <h6 class="card-text" style="width: 100%;">+2 T (1Y)</h6>
                                    <h6 class="card-text" style="width: 100%;">+0.05% (1Y)</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-2" >
                        <div class="card" style="border: 2px groove #ebe6e6;">
                            <div class="card-body">
                                <h5 class="card-title">Scope 1 carbon emission</h5>
                                <div class="env">
                                    <p class="card-text" style="width: 100%;">0.8 Gt</p>
                                    
                                        <h6 class="card-text" style="width: 100%;">-0.02 Gt  (1Y)</h6>
                                        <h6 class="card-text" style="width: 100%;">-3.23% (1Y)</h6>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-2" >
                        <div class="card" style="border: 2px groove #ebe6e6;">
                            <div class="card-body">
                                <h5 class="card-title">Scope 2 carbon emission</h5>
                                <div class="env">
                                    <p class="card-text" style="width: 100%;">0.6 Gt</p>
                                    
                                        <h6 class="card-text" style="width: 100%;">+0.05 Gt  (1Y)</h6>
                                        <h6 class="card-text" style="width: 100%;">+6.65% (1Y)</h6>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="card" style="border: 2px groove #ebe6e6; ">
                            <div class="card-body">
                                <button class="card-title">Scope 3 carbon emission</button>
                                <div class="env">
                                    <p class="card-text" style="width: 100%;">1.0 Gt</p>
                                    
                                        <h6 class="card-text" style="width: 100%;">+0.5 Gt  (1Y)</h6>
                                        <h6 class="card-text" style="width: 100%;">+5.26% (1Y)</h6>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
              </div>
            
            
              <div class="col-xl-3">
                <div class="card" style="border: 2px groove #ebe6e6;">
                <div  >
                        
                    <div class="card-body">
                        <h5 class="card-title">ESG Score</h5>
                        <hr>
                    
                        <div class="env">
                            <h5 class="card-title">Environment</h5>
                            <h6 style="width: 100%;text-align: right;">40</h6>
                        </div>
                        <progress class="card-title" style="width: 100%;" value="40" max="100"> 40% </progress>
                        
                        
                        <div class="env">
                            <h5 class="card-title">Social</h5>
                            <h6 style="width: 100%;text-align: right;">32</h6>
                        </div>
                        <progress  value="32" style="width: 100%;" max="100"> 32% </progress>

                        
                        <div class="env">
                            <h5 class="card-title">Governance</h5>
                            <h6 style="width: 100%;text-align: right;">20</h6>
                        </div>
                        <progress  value="20" style="width: 100%;" max="100"> 20% </progress>
                        
                        
                        <div class="env">
                            <h5 class="card-title" style="padding-top: 50px;">Total</h5>
                            <h6 style="width: 100%;text-align: right;padding-top: 50px;">92</h6>
                        </div>
                        <progress  value="92" style="width: 100%;" max="100"> 92% </progress>
                    
                    </div>
                        
                     
                    
                </div>
              </div>
            </div>
            </div>
        
          
          </div>
        
        
        





         <!-- new changes -->

       
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <div class="collaborators-card card ">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1" style="color: #00276d;
                            font-size: 20px;">Reports</h4>
                          
                            <div class="flex-shrink-0">
                                <button type="button" class="btn btn-soft-info btn-sm">
                                    <i class="ri-file-list-3-line align-middle"></i> Generate Report
                                </button>
                            </div>
                        </div><!-- end card header -->

                        <div class="card-body p-0">
                            <div class="table-responsive table-card">
                                <table class="table gri-newtable table-borderless table-centered align-middle table-nowrap mb-0">
                                    <thead class="text-muted table-light">
                                        <tr>
                                            <th scope="col">Report Name</th>
                                            <th scope="col">Framework</th>
                                            <th scope="col">Total Collaborators</th>
                                            <th scope="col">External Contributors</th>
                                       
                                            <th scope="col">Data completed by</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a  class="fw-medium link-primary"> TRST01 </a>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                            
                                                    <div class="flex-grow-1">GRI</div>
                                                </div>
                                            </td>
                                            <td style="text-align: center; font-size: 16px;">4</td>
                                            <td style="text-align: center; font-size: 16px;">
                                                <span class="text-success">0</span>
                                            </td>
                                          
                                            <td style="text-align: center; font-size: 16px;">
                                                <span class="badge badge-soft-success">1</span>
                                            </td>
                                           
                                        </tr><!-- end tr -->
                                        <tr>
                                          <td>
                                            <a  class="fw-medium link-primary"> TRST_BRSR </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                
                                                <div class="flex-grow-1">BRSR</div>
                                            </div>
                                        </td>
                                        <td style="text-align: center; font-size: 16px;">2</td>
                                        <td style="text-align: center; font-size: 16px;">
                                            <span class="text-success">0</span>
                                        </td>
                                            <td style="text-align: center; font-size: 16px;">
                                                <span class="badge badge-soft-warning">Pending</span>
                                            </td>
                                           
                                        </tr><!-- end tr -->
                                        <tr>
                                          <td>
                                            <a  class="fw-medium link-primary"> TRST_ESG </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                
                                                <div class="flex-grow-1">GRI</div>
                                            </div>
                                        </td>
                                        <td style="text-align: center; font-size: 16px;">3</td>
                                        <td style="text-align: center; font-size: 16px;">
                                            <span class="text-success">0</span>
                                        </td>
                                            <td style="text-align: center; font-size: 16px;">
                                                <span class="badge badge-soft-success">1</span>
                                            </td>
                                           
                                        </tr><!-- end tr -->
                                        <tr>
                                          <td>
                                            <a  class="fw-medium link-primary"> TRST01_ESG </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                
                                                <div class="flex-grow-1">GRI</div>
                                            </div>
                                        </td>
                                        <td style="text-align: center; font-size: 16px;">3</td>
                                        <td style="text-align: center; font-size: 16px;">
                                            <span class="text-success">0</span>
                                        </td>
                                            <td style="text-align: center; font-size: 16px;">
                                                <span class="badge badge-soft-danger">Uncompleted</span>
                                            </td>
                                           
                                        </tr><!-- end tr -->
                                        <tr>
                                          <td>
                                            <a  class="fw-medium link-primary"> TRST_Bharat </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                
                                                <div class="flex-grow-1">BRSR</div>
                                            </div>
                                        </td>
                                        <td style="text-align: center; font-size: 16px;">2</td>
                                        <td style="text-align: center; font-size: 16px;">
                                            <span class="text-success">0</span>
                                        </td>
                                            <td style="text-align: center; font-size: 16px;">
                                                <span class="badge badge-soft-success">1</span>
                                            </td>
                                            
                                        </tr><!-- end tr -->
                                    </tbody><!-- end tbody -->
                                </table><!-- end table -->
                            </div>
                        </div>
                    </div> <!-- .card-->
                </div> <!-- .col-->

                <!-- <div class="col-xxl-12 ">
                    <div class="swiper marketplace-swiper rounded gallery-light">
                     
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">

                   


                                <div class="row">
                                    <div class="col-sm-5" *ngFor="let o of reportbyid" >
                                      <div class=" card">


                                


                              
                                        
                                        
                                        <div class="card-body report-view-card">
                                            <div class="d-flex pt-2 pb-4 report-view">


                                                <div class="uncompleted-card-1 row    " >

                                                    <div class="remove-btn d-grid gap-2 d-md-flex">
                                                        <h5 class="report-title card-title">{{o.ReportName}}</h5>
                                                        
                                                        
        
                                                        <div class="next-botton">
                                                            </div>
                                                      </div>
        
                                                    
                                                         
                                               
                                                </div>

                                                
                                            </div>
                                         
                                            
                                        <div class="uncompleted-card row g-0">

                                            <div class="remove-btn d-grid gap-2 d-md-flex">
                                                <div class="report-img avatar-xs rounded-circle col-md-6">
                                                    <img src="./assets/img/GRI logo@2x.png" class="img-fluid rounded-start-1" alt="...">
                                                  </div>
                                                  <div class="col-md-6">
                                                    <div class="card-body">
                                                     <span class="report-badge badge badge-soft-danger">Uncompleted </span>
                                                    </div>
                                                  </div>
                                        
                                            </div>


                                         
                                        </div>
                                            <div class="uncompleted-card-1 row    " >

                                                <div class="remove-btn d-grid gap-2 d-md-flex">
                                                     
                                                      <div class="star-col col-sm-3"><a   class="btn dash-btn-1" (click)="navigatetoselect(o.Id)">Update</a></div> 
                                                      <div class="star-col-1  col-sm-3"><a   class="btn dash-btn-1" (click)="remove(o.Id)">Remove</a></div> 
                                              
                                                  </div>

                                                
                                                     
                                           
                                            </div>
                                          
                                        </div>
                                      </div>
                                    </div>


         


                                  </div>
                            </div>



                      
                           
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div> -->


           
        </div><!--end col-->



        

        <!--<div class="col-xxl-2 col-xl-2 col-md-2">
      

            <div class="card">
                <div class="framework-card card-header d-flex align-items-center">
                    <h6 class="framework card-title mb-0 flex-grow-1">Frameworks</h6>
                   
                </div>
                <div class="card-body">
                    <div class="table-responsive table-card">
                        <img _ngcontent-rxj-c53="" src="./assets/img/GRI logo@2x.png" alt="" class="gri-img avatar-xs rounded-circle">

                    </div>
                </div>
            </div>
        </div>--><!--end col-->
    </div>
</div>
