


  
  
  
  
.sticky-header {
  position: sticky;
  top:0;
 
}
 

.ng-autocomplete {
  width:100%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
  
  
}
.hide {
  display: none !important;
}

.custom-form-field {
  width: 100%;
}

.custom-input {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
}

.custom-select {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
}

