
// Do not add padding-left to the first column
.mat-column-Edit {
    width: 8%;
    padding-right: 5px !important;
}

.mat-column-Code {
    width: 10%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}

.mat-column-Name {
    width: 15%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}

.mat-column-ViewYN {
    width: 8%;
    padding: 0px 5px !important;
}

.mat-column-CreatedDate {
    width: 10%;
    padding: 0px 5px !important;
}

.mat-column-CreatedByUser {
    width: 18%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}

.mat-column-UpdatedDate {
    width: 10%;
    padding: 0px 5px !important;
}

// Do not add padding-right to the last column
.mat-column-UpdatedByUser {
    width: 20%;
    padding-left: 5px !important;
    word-wrap: break-word;
}
