<div class="mx-n3" >
  <div data-simplebar data-simplebar-auto-hide="false" data-simplebar-track="success" style="max-height: 330px;" #scroll>
      <ul class="list-group list-group-flush">
          <li class="hero-line list-group-item py-3">
              <div class="row">

                <div    class="row" *ngIf="envi1">
                  <form [formGroup]="envform">
                <div class="col-xxl-12">
                      <div class="card" style="margin-right: -20px; margin-top: 30px;">
                          <div class="card-body">
                              <div id="contact-existing-list" >
                                  <div class="row mb-2" >


                                    <h3 class="sub-text" style="text-align: center;">SGX 101 - Greenhouse Gases</h3>

                                    <div class="col-xxl-12 accordion custom-accordionwithicon custom-accordion-border accordion-border-box accordion-secondary"
                                    id="accordionBordered" style="margin-top: 25px;" #containerrow>
                                    <div class="row accordion-item " data-toggle="collapse"
                                        href="#multiCollapseExample1">
                                        <h2 class="accordion-header new-guidance-1"
                                            id="accordionborderedExample1">
                                            <button class="accordion new-guidance" role="button"
                                                aria-expanded="false"
                                                aria-controls="multiCollapseExample1"
                                                (click)="isExpand =!isExpand">
                                                Reporting Guidance

                                                <i class="bx bx-down-arrow-alt"
                                                    style="margin-left: 600px;" *ngIf="isExpand"
                                                    data-toggle="collapse"
                                                    href="#multiCollapseExample1"></i>
                                                <i class="bx bx-right-arrow-alt"
                                                    style="margin-left: 600px;" *ngIf="!isExpand"
                                                    data-toggle="collapse"
                                                    href="#multiCollapseExample1"></i>

                                            </button>


                                        </h2>
                                    </div>
                                    <div #element class="collapse multi-collapse"
                                    id="multiCollapseExample1">
                                    <div class="accordion-body"
                                        style="    box-shadow: 0 8px 20px -2px rgb(158 152 153 / 50%);">
                                        <table class="table" style="text-align: left;">
                                            <tbody>
                                                    <tr>
                                                        <th>{{guidance}}</th>
                                                        <td
                                                        [innerHTML]="description.split('\r\n').join('<br>')">
                                                    </td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                                </div> 



                                  <div class="card-footer">
                                    <div class="row">
                                      <div class="col-xl-12">
                                        <p
                                            class="org-in-text text-muted mb-0">
                                            <button type="button"
                                                class="btn btn-sm btn-outline"
                                                style="font-size: 13px;"
                                                (click)="scrollTop()">101-1</button>
                                              <b>Absolute emissions</b></p>
                                    </div>
                                      <div class="col-xl-12">
                                        <p
                                            class="org-in-text text-muted mb-0">
                                            <button type="button"
                                                class="btn btn-sm btn-outline"
                                                style="font-size: 13px;"
                                                (click)="scrollTop()">101-1A</button>
                                                Total GHG Emissions</p>
                                                <button type="button"
                                                class="btn btn-sm btn-outline"
                                                style="font-size: 13px; float: right"
                                                (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Total GHG Emissions')">
                                                Evidence
                                                <i class="ri-file-upload-line"
                                                    style="font-size: 12px"></i>
                                            </button>
                                    </div>
                             
                                    <div class="row">
                                      <div class="col-xl-6">
                                        <input
                                        class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                        id="meassageInput"
                                         readonly
                                        inputWithComma max="1"
                                        placeholder=""
                                        formControlName="Dghgemi1">
                                      </div>
                                      <div class="col-xl-3"
                                          style="margin:auto">
                                          tCO2e
                                      </div>
                                      <div class="col-xl-3"
                                          style="margin:auto">
                                          <button type="button"
                                              class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                              (click)="calculateAllscopeSum()"
                                              data-nexttab="pills-experience-tab"
                                              style="font-size:16px">Sum</button>
                                      </div>
                                  </div>
                                        

                                 

                                     

                                  
                                    </div>
                                </div>



                                <div class="card-footer">
                                  <div class="row">

                                    <div class="col-xl-12">
                                      <p
                                          class="org-in-text text-muted mb-0">
                                          <button type="button"
                                              class="btn btn-sm btn-outline"
                                              style="font-size: 13px;"
                                              (click)="scrollTop()">101-1B-1</button>
                                              Scope 1 Emissions</p>
                                              <button type="button"
                                              class="btn btn-sm btn-outline"
                                              style="font-size: 13px; float: right"
                                              (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Scope 1 Emissions')">
                                              Evidence
                                              <i class="ri-file-upload-line"
                                                  style="font-size: 12px"></i>
                                          </button>
                                    
                                  </div>
                           
                                      <div class="col-xl-10">
                                        <div class="input-group">
                                          <input
                                              class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                              id="meassageInput"
                                              
                                              inputWithComma max="1"
                                              placeholder=""
                                              formControlName="Dghgemi2">
                                          <div
                                              class="input-group-append">
                                              <span
                                                  class="input-group-text"
                                                  style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                                          </div>
                                      </div>
                                      </div>
                                      

                                      <div class="col-md-2">
                                        <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                                            <button type="button"
                                                class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                                (click)="openghemiicalc(data)"
                                                data-nexttab="pills-experience-tab"
                                                style="font-size:16px">
                                                <i class="fa fa-calculator"
                                                    style="font-size:16px"></i></button>
                                        </div>

                                      </div>

                                   

                                
                                  </div>
                              </div>


                              <div class="card-footer">
                                <div class="row">

                                  <div class="col-xl-12">
                                    <p
                                        class="org-in-text text-muted mb-0">
                                        <button type="button"
                                            class="btn btn-sm btn-outline"
                                            style="font-size: 13px;"
                                            (click)="scrollTop()">101-1B-2-A</button>
                                            Scope 2 Emissions(Location Based)</p>
                                            <button type="button"
                                            class="btn btn-sm btn-outline"
                                            style="font-size: 13px; float: right"
                                            (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Scope 2 Emissions(Location Based)')">
                                            Evidence
                                            <i class="ri-file-upload-line"
                                                style="font-size: 12px"></i>
                                        </button>
                                  
                                </div>
                         
                                    <div class="col-xl-10">
                                      <div class="input-group">
                                        <input
                                            class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                            id="meassageInput"
                                           
                                            inputWithComma max="1"
                                            placeholder=""
                                            formControlName="Dghgemi22">
                                        <div
                                            class="input-group-append">
                                            <span
                                                class="input-group-text"
                                                style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                                        </div>
                                    </div>
                                    </div>
                                    

                                    <div class="col-md-2">
                                      <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                                          <button type="button"
                                              class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                              (click)="openelectriccalculator(data)"
                                              data-nexttab="pills-experience-tab"
                                              style="font-size:16px">
                                              <i class="fa fa-calculator"
                                                  style="font-size:16px"></i></button>
                                      </div>

                                    </div>

                                 

                              
                                </div>
                                <div class="row">

                                  <div class="col-xl-12">
                                    <p
                                        class="org-in-text text-muted mb-0">
                                        <button type="button"
                                            class="btn btn-sm btn-outline"
                                            style="font-size: 13px;"
                                            (click)="scrollTop()">101-1B-2-B</button>
                                            Scope 2 Emissions(Market Based)</p>
                                            <button type="button"
                                            class="btn btn-sm btn-outline"
                                            style="font-size: 13px; float: right"
                                            (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Scope 2 Emissions(Market Based)')">
                                            Evidence
                                            <i class="ri-file-upload-line"
                                                style="font-size: 12px"></i>
                                        </button>
                                  
                                </div>
                         
                                    <div class="col-xl-10">
                                      <div class="input-group">
                                        <input
                                            class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                            id="meassageInput"
                                           
                                            inputWithComma max="1"
                                            placeholder=""
                                            formControlName="Dghgemi3"
                          >
                                        <div
                                            class="input-group-append">
                                            <span
                                                class="input-group-text"
                                                style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                                        </div>
                                    </div>
                                    </div>
                                    

                                    <div class="col-md-2">
                                      <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                                          <button type="button"
                                              class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                              (click)="openelectriccalculator1(data)"
                                              data-nexttab="pills-experience-tab"
                                              style="font-size:16px">
                                              <i class="fa fa-calculator"
                                                  style="font-size:16px"></i></button>
                                      </div>

                                    </div>

                                 

                              
                                </div>
                            </div>


                            <div class="card-footer">
                              <div class="row">

                                <div class="col-xl-12">
                                  <p
                                      class="org-in-text text-muted mb-0">
                                      <button type="button"
                                          class="btn btn-sm btn-outline"
                                          style="font-size: 13px;"
                                          (click)="scrollTop()">101-1c</button>
                                          Total Scope 3 Emissions</p>
                                          <button type="button"
                                          class="btn btn-sm btn-outline"
                                          style="font-size: 13px; float: right"
                                          (click)="openuploadimgcompo(this.reportid,this.codeval,this.orgId,'Total Scope 3 Emissions')">
                                          Evidence
                                          <i class="ri-file-upload-line"
                                              style="font-size: 12px"></i>
                                      </button>
                                
                              </div>
                       
                              <div class="row">
                                <div class="col-xl-6">
                                  <input
                                  class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                  id="meassageInput"
                                  
                                  inputWithComma max="1"
                                  placeholder=""
                                  formControlName="Dghgemi4" 
                >
                                </div>
                                <div class="col-xl-3"
                                    style="margin:auto">
                                    tCO2e
                                </div>
                                <div class="col-xl-3"
                                    style="margin:auto">
                                    <button type="button"
                                        class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                        (click)="calculateAllSum()"
                                        data-nexttab="pills-experience-tab"
                                        style="font-size:16px">Sum</button>
                                </div>
                            </div>
                                  

                           


                                  <h3  class="sub-text" style="text-align: center;">Upstream categories</h3>



                                  <div class="card-footer">
                                    <div class="row">
  
                                      <div class="col-xl-12">
                                        <p
                                            class="org-in-text text-muted mb-0">
                                         
                                            Purchased goods and services</p>
                                      
                                    </div>
                             
                                        <div class="col-xl-10">
                                          <div class="input-group">
                                            <input
                                                class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                                id="meassageInput"
                                        
                                                inputWithComma max="1"
                                                placeholder=""
                                                formControlName="Dghgemi5" 
                              >
                                            <div
                                                class="input-group-append">
                                                <span
                                                    class="input-group-text"
                                                    style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                                            </div>
                                        </div>
                                        </div>
                                        
  
                                        <div class="col-md-2">
                                          <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                                              <button type="button"
                                                  class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                                  (click)="openscope3calculators1(data)"
                                                  data-nexttab="pills-experience-tab"
                                                  style="font-size:16px">
                                                  <i class="fa fa-calculator"
                                                      style="font-size:16px"></i></button>
                                          </div>
  
                                        </div>
  
                                     
  
                                  
                                    </div>
                                </div>


                                <div class="card-footer">
                                  <div class="row">

                                    <div class="col-xl-12">
                                      <p
                                          class="org-in-text text-muted mb-0">
                                       
                                          Capital goods</p>
                                    
                                  </div>
                           
                                      <div class="col-xl-10">
                                        <div class="input-group">
                                          <input
                                              class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                              id="meassageInput"
                                           
                                              inputWithComma max="1"
                                              placeholder=""
                                              formControlName="Dghgemi6" 
                            >
                                          <div
                                              class="input-group-append">
                                              <span
                                                  class="input-group-text"
                                                  style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                                          </div>
                                      </div>
                                      </div>
                                      

                                      <div class="col-md-2">
                                        <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                                            <button type="button"
                                                class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                                (click)="openscope3calculators2(data)"
                                                data-nexttab="pills-experience-tab"
                                                style="font-size:16px">
                                                <i class="fa fa-calculator"
                                                    style="font-size:16px"></i></button>
                                        </div>

                                      </div>

                                   

                                
                                  </div>
                              </div>

                              <div class="card-footer">
                                <div class="row">

                                  <div class="col-xl-12">
                                    <p
                                        class="org-in-text text-muted mb-0">
                                     
                                        Fuel- and energy-related activities (not included in Scope 1 or Scope 2)</p>
                                  
                                </div>
                         
                                    <div class="col-xl-10">
                                      <div class="input-group">
                                        <input
                                            class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                            id="meassageInput"
                                        
                                            inputWithComma max="1"
                                            placeholder=""
                                            formControlName="Dghgemi7" 
                          >
                                        <div
                                            class="input-group-append">
                                            <span
                                                class="input-group-text"
                                                style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                                        </div>
                                    </div>
                                    </div>
                                    

                                    <div class="col-md-2">
                                      <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                                          <button type="button"
                                              class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                              (click)="openscope3calculators3(data)"
                                              data-nexttab="pills-experience-tab"
                                              style="font-size:16px">
                                              <i class="fa fa-calculator"
                                                  style="font-size:16px"></i></button>
                                      </div>

                                    </div>

                                 

                              
                                </div>
                            </div>


                            <div class="card-footer">
                              <div class="row">

                                <div class="col-xl-12">
                                  <p
                                      class="org-in-text text-muted mb-0">
                                   
                                      Upstream transportation and distribution</p>
                                
                              </div>
                       
                                  <div class="col-xl-10">
                                    <div class="input-group">
                                      <input
                                          class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                          id="meassageInput"
                                        
                                          inputWithComma max="1"
                                          placeholder=""
                                          formControlName="Dghgemi8" 
                        >
                                      <div
                                          class="input-group-append">
                                          <span
                                              class="input-group-text"
                                              style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                                      </div>
                                  </div>
                                  </div>
                                  

                                  <div class="col-md-2">
                                    <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                                        <button type="button"
                                            class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                            (click)="openscope3calculators4(data)"
                                            data-nexttab="pills-experience-tab"
                                            style="font-size:16px">
                                            <i class="fa fa-calculator"
                                                style="font-size:16px"></i></button>
                                    </div>

                                  </div>

                               

                            
                              </div>
                          </div>


                          <div class="card-footer">
                            <div class="row">

                              <div class="col-xl-12">
                                <p
                                    class="org-in-text text-muted mb-0">
                                 
                                    Waste generated in operations</p>
                              
                            </div>
                     
                                <div class="col-xl-10">
                                  <div class="input-group">
                                    <input
                                        class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                        id="meassageInput"
                                    
                                        inputWithComma max="1"
                                        placeholder=""
                                        formControlName="Dghgemi9" 
                      >
                                    <div
                                        class="input-group-append">
                                        <span
                                            class="input-group-text"
                                            style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                                    </div>
                                </div>
                                </div>
                                

                                <div class="col-md-2">
                                  <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                                      <button type="button"
                                          class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                          (click)="openscope3calculators5(data)"
                                          data-nexttab="pills-experience-tab"
                                          style="font-size:16px">
                                          <i class="fa fa-calculator"
                                              style="font-size:16px"></i></button>
                                  </div>

                                </div>

                             

                          
                            </div>
                        </div>

                        <div class="card-footer">
                          <div class="row">

                            <div class="col-xl-12">
                              <p
                                  class="org-in-text text-muted mb-0">
                               
                                  Business travel</p>
                            
                          </div>
                   
                              <div class="col-xl-10">
                                <div class="input-group">
                                  <input
                                      class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                      id="meassageInput"
                              
                                      inputWithComma max="1"
                                      placeholder=""
                                      formControlName="Dghgemi10" 
                    >
                                  <div
                                      class="input-group-append">
                                      <span
                                          class="input-group-text"
                                          style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                                  </div>
                              </div>
                              </div>
                              

                              <div class="col-md-2">
                                <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                                    <button type="button"
                                        class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                        (click)="openscope3calculators6(data)"
                                        data-nexttab="pills-experience-tab"
                                        style="font-size:16px">
                                        <i class="fa fa-calculator"
                                            style="font-size:16px"></i></button>
                                </div>

                              </div>

                           

                        
                          </div>
                      </div>

                      <div class="card-footer">
                        <div class="row">

                          <div class="col-xl-12">
                            <p
                                class="org-in-text text-muted mb-0">
                             
                                Employee commuting</p>
                          
                        </div>
                 
                            <div class="col-xl-10">
                              <div class="input-group">
                                <input
                                    class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                    id="meassageInput"
                               
                                    inputWithComma max="1"
                                    placeholder=""
                                    formControlName="Dghgemi11" 
                  >
                                <div
                                    class="input-group-append">
                                    <span
                                        class="input-group-text"
                                        style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                                </div>
                            </div>
                            </div>
                            

                            <div class="col-md-2">
                              <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                                  <button type="button"
                                      class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                      (click)="openscope3calculators7(data)"
                                      data-nexttab="pills-experience-tab"
                                      style="font-size:16px">
                                      <i class="fa fa-calculator"
                                          style="font-size:16px"></i></button>
                              </div>

                            </div>

                         

                      
                        </div>
                    </div>


                    
                    <div class="card-footer">
                      <div class="row">

                        <div class="col-xl-12">
                          <p
                              class="org-in-text text-muted mb-0">
                           
                              Upstream leased assets </p>
                        
                      </div>
               
                          <div class="col-xl-10">
                            <div class="input-group">
                              <input
                                  class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                  id="meassageInput"
                             
                                  inputWithComma max="1"
                                  placeholder=""
                                  formControlName="Dghgemi12" 
                >
                              <div
                                  class="input-group-append">
                                  <span
                                      class="input-group-text"
                                      style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                              </div>
                          </div>
                          </div>
                          

                          <div class="col-md-2">
                            <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                                <button type="button"
                                    class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                    (click)="openscope3calculators8(data)"
                                    data-nexttab="pills-experience-tab"
                                    style="font-size:16px">
                                    <i class="fa fa-calculator"
                                        style="font-size:16px"></i></button>
                            </div>

                          </div>

                       

                    
                      </div>
                  </div>


                  <div class="card-footer">
                    <div class="row">

                      <div class="col-xl-12">
                        <p
                            class="org-in-text text-muted mb-0">
                         
                            Other upstream </p>
                      
                    </div>
             
                        <div class="col-xl-10">
                          <div class="input-group">
                            <input
                                class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                                id="meassageInput"
                        
                                inputWithComma max="1"
                                placeholder=""
                                formControlName="Dghgemi13" 
              >
                            <div
                                class="input-group-append">
                                <span
                                    class="input-group-text"
                                    style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                            </div>
                        </div>
                        </div>
                        

                     

                     

                  
                    </div>
                </div>


                <h3  class="sub-text">Downstream categories</h3>


                <div class="card-footer">
                  <div class="row">

                    <div class="col-xl-12">
                      <p
                          class="org-in-text text-muted mb-0">
                       
                          Downstream transportation and distribution </p>
                    
                  </div>
           
                      <div class="col-xl-10">
                        <div class="input-group">
                          <input
                              class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                              id="meassageInput"
                           
                              inputWithComma max="1"
                              placeholder=""
                              formControlName="Dghgemi14" 
            >
                          <div
                              class="input-group-append">
                              <span
                                  class="input-group-text"
                                  style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                          </div>
                      </div>
                      </div>
                      

                      <div class="col-md-2">
                        <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                            <button type="button"
                                class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                                (click)="openscope3calculators10(data)"
                                data-nexttab="pills-experience-tab"
                                style="font-size:16px">
                                <i class="fa fa-calculator"
                                    style="font-size:16px"></i></button>
                        </div>

                      </div>

                   

                
                  </div>
              </div>


              <div class="card-footer">
                <div class="row">

                  <div class="col-xl-12">
                    <p
                        class="org-in-text text-muted mb-0">
                     
                        Processing of sold products </p>
                  
                </div>
         
                    <div class="col-xl-10">
                      <div class="input-group">
                        <input
                            class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                            id="meassageInput"
                            
                            inputWithComma max="1"
                            placeholder=""
                            formControlName="Dghgemi15" 
          >
                        <div
                            class="input-group-append">
                            <span
                                class="input-group-text"
                                style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                        </div>
                    </div>
                    </div>
                    

                    <div class="col-md-2">
                      <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                          <button type="button"
                              class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                              (click)="openscope3calculators11(data)"
                              data-nexttab="pills-experience-tab"
                              style="font-size:16px">
                              <i class="fa fa-calculator"
                                  style="font-size:16px"></i></button>
                      </div>

                    </div>

                 

              
                </div>
            </div>

            <div class="card-footer">
              <div class="row">

                <div class="col-xl-12">
                  <p
                      class="org-in-text text-muted mb-0">
                   
                      Use of sold products </p>
                
              </div>
       
                  <div class="col-xl-10">
                    <div class="input-group">
                      <input
                          class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                          id="meassageInput"
                          
                          inputWithComma max="1"
                          placeholder=""
                          formControlName="Dghgemi16" 
        >
                      <div
                          class="input-group-append">
                          <span
                              class="input-group-text"
                              style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                      </div>
                  </div>
                  </div>
                  

                  <div class="col-md-2">
                    <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                        <button type="button"
                            class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                            (click)="openscope3calculators12(data)"
                            data-nexttab="pills-experience-tab"
                            style="font-size:16px">
                            <i class="fa fa-calculator"
                                style="font-size:16px"></i></button>
                    </div>

                  </div>

               

            
              </div>
          </div>


          <div class="card-footer">
            <div class="row">

              <div class="col-xl-12">
                <p
                    class="org-in-text text-muted mb-0">
                 
                    End-of-life treatment of sold products </p>
              
            </div>
     
                <div class="col-xl-10">
                  <div class="input-group">
                    <input
                        class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                        id="meassageInput"
                        
                        inputWithComma max="1"
                        placeholder=""
                        formControlName="Dghgemi17" 
      >
                    <div
                        class="input-group-append">
                        <span
                            class="input-group-text"
                            style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                    </div>
                </div>
                </div>
                
                 <div class="col-md-2">
                  <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                      <button type="button"
                          class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                          (click)="openscope3calculators13(data)"
                          data-nexttab="pills-experience-tab"
                          style="font-size:16px">
                          <i class="fa fa-calculator"
                              style="font-size:16px"></i></button>
                  </div>

                </div>

             

          
            </div>
        </div>


        <div class="card-footer">
          <div class="row">

            <div class="col-xl-12">
              <p
                  class="org-in-text text-muted mb-0">
               
                  Downstream leased assets </p>
            
          </div>
   
              <div class="col-xl-10">
                <div class="input-group">
                  <input
                      class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                      id="meassageInput"
                      
                      inputWithComma max="1"
                      placeholder=""
                      formControlName="Dghgemi18" 
    >
                  <div
                      class="input-group-append">
                      <span
                          class="input-group-text"
                          style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                  </div>
              </div>
              </div>
              

              <div class="col-md-2">
                <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                    <button type="button"
                        class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                        (click)="openscope3calculators14(data)"
                        data-nexttab="pills-experience-tab"
                        style="font-size:16px">
                        <i class="fa fa-calculator"
                            style="font-size:16px"></i></button>
                </div>

              </div>

           

        
          </div>
      </div>


      <div class="card-footer">
        <div class="row">

          <div class="col-xl-12">
            <p
                class="org-in-text text-muted mb-0">
             
                Franchises </p>
          
        </div>
 
            <div class="col-xl-10">
              <div class="input-group">
                <input
                    class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                    id="meassageInput"
                    
                    inputWithComma max="1"
                    placeholder=""
                    formControlName="Dghgemi19" 
  >
                <div
                    class="input-group-append">
                    <span
                        class="input-group-text"
                        style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
                </div>
            </div>
            </div>
            

            <div class="col-md-2">
              <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                  <button type="button"
                      class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                      (click)="openscope3calculators15(data)"
                      data-nexttab="pills-experience-tab"
                      style="font-size:16px">
                      <i class="fa fa-calculator"
                          style="font-size:16px"></i></button>
              </div>

            </div>

         

      
        </div>
    </div>


    <div class="card-footer">
      <div class="row">

        <div class="col-xl-12">
          <p
              class="org-in-text text-muted mb-0">
           
              Investments </p>
        
      </div>

          <div class="col-xl-10">
            <div class="input-group">
              <input
                  class="new-control form-control fpinput-01 col-8 col-xl-10 number-right "
                  id="meassageInput"
                  
                  inputWithComma max="1"
                  placeholder=""
                  formControlName="Dghgemi20" 
>
              <div
                  class="input-group-append">
                  <span
                      class="input-group-text"
                      style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
              </div>
          </div>
          </div>
          

          <div class="col-md-2">
            <div class="d-flex align-items-start gap-3 " style="margin: 10px;">
                <button type="button"
                    class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab"
                    (click)="openscope3calculators16(data)"
                    data-nexttab="pills-experience-tab"
                    style="font-size:16px">
                    <i class="fa fa-calculator"
                        style="font-size:16px"></i></button>
            </div>

          </div>

       

    
      </div>
  </div>


  <div class="card-footer">
    <div class="row">

      <div class="col-xl-12">
        <p
            class="org-in-text text-muted mb-0">
         
            Other downstream </p>
      
    </div>

        <div class="col-xl-10">
          <div class="input-group">
            <input
                class="new-control form-control fpinput-01 col-8 col-xl-10 number-right"
                id="meassageInput"
                
                inputWithComma max="1"
                placeholder=""
                formControlName="Dghgemi21" >
            <div
                class="input-group-append">
                <span
                    class="input-group-text"
                    style="background-color:transparent;border:none;font-size:1.25rem;width:2.5rem;height:2.5rem;margin-top: 12px">tCO2e</span>
            </div>
        </div>
        </div>
        

     
</div>
</div>

 </div>
                          </div>

       <div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="d-flex align-items-start gap-3 mt-4">
                    <!-- <button type="button" class="esg-back-btn btn dash-btn-1 btn8-label right nexttab nexttab" (click)="onprevdisclosure()" data-nexttab="pills-experience-tab">Previous</button> -->
            <button type="button" class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab" style="margin:auto" (click)="onSave()" data-nexttab="pills-experience-tab">Save</button>
            <!-- <button type="button" class="esg-back-btn btn dash-btn-1 btn8-label right  nexttab nexttab" (click)="onNextdisclosure()" data-nexttab="pills-experience-tab">Next </button> -->
        </div>
                
                </form></div>
</div></li></ul></div></div>