<div class="flex flex-col max-w-600 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="cursor-move flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary" style="background-color: #8cc540  !important;"
   >
        <div class="text-lg font-medium">Assign Report {{reportname}}</div>
        <button mat-icon-button (click)="onClose()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
  
    <div class="flex flex-col flex-auto p-6 sm:p-8 gap-4">
        <!-- Compose form -->
        <form class="flex flex-col flex-auto overflow-y-auto" [formGroup]="reportform">
            <div class="flex flex-col md:flex-row gap-4">
              <mat-label >Collaborators in the Organization :-</mat-label>
                 <ul>
   <li *ngFor="let r of firstname">
                      {{r.FirstName}}
                  </li>
                 </ul>
             
            </div>
            <div class="flex flex-col sm:flex-row gap-6">
              <mat-form-field class="flex flex-col flex-auto" appearance="fill">
                  <mat-label>Add Collaborators:</mat-label>
                  <mat-select [formControlName]="'CollaboratorId'" matNativeControl  [(ngModel)]="selectedOptions" multiple  style="margin-left: 25px !important; margin-right: 8px !important;">
                      <mat-option *ngFor="let c of collabs" [value]="c.Id">
                          {{c.FirstName}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
        </form>
        <!-- Actions -->
        <div class="flex flex-col sm:flex-row justify-end">
            <div class="flex items-center mt-4 sm:mt-0">
                <!-- Save as draft -->
                <button class="sm:mx-3" mat-stroked-button mat-dialog-close=false (click)="onCancel()" style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important;    background-color: #fff;
                border-radius: 8px !important;">
                    <span>Cancel</span>
                </button>
                <!-- Send -->
                <button class="esg-back-btn btn dash-btn-1 order-first sm:order-last" mat-flat-button [color]="'primary'" (click)="onSave()"  style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important;    background-color: #fff;
                border-radius: 8px !important;">
                    Save
                </button>
            </div>
        </div>
    </div>
  </div>
  