
<div aria-label="pdf-page-9">
  <div class="pagenumber">

    <ng-container *ngFor="let o of templatemenu">
<div aria-label1="pdf-page-120">
  <div>
    <ng-container *ngIf="o.TemplateMenuId == 120 && ((this.dynamicobj['Material-1Q1']!='') || (this.dynamicobj['Material-1Q2']!=''))"  >
      {{hello1(1,1)}}
      <div class="container-fluid" >
        <div class="row justify-content-center">
          <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
            <div class="card" >

              <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;" >
              <div class="card-img-overlay p-0 d-flex flex-column">
                <div class="esg-head card-header">
                  <span class="float-end">{{reportname}}</span>
                  <!-- <h6 class="card-title mb-0" style="font-size: 25px; color: #e57d38; margin-left: 35px; ">Metrics and
                    Disclosures </h6> -->
                </div>
                <ng-container *ngIf="o.MTemplateName != 'no' " >
                  <div class="general-alert alert alert-success alert-border-left  fade show" role="alert">
                    <i class=" me-3 align-middle fs-16"></i><strong style="font-size: 20px;">{{o.MTemplateName}}</strong>
                  </div>
                  </ng-container>

                
                <div class="general-alert alert alert-success-1 alert-border-left  fade show" role="alert"
                  style="padding: 6px;">
                  <li class="preview-d-text" *ngIf="o.Checked==1 " style="list-style: none;">
                    <h3>
                      <span class="pretext-1">{{o.Code}}</span>
                      {{o.TemplateSubMenuName}}
                    </h3>
                  </li>
                </div>
                <div *ngIf="this.dynamicobj['Material-1Q1']!='' ">
                <div class="fa-text jalsa card-header">
                  <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10"> a.</span>Describe the process it has followed to determine its material topics, including:</h6>
                  <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10"> i.</span>How it has identified actual and potential, negative and positive impacts on the economy, environment, and people, including impacts on their human rights, across its activities and business relationships:
                  </h6>
                </div>
                <div class="fa-text-1 jalsa card-header" *ngIf="this.dynamicobj">
                  <h6 class="card-title mb-0 blockquote ">{{this.dynamicobj['Material-1Q1']}} </h6>
  
                </div>
              </div>
              <div *ngIf="this.dynamicobj['Material-1Q2']!=''">
                <div class="fa-text jalsa card-header" >
                  <h6 class="card-title mb-0 "><span class="fa-102 badge  fs-10">ii:</span> How it has prioritized the impacts for reporting based on their significance </h6>
                </div>
                <div class="fa-text-1 jalsa card-header" *ngIf="this.dynamicobj">
                  <h6 class="card-title mb-0 blockquote">{{this.dynamicobj['Material-1Q2']}}
                  </h6>
                </div>
              </div>
           
                
              </div>
              <footer class="footer sun col-xxl-12">
                <div class="container-fluid">
                  <div class="row">
                    <div class="">
                      <div class=" align-items-center d-flex">
  
                        <a style="display:flex;"><span class="mypower" style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
                   
                        <h3  style="color: #000;
                                margin-top: 0px;     margin-left: 50px;">{{tsarray1[1]}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
   
            <div style="page-break-before:always">&nbsp;</div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="o.TemplateMenuId == 120 && (this.dynamicobj['Material-1Q3']!='')" >
      {{hello1(2,1)}}
      <div class="container-fluid" >
        <div class="row justify-content-center">
          <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
            <div class="card" >

              <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;" >
              <div class="card-img-overlay p-0 d-flex flex-column">
                <div class="esg-head card-header">
                  <span class="float-end">{{reportname}}</span>
                  <!-- <h6 class="card-title mb-0" style="font-size: 25px; color: #e57d38; margin-left: 35px; ">Metrics and
                    Disclosures </h6> -->
                </div>
                <ng-container *ngIf="o.MTemplateName != 'no' " >
                  <div class="general-alert alert alert-success alert-border-left  fade show" role="alert">
                    <i class=" me-3 align-middle fs-16"></i><strong style="font-size: 20px;">{{o.MTemplateName}}</strong>
                  </div>
                  </ng-container>

                
                <div class="general-alert alert alert-success-1 alert-border-left  fade show" role="alert"
                  style="padding: 6px;">
                  <li class="preview-d-text" *ngIf="o.Checked==1 " style="list-style: none;">
                    <h3>
                      <span class="pretext-1">{{o.Code}}</span>
                      {{o.TemplateSubMenuName}}
                    </h3>
                  </li>
                </div>
             
              <div *ngIf="this.dynamicobj['Material-1Q3']!=''">
                <div class="fa-text jalsa card-header" >
                  <h6 class="card-title mb-0 "><span class="fa-102 badge  fs-10"> b.</span> Specify the stakeholders and experts whose views have informed the process of determining its material topics. </h6>
                </div>
                <div class="fa-text-1 jalsa card-header">
                  <h6 class="card-title mb-0 blockquote">{{this.dynamicobj['Material-1Q3']}} </h6>
                </div>
              </div>
                
              </div>
              <footer class="footer sun col-xxl-12">
                <div class="container-fluid">
                  <div class="row">
                    <div class="">
                      <div class=" align-items-center d-flex">
  
                        <a style="display:flex;"><span class="mypower" style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
                   
                        <h3  style="color: #000;
                                margin-top: 0px;     margin-left: 50px;">{{tsarray1[2]}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
   
            <div style="page-break-before:always">&nbsp;</div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div aria-label1="pdf-page-121">
  <div>
    <ng-container *ngIf="o.TemplateMenuId == 121 && ((this.dynamicobj['Material-2Q1']!='') || (this.dynamicobj['Material-2Q2']!='')) " >
      {{hello1(3,1)}}
      <div class="container-fluid" >
        <div class="row justify-content-center">
          <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
            <div class="card" >

              <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;" >
              <div class="card-img-overlay p-0 d-flex flex-column">
                <div class="esg-head card-header">
                  <span class="float-end">{{reportname}}</span>
                  <!-- <h6 class="card-title mb-0" style="font-size: 25px; color: #e57d38; margin-left: 35px; ">Metrics and
                    Disclosures </h6> -->
                </div>
                <ng-container *ngIf="o.MTemplateName != 'no' " >
                  <div class="general-alert alert alert-success alert-border-left  fade show" role="alert">
                    <i class=" me-3 align-middle fs-16"></i><strong style="font-size: 20px;">{{o.MTemplateName}}</strong>
                  </div>
                  </ng-container>

                
                <div class="general-alert alert alert-success-1 alert-border-left  fade show" role="alert"
                  style="padding: 6px;">
                  <li class="preview-d-text" *ngIf="o.Checked==1 " style="list-style: none;">
                    <h3>
                      <span class="pretext-1">{{o.Code}}</span>
                      {{o.TemplateSubMenuName}}
                    </h3>
                  </li>
                </div>
                <div *ngIf="this.dynamicobj['Material-2Q1']!=''">
                <div class="fa-text jalsa card-header">
                  <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10"> a.</span>List its material topics
                  </h6>
                </div>
                <div class="fa-text-1 jalsa card-header" *ngIf="this.dynamicobj">
                  <h6 class="card-title mb-0 blockquote ">{{this.dynamicobj['Material-2Q1']}} </h6>
  
                </div>
              </div>
              <div *ngIf="this.dynamicobj['Material-2Q2']!=''">
                <div class="fa-text jalsa card-header" *ngIf="this.dynamicobj['Material-2Q2']!=''">
                  <h6 class="card-title mb-0 "><span class="fa-102 badge  fs-10"> b.</span> Report changes to the list of material topics compared to the previous reporting period </h6>
                </div>
                <div class="fa-text-1 jalsa card-header">
                  <h6 class="card-title mb-0 blockquote">{{this.dynamicobj['Material-2Q2']}}
                  </h6>
                </div>
              </div>
        
                
              </div>
              <footer class="footer sun col-xxl-12">
                <div class="container-fluid">
                  <div class="row">
                    <div class="">
                      <div class=" align-items-center d-flex">
  
                        <a style="display:flex;"><span class="mypower" style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
                   
                        <h3  style="color: #000;
                                margin-top: 0px;     margin-left: 50px;">{{tsarray1[3]}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
   
            <div style="page-break-before:always">&nbsp;</div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div aria-label1="pdf-page-122">
  <div>
    <ng-container *ngIf="o.TemplateMenuId == 122 && ((dynamicTablemtptdmttwotable1len>0)|| (dynamicTablemtptdmttwotable2len>0)) ">
      {{hello1(4,1)}}
      <div class="container-fluid" >
        <div class="row justify-content-center">
          <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
            <div class="card" >

              <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;" >
              <div class="card-img-overlay p-0 d-flex flex-column">
                <div class="esg-head card-header">
                  <span class="float-end">{{reportname}}</span>
                  <!-- <h6 class="card-title mb-0" style="font-size: 25px; color: #e57d38; margin-left: 35px; ">Metrics and
                    Disclosures </h6> -->
                </div>
                <ng-container *ngIf="o.MTemplateName != 'no' " >
                  <div class="general-alert alert alert-success alert-border-left  fade show" role="alert">
                    <i class=" me-3 align-middle fs-16"></i><strong style="font-size: 20px;">{{o.MTemplateName}}</strong>
                  </div>
                  </ng-container>

                
                <div class="general-alert alert alert-success-1 alert-border-left  fade show" role="alert"
                  style="padding: 6px;">
                  <li class="preview-d-text" *ngIf="o.Checked==1 " style="list-style: none;">
                    <h3>
                      <span class="pretext-1">{{o.Code}}</span>
                      {{o.TemplateSubMenuName}}
                    </h3>
                  </li>
                </div>

                <div *ngIf="dynamicTablemtptdmttwotable1[0]['mtptdmttwo1']!=''">
                <div class="fa-text jalsa card-header">
                  <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">3-3-A</span>List its material topics:
                  </h6>
                </div>
                <div class="fa-text-1 jalsa card-header">
  
                  <table class="table table-striped table-bordered ">
                    <tr>
                      <th>Material Topic</th>
                      <th>Explanation</th>
                    
                    </tr>
                    <tr *ngFor="let item of dynamicTablemtptdmttwotable1">
                      <td>{{item.mtptdmttwo1}}</td>
                      <td>{{item.mtptdmttwo2}}</td>
            
                    </tr>
                  </table>
                </div>
  </div>
  <div *ngIf="dynamicTablemtptdmttwotable2[0]['mtptdmttwo3']!=''">
    <div class="fa-text jalsa card-header">
      <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">3-3-B</span>Report whether the organization is involved with the negative impacts through its activities or as a result of its business relationships, and describe the activities or business relationships:
      </h6>
    </div>

    <div class="fa-text-1 jalsa card-header">

      <table class="table table-striped table-bordered ">
        <tr>
          <th>Material Topic</th>
          <th>Explanation</th>
        
        </tr>
        <tr *ngFor="let item of dynamicTablemtptdmttwotable2">
          <td>{{item.mtptdmttwo3}}</td>
          <td>{{item.mtptdmttwo4}}</td>

        </tr>
      </table>
    </div></div>


                
              </div>
              <footer class="footer sun col-xxl-12">
                <div class="container-fluid">
                  <div class="row">
                    <div class="">
                      <div class=" align-items-center d-flex">
  
                        <a style="display:flex;"><span class="mypower" style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
                   
                        <h3  style="color: #000;
                                margin-top: 0px;     margin-left: 50px;">{{tsarray1[4]}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
   
            <div style="page-break-before:always">&nbsp;</div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="o.TemplateMenuId == 122 &&((dynamicTablemtptdmttwotable3len>0) || (dynamicTablemtptdmttwotable4len>0) || (dynamicTablemtptdmttwotable5len>0))">
      {{hello1(5,1)}}
      <div class="container-fluid" >
        <div class="row justify-content-center">
          <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
            <div class="card" >

              <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;" >
              <div class="card-img-overlay p-0 d-flex flex-column">
                <div class="esg-head card-header">
                  <span class="float-end">{{reportname}}</span>
                  <!-- <h6 class="card-title mb-0" style="font-size: 25px; color: #e57d38; margin-left: 35px; ">Metrics and
                    Disclosures </h6> -->
                </div>
                <ng-container *ngIf="o.MTemplateName != 'no' " >
                  <div class="general-alert alert alert-success alert-border-left  fade show" role="alert">
                    <i class=" me-3 align-middle fs-16"></i><strong style="font-size: 20px;">{{o.MTemplateName}}</strong>
                  </div>
                  </ng-container>

                
                <div class="general-alert alert alert-success-1 alert-border-left  fade show" role="alert"
                  style="padding: 6px;">
                  <li class="preview-d-text" *ngIf="o.Checked==1 " style="list-style: none;">
                    <h3>
                      <span class="pretext-1">{{o.Code}}</span>
                      {{o.TemplateSubMenuName}}
                    </h3>
                  </li>
                </div>

                <div *ngIf="dynamicTablemtptdmttwotable3[0]['mtptdmttwo5']!=''">
                  <div class="fa-text jalsa card-header">
                  <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">3-3-C</span>Describe its policies or commitments regarding the material topic:
                  </h6>
                  </div>
                  <div class="fa-text-1 jalsa card-header">
                  
                  <table class="table table-striped table-bordered ">
                    <tr>
                      <th>Material Topic</th>
                      <th>Explanation</th>
                    
                    </tr>
                    <tr *ngFor="let item of dynamicTablemtptdmttwotable3">
                      <td>{{item.mtptdmttwo5}}</td>
                      <td>{{item.mtptdmttwo6}}</td>
                  
                    </tr>
                  </table>
                  </div>
                  </div>
                  <div *ngIf="dynamicTablemtptdmttwotable4[0]['mtptdmttwo7']!=''">
                    <div class="fa-text jalsa card-header">
                  <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">3-3-D</span>Describe actions taken to manage the topic and related impacts, including: 
                  </h6>
                  </div>
                  <div class="fa-text jalsa card-header">
                    <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">3-3-D-i</span> i: Actions to prevent or mitigate potential negative impacts:
                    </h6>
                    </div>
                  <div class="fa-text-1 jalsa card-header">
                  
                  <table class="table table-striped table-bordered ">
                    <tr>
                      <th>Material Topic</th>
                      <th>Explanation</th>
                    
                    </tr>
                    <tr *ngFor="let item of dynamicTablemtptdmttwotable4">
                      <td>{{item.mtptdmttwo7}}</td>
                      <td>{{item.mtptdmttwo8}}</td>
                  
                    </tr>
                  </table>
                  </div>
                  </div>
                               
                  <div *ngIf="dynamicTablemtptdmttwotable5[0]['mtptdmttwo9']!=''">
                    <div class="fa-text jalsa card-header">
                        <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">3-3-D-ii</span>Actions to address actual negative impacts, including actions to provide for or cooperate in their remediation
                        </h6>
                        </div>
                  <div class="fa-text-1 jalsa card-header">
                  
                  <table class="table table-striped table-bordered ">
                    <tr>
                      <th>Material Topic</th>
                      <th>Explanation</th>
                    
                    </tr>
                    <tr *ngFor="let item of dynamicTablemtptdmttwotable5">
                      <td>{{item.mtptdmttwo9}}</td>
                      <td>{{item.mtptdmttwo10}}</td>
                  
                    </tr>
                  </table>
                  </div>
                  </div>   
                
              </div>
              <footer class="footer sun col-xxl-12">
                <div class="container-fluid">
                  <div class="row">
                    <div class="">
                      <div class=" align-items-center d-flex">
  
                        <a style="display:flex;"><span class="mypower" style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
                   
                        <h3  style="color: #000;
                                margin-top: 0px;     margin-left: 50px;">{{tsarray1[5]}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
   
            <div style="page-break-before:always">&nbsp;</div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="o.TemplateMenuId == 122 && ((dynamicTablemtptdmttwotable6len>0) || (dynamicTablemtptdmttwotable7len>0) || (dynamicTablemtptdmttwotable8len>0))" >
      {{hello1(6,1)}}
      <div class="container-fluid" >
        <div class="row justify-content-center">
          <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
            <div class="card" >

              <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;" >
              <div class="card-img-overlay p-0 d-flex flex-column">
                <div class="esg-head card-header">
                  <span class="float-end">{{reportname}}</span>
                  <!-- <h6 class="card-title mb-0" style="font-size: 25px; color: #e57d38; margin-left: 35px; ">Metrics and
                    Disclosures </h6> -->
                </div>
                <ng-container *ngIf="o.MTemplateName != 'no' " >
                  <div class="general-alert alert alert-success alert-border-left  fade show" role="alert">
                    <i class=" me-3 align-middle fs-16"></i><strong style="font-size: 20px;">{{o.MTemplateName}}</strong>
                  </div>
                  </ng-container>

                
                <div class="general-alert alert alert-success-1 alert-border-left  fade show" role="alert"
                  style="padding: 6px;">
                  <li class="preview-d-text" *ngIf="o.Checked==1 " style="list-style: none;">
                    <h3>
                      <span class="pretext-1">{{o.Code}}</span>
                      {{o.TemplateSubMenuName}}
                    </h3>
                  </li>
                </div>

                <div *ngIf="dynamicTablemtptdmttwotable6[0]['mtptdmttwo11']!=''">
                  <div class="fa-text jalsa card-header">
                  <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">3-3-D-iii</span>Actions to manage actual and potential positive impacts:
                  </h6>
                </div>
                <div class="fa-text-1 jalsa card-header">
  
                  <table class="table table-striped table-bordered ">
                    <tr>
                      <th>Material Topic</th>
                      <th>Explanation</th>
                    
                    </tr>
                    <tr *ngFor="let item of dynamicTablemtptdmttwotable6">
                      <td>{{item.mtptdmttwo11}}</td>
                      <td>{{item.mtptdmttwo12}}</td>
            
                    </tr>
                  </table>
                </div>
  </div>
  <div *ngIf="dynamicTablemtptdmttwotable7[0]['mtptdmttwo13']!=''">
    <div class="fa-text jalsa card-header">
      <h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">3-3-E-i</span> Report the following information about tracking the effectiveness of the actions taken: i: Processes used to track the effectiveness of the actions:
      </h6>
    </div>
    <div class="fa-text-1 jalsa card-header">

      <table class="table table-striped table-bordered ">
        <tr>
          <th>Material Topic</th>
          <th>Explanation</th>
        
        </tr>
        <tr *ngFor="let item of dynamicTablemtptdmttwotable7">
          <td>{{item.mtptdmttwo13}}</td>
          <td>{{item.mtptdmttwo14}}</td>

        </tr>
      </table>
    </div>
</div>
<div *ngIf="dynamicTablemtptdmttwotable8[0]['mtptdmttwo15']!=''">
  <div class="fa-text jalsa card-header">
<h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">3-3-E-ii</span> Goals, targets, and indicators used to evaluate progress:
</h6>
</div>
<div class="fa-text-1 jalsa card-header">

<table class="table table-striped table-bordered ">
  <tr>
    <th>Material Topic</th>
    <th>Explanation</th>
  
  </tr>
  <tr *ngFor="let item of dynamicTablemtptdmttwotable8">
    <td>{{item.mtptdmttwo15}}</td>
    <td>{{item.mtptdmttwo16}}</td>

  </tr>
</table>
</div>
</div>

                
              </div>
              <footer class="footer sun col-xxl-12">
                <div class="container-fluid">
                  <div class="row">
                    <div class="">
                      <div class=" align-items-center d-flex">
  
                        <a style="display:flex;"><span class="mypower" style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
                   
                        <h3  style="color: #000;
                                margin-top: 0px;     margin-left: 50px;">{{tsarray1[6]}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
   
            <div style="page-break-before:always">&nbsp;</div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="o.TemplateMenuId == 122 && ((dynamicTablemtptdmttwotable9len>0) || (dynamicTablemtptdmttwotable11len>0))" >
      {{hello1(7,1)}}
      <div class="container-fluid" >
        <div class="row justify-content-center">
          <div class="col-xxl-12 col-xl-12 col-md-12" style="padding-top: 50px; ">
            <div class="card" >

              <img class="bg-preview  card-img img-fluid" [src]="imageUrl" alt="Card image" style="height: 1380px;" >
              <div class="card-img-overlay p-0 d-flex flex-column">
                <div class="esg-head card-header">
                  <span class="float-end">{{reportname}}</span>
                  <!-- <h6 class="card-title mb-0" style="font-size: 25px; color: #e57d38; margin-left: 35px; ">Metrics and
                    Disclosures </h6> -->
                </div>
                <ng-container *ngIf="o.MTemplateName != 'no' " >
                  <div class="general-alert alert alert-success alert-border-left  fade show" role="alert">
                    <i class=" me-3 align-middle fs-16"></i><strong style="font-size: 20px;">{{o.MTemplateName}}</strong>
                  </div>
                  </ng-container>

                
                <div class="general-alert alert alert-success-1 alert-border-left  fade show" role="alert"
                  style="padding: 6px;">
                  <li class="preview-d-text" *ngIf="o.Checked==1 " style="list-style: none;">
                    <h3>
                      <span class="pretext-1">{{o.Code}}</span>
                      {{o.TemplateSubMenuName}}
                    </h3>
                  </li>
                </div>

        
<div *ngIf="dynamicTablemtptdmttwotable9[0]['mtptdmttwo17']!=''">
<div class="fa-text jalsa card-header">
<h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">3-3-E-iii</span>The effectiveness of the actions, including progress toward the goals and targets:
</h6>
</div>
<div class="fa-text-1 jalsa card-header">

<table class="table table-striped table-bordered ">
  <tr>
    <th>Material Topic</th>
    <th>Explanation</th>
  
  </tr>
  <tr *ngFor="let item of dynamicTablemtptdmttwotable9">
    <td>{{item.mtptdmttwo17}}</td>
    <td>{{item.mtptdmttwo18}}</td>

  </tr>
</table>
</div>
</div>
             
<div *ngIf="dynamicTablemtptdmttwotable10[0]['mtptdmttwo19']!=''">
  <div class="fa-text jalsa card-header">
<h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">3-3-E-iv</span>Lessons learned and how these have been incorporated into the organization’s operational policies and procedures:
</h6>
</div>
<div class="fa-text-1 jalsa card-header">

<table class="table table-striped table-bordered ">
  <tr>
    <th>Material Topic</th>
    <th>Explanation</th>
  
  </tr>
  <tr *ngFor="let item of dynamicTablemtptdmttwotable10">
    <td>{{item.mtptdmttwo19}}</td>
    <td>{{item.mtptdmttwo20}}</td>

  </tr>
</table>
</div>
</div>   
<div *ngIf="dynamicTablemtptdmttwotable11[0]['mtptdmttwo21']!=''">
  <div class="fa-text jalsa card-header">
<h6 class="card-title mb-0"><span class="fa-102 badge  fs-10">3-3-F</span>Describe how engagement with stakeholders has informed the actions taken (3-3-d) and how it has informed whether the actions have been effective (3-3-e):
</h6>
</div>
<div class="fa-text-1 jalsa card-header">

<table class="table table-striped table-bordered ">
  <tr>
    <th>Material Topic</th>
    <th>Explanation</th>
  
  </tr>
  <tr *ngFor="let item of dynamicTablemtptdmttwotable11">
    <td>{{item.mtptdmttwo21}}</td>
    <td>{{item.mtptdmttwo22}}</td>

  </tr>
</table>
</div>
</div> 
                
              </div>
              <footer class="footer sun col-xxl-12">
                <div class="container-fluid">
                  <div class="row">
                    <div class="">
                      <div class=" align-items-center d-flex">
  
                        <a style="display:flex;"><span class="mypower" style="font-size:16px; margin-left: 25px;">Powered by</span><img class="mypower1"src="./assets/img/trst_color.png" style="width:10%; margin-left: 5px;"></a>
                   
                        <h3  style="color: #000;
                                margin-top: 0px;     margin-left: 50px;">{{tsarray1[7]}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
   
            <div style="page-break-before:always">&nbsp;</div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
</ng-container>
</div>
</div>
