.list-group-item {
    border: 0px solid !important;
}
.gri-23 h3 {
    font-size: 20px !important;
    text-align: left;
    font-weight: bold;
    color: #155aa3;
}
.ttm1 h3 {
    font-size: 30px !important;
    font-weight: 600;
    color: #155aa3;             
}

.ttm2 h3 {
    color: #219ddc;
    font-weight: 600;            
}
.ttm3 h3 {
    font-size: 17px !important;
    text-align: left;
    font-weight: 600;
    color: #000;              
}

.ttm4 h3 {
    font-size: 17px !important;
    text-align: left;
    color: #000;
    font-weight: 500;              
}