
<!--GRI Contents-->
<div aria-label="pdf-page-2">
  <div class="col-xxl-12 col-xl-12 col-md-12" style="margin-top: 20px;">
    <div class=" card card-overlay">
      <div class="card" style="background-color: #fff;  height: 1470px; margin-bottom: 0px !important;">
        <div class=" position-relative" style="border-radius: 0px 0px 100px 100px;">
          <div class="card-body p-5">

              <div class="ttm1 text-center" >
                <h3 >Table of Contents</h3>
              </div>

              <ng-container *ngFor="let o of templatemenu">
                <div *ngIf="o.value==1">
                    <div class="list-group col nested-list nested-sortable-handle">
                        <div class="ttm2">

                          <div class="container text-center">

                            <div class="row ">
                              <div class="col-8">
                                <h3>{{o.text}}</h3>  
                              </div>
                              <div class="col-4">
                                <h3 style="float: right;">Page 1-{{app.counter}}</h3>  
                              </div>
                            </div>


                          </div>
                    

                          
                            <div class="list-group nested-list nested-sortable-handle">
                                <div class="list-group-item nested-2 ttm3"  *ngFor="let i of o.children" ><i class="ri-radio-button-line align-bottom handle"></i> <h3 >{{i.text}}</h3>
                                    <div class=" nested-sortable-handle" *ngFor="let j of i.children">
                                        <div class="ttm4"><i class="ri-drag-move-fill align-bottom handle"></i><h3>{{j.text}}</h3></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-before:always">&nbsp;</div>
</div>

<!--Materiality Contents-->
<div aria-label="pdf-page-2">
  <div class="col-xxl-12 col-xl-12 col-md-12" style="margin-top: 20px;">
    <div class=" card card-overlay">
      <div class="card" style="background-color: #fff;  height: 1470px; margin-bottom: 0px !important;">
        <div class=" position-relative" style="border-radius: 0px 0px 100px 100px;">
          <div class="card-body p-5">
         

              <ng-container *ngFor="let o of templatemenu">
                <div *ngIf="o.value==8">
                    <div class="list-group col nested-list nested-sortable-handle">
                        <div class="ttm2">
                          <div class="container text-center">

                            <div class="row ">
                              <div class="col-8">
                                <h3>{{o.text}}</h3>  
                              </div>
                              <!-- <div class="col-4">
                                <h3 style="float: right;">{{page1}}-{{page1}}</h3>  
                              </div> -->
                            </div>


                          </div>
                            <div class="list-group nested-list nested-sortable-handle">
                                <div class="list-group-item nested-2 ttm3" *ngFor="let i of o.children" ><i class="ri-radio-button-line align-bottom handle"></i> <h3 >{{i.text}}</h3>
                                    <div class=" nested-sortable-handle" *ngFor="let j of i.children">
                                        <div class="ttm3"><i class="ri-drag-move-fill align-bottom handle"></i><h3 >{{j.text}}</h3></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-before:always">&nbsp;</div>
</div>

<!--Economic Contents-->
<div aria-label="pdf-page-2">
  <div class="col-xxl-12 col-xl-12 col-md-12" style="margin-top: 20px;">
    <div class=" card card-overlay">
      <div class="card" style="background-color: #fff;  height: 1470px; margin-bottom: 0px !important;">
        <div class=" position-relative" style="border-radius: 0px 0px 100px 100px;">
          <div class="card-body p-5">
         

              <ng-container *ngFor="let o of templatemenu">
                <div *ngIf="o.value==2" >
                    <div class="list-group col nested-list nested-sortable-handle">
                        <div class="ttm2">
                          <div class="container text-center">

                            <div class="row ">
                              <div class="col-8">
                                <h3>{{o.text}}</h3>  
                              </div>
                              <div class="col-4">
                                <h3 style="float: right;">{{app.counter}}-{{app.counter1}}</h3>  
                              </div>
                            </div>


                          </div>
                            <div class="list-group nested-list nested-sortable-handle">
                                <div class="list-group-item nested-2 ttm3" *ngFor="let i of o.children" ><i class="ri-radio-button-line align-bottom handle"></i> <h3 >{{i.text}}</h3>
                                    <div class=" nested-sortable-handle" *ngFor="let j of i.children">
                                        <div class="ttm4"><i class="ri-drag-move-fill align-bottom handle"></i><h3 >{{j.text}}</h3></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-before:always">&nbsp;</div>
</div>

<!--Environment Contents-->

<div aria-label="pdf-page-2">
  <div class="col-xxl-12 col-xl-12 col-md-12" style="margin-top: 20px;">
    <div class=" card card-overlay">
      <div class="card" style="background-color: #fff;  height: 1470px; margin-bottom: 0px !important;">
        <div class=" position-relative" style="border-radius: 0px 0px 100px 100px;">
          <div class="card-body p-5">
         

              <ng-container *ngFor="let o of templatemenu">
                <div *ngIf="o.value==3" >
                    <div class="list-group col nested-list nested-sortable-handle">
                        <div class="ttm2">
                          <div class="row ">
                            <div class="col-8">
                              <h3>{{o.text}}</h3>  
                            </div>
                            <div class="col-4">
                              <h3 style="float: right;">{{app.counter1}}-{{app.counter2}}</h3>  
                            </div>
                          </div>
                            <div class="list-group nested-list nested-sortable-handle">
                                <div class="list-group-item nested-2 ttm3" *ngFor="let i of o.children.slice( 0,(o.children.length)*3/4)" ><i class="ri-radio-button-line align-bottom handle"></i> <h3>{{i.text}}</h3>
                                    <div class=" nested-sortable-handle" *ngFor="let j of i.children">
                                        <div class="ttm4"><i class="ri-drag-move-fill align-bottom handle"></i><h3 >{{j.text}}</h3></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-before:always">&nbsp;</div>
</div>
<div aria-label="pdf-page-2">
  <div class="col-xxl-12 col-xl-12 col-md-12" style="margin-top: 20px;">
    <div class=" card card-overlay">
      <div class="card" style="background-color: #fff;  height: 1470px; margin-bottom: 0px !important;">
        <div class=" position-relative" style="border-radius: 0px 0px 100px 100px;">
          <div class="card-body p-5">
         

              <ng-container *ngFor="let o of templatemenu">
                <div *ngIf="o.value==3" >
                    <div class="list-group col nested-list nested-sortable-handle">
                        <div class="">
                         
                            <div class="list-group nested-list nested-sortable-handle">
                                <div class="list-group-item nested-2 ttm3" *ngFor="let i of o.children.slice( (o.children.length)*3/4, o.children.length)" ><i class="ri-radio-button-line align-bottom handle"></i> <h3 >{{i.text}}</h3>
                                    <div class=" nested-sortable-handle" *ngFor="let j of i.children">
                                        <div class="ttm4"><i class="ri-drag-move-fill align-bottom handle"></i><h3 >{{j.text}}</h3></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-before:always">&nbsp;</div>
</div>

<!--Social Contents-->

<div aria-label="pdf-page-2">
  <div class="col-xxl-12 col-xl-12 col-md-12" style="margin-top: 20px;">
    <div class=" card card-overlay">
      <div class="card" style="background-color: #fff;  height: 1470px; margin-bottom: 0px !important;">
        <div class=" position-relative" style="border-radius: 0px 0px 100px 100px;">
          <div class="card-body p-5">
         

              <ng-container *ngFor="let o of templatemenu">
                <div *ngIf="o.value==6" >
                    <div class="list-group col nested-list nested-sortable-handle">
                        <div class="ttm2">
                          <div class="row ">
                            <div class="col-8">
                              <h3>{{o.text}}</h3>  
                            </div>
                            <div class="col-4">
                              <h3 style="float: right;">{{app.counter2}}-{{app.counter3}}</h3>  
                            </div>
                          </div>
                            <div class="list-group nested-list nested-sortable-handle">
                                <div class="list-group-item nested-2 ttm3" *ngFor="let i of o.children.slice( 0,o.children.length/2)" ><i class="ri-radio-button-line align-bottom handle"></i> <h3 >{{i.text}}</h3>
                                    <div class=" nested-sortable-handle" *ngFor="let j of i.children">
                                        <div class="ttm4"><i class="ri-drag-move-fill align-bottom handle"></i><h3 >{{j.text}}</h3></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-before:always">&nbsp;</div>
</div>
<div aria-label="pdf-page-2">
  <div class="col-xxl-12 col-xl-12 col-md-12" style="margin-top: 20px;">
    <div class=" card card-overlay">
      <div class="card" style="background-color: #fff;  height: 1470px; margin-bottom: 0px !important;">
        <div class=" position-relative" style="border-radius: 0px 0px 100px 100px;">
          <div class="card-body p-5">
         

              <ng-container *ngFor="let o of templatemenu">
                <div *ngIf="o.value==6" >
                    <div class="list-group col nested-list nested-sortable-handle">
                        <div class="">
                         
                            <div class="list-group nested-list nested-sortable-handle">
                                <div class="list-group-item nested-2 ttm3" *ngFor="let i of o.children.slice( o.children.length/2, o.children.length)" ><i class="ri-radio-button-line align-bottom handle"></i> <h3 >{{i.text}}</h3>
                                    <div class=" nested-sortable-handle" *ngFor="let j of i.children">
                                        <div class="ttm4"><i class="ri-drag-move-fill align-bottom handle"></i><h3 >{{j.text}}</h3></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-before:always">&nbsp;</div>
</div>













