<div class="flex flex-col max-w-600 md:min-w-160 max-h-screen -m-6">



  <!-- Header -->

  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary" style="background-color: #FCB713 !important;">

      <div class="text-lg font-medium">Production Of Eggs Details (Flock)</div>

      <button

          mat-icon-button

          (click)="onClose()"

          [tabIndex]="-1">

          <mat-icon

              class="text-current"

              [svgIcon]="'heroicons_outline:x'"></mat-icon>

      </button>



  </div>



  <div class="flex flex-col flex-auto p-6 sm:p-8 gap-4">

      <!-- Menu form -->

      <form

          class="flex flex-col flex-auto "

          [formGroup]="FlockForm">



          <div class="flex flex-col md:flex-row gap-4">

              <!-- Name -->
              <!-- <mat-form-field class="flex flex-col flex-auto">
                <mat-label>WareHouse Name</mat-label>
              
                        <mat-select [formControlName]="'WareHouseId'"  >

                            <mat-option *ngFor="let warehouse of Wearehousedetails" [value]="warehouse.Id">

                                {{warehouse.Name}}

                            </mat-option>

                        </mat-select>  
                   
            </mat-form-field> -->

              <mat-form-field class="flex flex-col flex-auto">

                  <mat-label>Name</mat-label>

                  <input 
                  (keydown)="keyDown($event)"
                      matInput

                      [formControlName]="'Name'">
<mat-error *ngIf="f.Name.touched && f.Name.invalid">
<p *ngIf="f.Name.errors?.required">Name is required</p>

</mat-error>
              </mat-form-field>

              <mat-form-field class="flex flex-col flex-auto">

                  <mat-label>Area</mat-label>

                  <input type="number" min="0"
                      matInput
                      [formControlName]="'Area'">

              </mat-form-field>

          




              <!-- Path -->
              <mat-form-field class="flex flex-col flex-auto">

                <mat-label>Location</mat-label>

                <input

                    matInput

                    [formControlName]="'Location'">

            </mat-form-field>
            </div>
            
         

        <div class="flex flex-col flex-auto">

                  <span class="mb-4">Flock Status</span>

                  <mat-slide-toggle

                      [formControlName]="'IsAcive'"

                      [color]="'primary'">

                      {{FlockForm.get('IsAcive')?.value === true ? 'Active' : 'Disabled'}}

                  </mat-slide-toggle>

              </div>

          



   



   



      </form>

      <!-- Actions -->

      <div class="flex flex-col sm:flex-row justify-end">

          <div class="flex items-center mt-4 sm:mt-0">

              <!-- Cancel -->

              <button

                  class="sm:mx-3"

                  mat-stroked-button

                  mat-dialog-close=false

                  (click)="onCancel()">

                  <span>Cancel</span>

              </button>

              <!-- Save -->

              <button

                  class="order-first sm:order-last"

                  mat-flat-button

                  [color]="'primary'"

                  [disabled]="FlockForm.invalid || FlockForm.pristine"

                  (click)="onSave()">

                  Save

              </button>

          </div>

      </div>

  </div>

</div>

