<div class="hello row dash-nft h-100 ">
    <div class="col-xl-11 mx-auto mt-5">
        <div class="b-card  card" style="margin-top: -40px;">
            <div class="card-body form-steps">

                    <form >
                        <div class="d-flex mb-4 align-items-center">
                            <div class="gri-auto mx-auto  ">
                                <img src="./assets/img/brsr.png" alt="" class=" " />
                            </div>
                           
                        </div>

                        <div class="flex-grow-1 ms-2">
                         

                            

                          <h3 style="font-size: 17px; ">
                            Business Responsibility and Sustainability Reporting (BRSR) is introduced
                            by SEBI, which is developed on the basis of <br>National Guidelines on Responsible 
                            Business Conduct (NGRBC) principles and aligned with the UN SDGs, GRI, and United Nations Guiding Principles.  
                          </h3>

                          <h5 class="gri-text card-title mb-1 " style="text-align: left !important;">BRSR guidelines comprises of three sections –

                            
                          </h5>


                        
                      </div>


                      <div class="card-body collapse show" id="collapseExample2">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="ri-checkbox-circle-fill-10 text-success"></i>
                            </div>
                            <div class="flex-grow-1 ms-2 text-muted" >
                                 General Disclosures 
                                
                            </div>
                        </div>
                        <div class="d-flex mt-2">
                            <div class="flex-shrink-0">
                                <i class="ri-checkbox-circle-fill-10 text-success"></i>
                            </div>
                            <div class="flex-grow-1 ms-2 text-muted">
                                Management and Process Disclosures
                            </div>
                        </div>
                        <div class="d-flex mt-2">
                            <div class="flex-shrink-0">
                                <i class="ri-checkbox-circle-fill-10 text-success"></i>
                            </div>
                            <div class="flex-grow-1 ms-2 text-muted" >
                                Principle-wise Disclosures
                            </div>
                        </div>
                    </div>

                    <h5 class="gri-text card-title mb-1 " style="text-align: left !important;font-size: 17px;">Section 1

                            
                    </h5>


                    <h3 style="font-size: 17px; ">
                        focuses on the basic set of information at the company level. <br>
                       
                      </h3>

                      <h5 class="gri-text card-title mb-1 " style="text-align: left !important; font-size: 17px;">Section 2

                            
                      </h5>

                      <h3 style="font-size: 17px; ">
                       
                        Focuses on policy and governance level questions. Both these sections are mandatory to be reported.
                        
                      </h3>


                      
                      <h5 class="gri-text card-title mb-1 " style="text-align: left !important; font-size: 17px;">Section 3

                            
                      </h5>

                      <h3 style="font-size: 17px; ">
                       
                        
                     Comprises nine principles, each focused on a specialized area. Disclosures in section 3 have two categories – Essential Indicators and Leadership Indicators. The essential indicators are mandatory, while the leadership indicators are voluntary.
                      </h3>


                  

                   

                      

                     
                    </form>

            </div>
        </div>
    </div>       
</div> 
<div class="col-xl-12 copyrt" style="z-index: 99; text-align: center;    padding-left: 50px;

padding-right: 50px;

 font-size: 16px;  

border-top: 1px solid #e6e8f2;

">





<div class="d-flex align-items-start gap-3">

<button type="button" class="esg-prev-btn btn dash-btn-1 btn-label previestab"(click)="back()" data-previous="steparrow-gen-info-tab"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Back </button>

<button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab" (click)="next()" data-nexttab="pills-experience-tab"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Next</button>



</div>



</div>














