<div class="col-xl-12 page-content-1">
    <div class="container-fluid">
        <app-ribboncomponentforsgx [reportname]="reportname" [reportstartdate]="reportstartdate"
          [reportenddate]="reportenddate"></app-ribboncomponentforsgx>

        <div class="row">
            <div class="col-sm-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="mx-n3">
                            <div data-simplebar data-simplebar-auto-hide="false" data-simplebar-track="success"
                                style="max-height: 330px;">
                                <ul class="list-group list-group-flush">
                                    <li class="hero-line list-group-item py-3">
                                        <div class="row">
                                            <form>
                                                <div data-simplebar data-simplebar-auto-hide="false"
                                                    data-simplebar-track="success" style="min-height: 330px;">
                                                    <div class="d-flex align-items-center mb-2">
                                                    </div>
                                                    <div class="accordion custom-accordionwithicon"
                                                        id="accordionWithicon">
                                                        <div class="">
                                                            <div class="accod accordion" id="accordionExample">

                                                                <div class=" col-xxl-6 col-lg-6"
                                                                    style="padding-top: 20px; font-size: 18px;">
                                                                    <div class="d-flex align-items-center mb-2">
                                                                        <!-- <ngx-treeview1 [config]="config" [items]="treeviewitem" (filterChange)="onFilterChange($event)"
                                                                (selectedChange)="onselectchange($event) "> 
                                                                </ngx-treeview1> -->
                                                                        <ngx-treeview1 [config]="config"
                                                                            [items]="treeviewitem"
                                                                            (click)="Test($event);"
                                                                            (mouseover)="hoverfunc($event)"
                                                                            title="{{hovereach}}">
                                                                        </ngx-treeview1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card h-100">
                    <!-- end card header -->
                    <div class="card-body" *ngIf="templateitemdata">

                        <!--Environment-->
                        <app-envi101a [envi1]="envi1" [guidance]="guidance" [description]="description"></app-envi101a>
                        <app-envi101b [envi2]="envi2" [guidance]="guidance" [description]="description"></app-envi101b>
                       <app-envi102a [envi3]="envi3" [guidance]="guidance" [description]="description"></app-envi102a>
                       <app-envi102b [envi4]="envi4" [guidance]="guidance" [description]="description"></app-envi102b>
                          <app-envi103a [envi5]="envi5" [guidance]="guidance" [description]="description"></app-envi103a>
                        <app-envi103b [envi6]="envi6" [guidance]="guidance" [description]="description"></app-envi103b>
                        <app-envi104a [envi7]="envi7" [guidance]="guidance" [description]="description"></app-envi104a>

                        <!--Social-->

                         <app-social201a [soc1]="soc1" [guidance]="guidance" [description]="description"></app-social201a>
                        <app-social201b [soc2]="soc2" [guidance]="guidance" [description]="description"></app-social201b>
                        <app-social202a [soc3]="soc3" [guidance]="guidance" [description]="description"></app-social202a>
                        <app-social202b [soc4]="soc4" [guidance]="guidance" [description]="description"></app-social202b>
                         <app-social203a [soc5]="soc5" [guidance]="guidance" [description]="description"></app-social203a>
                       <app-social203b [soc6]="soc6" [guidance]="guidance" [description]="description"></app-social203b>
                        <app-social204a [soc7]="soc7" [guidance]="guidance" [description]="description"></app-social204a>
                        <app-social204b [soc8]="soc8" [guidance]="guidance" [description]="description"></app-social204b>
                         <app-social205a [soc9]="soc9" [guidance]="guidance" [description]="description"></app-social205a>
                        <app-social205b [soc10]="soc10" [guidance]="guidance" [description]="description"></app-social205b>
                        <app-social205c [soc11]="soc11" [guidance]="guidance" [description]="description"></app-social205c>
                        <app-social205d [soc12]="soc12" [guidance]="guidance" [description]="description"></app-social205d>

                        <!--Governance-->
                        <app-governance301a [gov1]="gov1" [guidance]="guidance" [description]="description"></app-governance301a>
                        <app-governance301b [gov2]="gov2" [guidance]="guidance" [description]="description"></app-governance301b>
                        <app-governance302a [gov3]="gov3" [guidance]="guidance" [description]="description"></app-governance302a>
                        <app-governance303a [gov4]="gov4" [guidance]="guidance" [description]="description"></app-governance303a>
                        <app-governance303b [gov5]="gov5" [guidance]="guidance" [description]="description"></app-governance303b>
                        <app-governance304a [gov6]="gov6" [guidance]="guidance" [description]="description"></app-governance304a>
                        <app-governance305a [gov8]="gov8" [guidance]="guidance" [description]="description"></app-governance305a>
                        <!-- <app-governance305b [gov8]="gov8"></app-governance305b> -->
                        <app-governance306a [gov9]="gov9" [guidance]="guidance" [description]="description"></app-governance306a>



                    </div>
                    <div class="please-col col-xl-6 col-lg-6" *ngIf="!templateitemdata">
                        <div class="mt-3">
                            <div class=" text-center">
                                <div class="avatar-sm mx-auto mb-3">
                                    <div class="avatar-title bg-soft-success text-success fs-17 rounded">
                                        <i class="ri-cursor-line"></i>
                                    </div>
                                </div>
                                <h4 class="card-title">Please select the disclosures on the left side to
                                    begin</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 copyrt" style="z-index: 99; text-align: center;    padding-left: 50px;
padding-right: 50px;
padding-bottom: 50px; font-size: 16px;  
border-top: 1px solid #e6e8f2;
">
                <div class="d-flex align-items-start gap-3 mt-4">
                    <button type="button" class="esg-prev-btn btn dash-btn-1 btn-label previestab" (click)="back()"
                        data-previous="steparrow-gen-info-tab"><i
                            class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Back </button>
                    <button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab"
                        (click)="SaveAndNext()" data-nexttab="pills-experience-tab" id="same-address"><i
                            class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>