<div class="flex flex-col max-w-600 md:min-w-160 max-h-screen -m-6">
  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
      style="background-color: #8cc540 !important;">
      <div class="text-lg " style="font-weight: 900;">Category 10: Processing of Sold Products</div>
      <button mat-icon-button (click)="onClose()" [tabIndex]="-1">
          <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
      </button>
  </div>
  <form class="flex flex-col flex-auto p-6 sm:p-8" [formGroup]="scope3form">
    <div class="flex flex-col md:flex-row gap-4" >
      <mat-form-field class="flex flex-col flex-auto" >
        <mat-label>Choose Calculator</mat-label>
        <mat-select matInput [formControlName]="'DataType'" (selectionChange)="DataTypeChange($event.value)" >
          <mat-option value="lessor" style="color: #1978ac !important;">Site specific method</mat-option>
          <mat-option value="floorspace" style="color: #1978ac !important;">Average data method</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

    <div class="col-xl-12 in-top overflow-y-auto" *ngIf="firstdrop">
      <div class="col-xl-12 in-top overflow-y-auto">
        <div class="box-body table-responsive">
          <table id="datatable" class="table table-striped table-bordered" style="width:100%; border: 2px solid #1978ac;">
            <thead class="tableheader">
              <tr>
                <th style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; white-space: nowrap; padding: 0.75rem 0.6rem; border: 1px solid var(--border-color);">Site Id</th>
                <th style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; white-space: nowrap; padding: 0.75rem 0.6rem; border: 1px solid var(--border-color);">Site Details</th>
                <th style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; white-space: nowrap; padding: 0.75rem 0.6rem; border: 1px solid var(--border-color);">Fuel and electricity</th>
                <th style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; white-space: nowrap; padding: 0.75rem 0.6rem; border: 1px solid var(--border-color);">Quantity</th>
                <th style="width: 10%; text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; white-space: nowrap; padding: 0.75rem 0.6rem; border: 1px solid var(--border-color);">EF (kg CO2e/unit)</th>
                <th style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; white-space: nowrap; padding: 0.75rem 0.6rem; border: 1px solid var(--border-color);">Total emissions (tCo2e)</th>
                <th style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; border: 0px solid var(--border-color);"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tpt of lookupdtl; let i=index">
                <td>
                  <input id="random1{{i}}" class="form-control" style="height: 48px; width: 100%; border: 1px solid #1c75bc;" [(ngModel)]="tpt.random1"  type="text" >
                </td>
                <td>
                  <input id="random2{{i}}" class="form-control" style="height: 48px; width: 100%; border: 1px solid #1c75bc;" [(ngModel)]="tpt.random2"  type="text" >
                </td>
                <td>
                  <mat-form-field class="flex flex-col min-w-80">                                                                           
                    <mat-select  id="first{{i}}"  [(ngModel)]="tpt.first">
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>                    
                </td>
                <td>
                  <input id="second{{i}}" class="form-control" style="height: 48px; width: 100%; border: 1px solid #1c75bc;" [(ngModel)]="tpt.second"  type="text" inputWithComma>
                </td>
                <td>
                  <input id="third{{i}}" class="form-control" style="height: 48px; width: 100%; border: 1px solid #1c75bc;" [(ngModel)]="tpt.third" (keyup)="qu(i, $event)" type="text" inputWithComma>
                </td>
                <td>
                  <input id="Emi{{i}}" class="form-control" style="height: 48px; width: 100%; border: 1px solid #1c75bc;text-align: right;" [value]="tpt.Emi| number: '1.0-2'" readonly inputWithComma>
                </td>
                <td>
                  <button style="padding-top:17px;" id="delete{{i}}" type="button" (click)="deleteQ102a(i)">
                    <i style="color:red" class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="lookupdtl.length > 0">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td st><b>Total Emission:</b></td>
                <td style="text-align: right;">{{sumtotal | number: '1.0-2'}} tCO2e</td>
              </tr>
            </tbody>
          </table>
          
          <style>
            .table-bordered > :not(caption) >    {
border-width: 0 0px;
}
          </style>
  </div>

  <div class="d-flex align-items-start gap-3 mt-4">
    <button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab"
        data-nexttab="pills-experience-tab" (click)="addFieldValue()" id="disableButton" style="padding-left: 2.9rem;
        padding-right: 45px;
    "> Add</button>

</div>

  <div>
    Note:<br>
    1.	Site-specific method, which involves determining the amount of fuel and electricity used and the amount of waste generated from the processing of sold intermediate products by the third party and applying the appropriate emission factors.
  </div>
  </div></div>


  
  <div class="col-xl-12 in-top overflow-y-auto" *ngIf="secdrop">
    <div class="col-xl-12 in-top overflow-y-auto">
      <div class="box-body table-responsive">
        <table id="datatable" class="table table-striped table-bordered" style="width:100%; border: 2px solid #1978ac;">
          <thead class="tableheader">
            <tr>
              <th style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; white-space: nowrap; padding: 0.75rem 3.6rem; border: 1px solid var(--border-color);">Process</th>
              <th style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; white-space: nowrap; padding: 0.75rem 1.6rem; border: 1px solid var(--border-color);">Mass of sold intermediate products (Quantity)</th>
              <th style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; white-space: nowrap; padding: 0.75rem 0.6rem; border: 1px solid var(--border-color);">Units</th>
              <th style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; white-space: nowrap; padding: 0.75rem 3.6rem; border: 1px solid var(--border-color);">EF (kg CO2e/unit)</th>
              <th style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; white-space: nowrap; padding: 0.75rem 0.6rem; border: 1px solid var(--border-color);">Total emissions (tCo2e)</th>
              <th style="text-align: center; font-size: 15px; background-color: #1978ac; color: #fff; border: 0px solid var(--border-color);"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tpt of lookupdtl1; let i=index">
              <td>
                <input id="first{{i}}" class="form-control" style="height: 48px; width: 100%; border: 1px solid #1c75bc;"  [(ngModel)]="tpt.first"  type="text">
              </td>
              <td>
                <input id="second{{i}}" class="form-control" style="height: 48px; width: 100%; border: 1px solid #1c75bc;" [(ngModel)]="tpt.second"  type="text" inputWithComma>
              </td>
              <td>
                <mat-form-field class="flex flex-col min-w-40">                                                                           
                  <mat-select  id="third{{i}}"  [(ngModel)]="tpt.third">
                    <mat-option *ngFor="let food of foods1" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>                    
              </td>
              <td>
                <input id="fourth{{i}}" class="form-control" style="height: 48px; width: 100%; border: 1px solid #1c75bc;" (keyup)="a2ndqu(i, $event)" [(ngModel)]="tpt.fourth"  type="text" inputWithComma>
              </td>
              <td>
                <input id="fifth{{i}}" class="form-control" style="height: 48px; width: 100%; border: 1px solid #1c75bc;text-align: right;" [value]="tpt.fifth| number: '1.0-2'" readonly inputWithComma>
              </td>
              <td>
                <button style="padding-top:17px;" id="delete{{i}}" type="button" (click)="deleteQ102a11(i)">
                  <i style="color:red" class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="lookupdtl1.length > 0">
              <td></td>
              <td></td>
              <td></td>
              <td st><b>Total Emission:</b></td>
              <td style="text-align: right;">{{sumtotal1 | number: '1.0-2'}} tCO2e</td>
            </tr>
          </tbody>
        </table>
        
        <style>
          .table-bordered > :not(caption) >    {
border-width: 0 0px;
}
        </style>
</div>

<div class="d-flex align-items-start gap-3 mt-4">
  <button type="button" class="esg-back-btn btn dash-btn-1 btn-label right ms-auto nexttab nexttab"
      data-nexttab="pills-experience-tab" (click)="addFieldValue1()" id="disableButton" style="padding-left: 2.9rem;
      padding-right: 45px;
  "> Add</button>

</div>

<div>
  Note:<br>
  Average-data method, which involves estimating emissions for processing of sold intermediate products based on average secondary data, such as average emissions per process or per product.
</div>
</div></div> 



  <div class="flex flex-col sm:flex-row justify-end p-6 sm:p-8">
    <div class="flex items-center mt-4 sm:mt-0" style="margin: auto;">

       
        <button class="esg-back-btn btn dash-btn-1 btn-label order-first sm:order-last" mat-flat-button [color]="'primary'"
          style="border: 1px solid; color: #1c75bc; border-color: #1c75bc !important; background-color: #fff !important; border-radius: 0px !important; border-radius: 5px !important;"  (click)="onSave()">
            Submit
        </button>
    </div>
</div>

</div>