.upload-text {
    background-color: #1076bc;
    padding: 25px 0px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 8px 20px -2px rgb(158 152 153 / 50%);

}
.upload-text h3 {
   
    color: #fff;
    font-size: 25px;
    text-decoration: none !important;

}
.upload-text-1 h3 {
    text-align: left;
    margin-left: 50px;
   margin-top: 50px;
   font-size: 20px;
   color: #8bc541;
}
.upload-style {
    text-align: left;
    line-break: anywhere;
    font-size: 18px;
    margin: 10px 30px 25px 18px;

}
.upload-style a {
    color: #1c75bc !important;
}
.upload-style a:hover {
    color: #1a344b !important;
}


  a, a > span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
  }
  a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
  }

  .hover-4 {
    padding: 10px;
    display: inline-flex;
    overflow: hidden;
  }
  .hover-4:before, .hover-4:after {
    left: 0;
    width: 100%;
    height: 2px;
    background: #492059;
  }
  .hover-4:before {
    bottom: 0;
    transform: translateX(-100%);
  }
  .hover-4:after {
    top: 0;
    transform: translateX(100%);
  }
  .hover-4:hover:before, .hover-4:hover:after {
    transform: translateX(0);
  }