

<div class="upload-text">
  <h3 style="text-decoration: underline;">Uploaded Evidences</h3>
</div>



<div *ngFor="let groupItem of uploadedeviGrouped">

  <div class="upload-text-1">
    <h3>{{ groupItem.GuidanceNumber }}</h3>
    <h3 style="margin-top: 15px;">{{ groupItem.QuestionCode }}</h3>

  </div>
 
  <ul style="list-style: circle;">
    <li *ngFor="let objItem of groupItem.UploadedObj" class="upload-style hover-2">
      <!-- Display your UploadedObj data here as needed -->
      
      <a  class="hover-4"    [href]="objItem" target="_blank">{{ objItem }}</a>
    </li>
  </ul>
</div>


